In [1]:
# Python

In [10]:
a = 2

In [11]:
print(a)

2

In [12]:
b = 86869896896986968966866676757547467

In [13]:
print(b)

86869896896986968966866676757547467

In [14]:
c = 3.123345

In [15]:
c

3.123345

In [16]:
d = 'artificial intell'

In [17]:
d

'artificial intell'

In [18]:
e = True

In [19]:
e

True

In [20]:
f = None

In [21]:
print(f)

None

In [22]:
AI__a_101_course = 120

In [ ]:
import keyword

In [ ]:
print(keyword.kwlist)

In [ ]:
x = 90
y = x*10 + x**x

In [ ]:
print(y)

In [ ]:
# data types:

# integer
# string
# float

# arrays (scalar, vector, matrix, array, multidimensional array)

# list
# set
# dict
# tuple
# boolean
# null

In [ ]:
# multiple values, multiple variables

In [ ]:
t, d, f, h = 1,2,34,5

In [ ]:
print(t, d, f, h)

In [ ]:
t, d, f, _ = 1,2,34,5 # splitting train test data, retirving model parameters

In [ ]:
print(t, d, f)

In [ ]:
t, d, f, h = 1,2,34, None # feature engineering, feature selection

In [ ]:
print(t, d, f, h)

In [ ]:
d = [1,2,34,5]

In [ ]:
d

In [ ]:
# cascading assignment

In [ ]:
a = b = c = d = 1001

In [ ]:
a

In [ ]:
b

In [ ]:
c

In [ ]:
d

In [ ]:
b = 2001

In [ ]:
print(a,b,c,d)

In [ ]:
# this is possible if we are using a mutable data type

In [ ]:
x = y = [90,80,70]

In [ ]:
x

In [ ]:
y

In [ ]:
x = [1,2,3,4,5]

In [ ]:
y

In [ ]:
x

In [ ]:
# changing x as a list did not impact the y value

In [ ]:
x = y = [90,80,70]

In [ ]:
x

In [ ]:
y

In [ ]:
x[0] = 9000

In [ ]:
print(y)

In [ ]:
# list 
d = [['1','2'],[34.],[5]]

In [ ]:
d

In [ ]:
d[0][0]

In [24]:
d = ['1','2',34,5]

In [25]:
d

['1', '2', 34, 5]

In [26]:
d = [1.,2.0,34.8,5]

In [27]:
d

[1.0, 2.0, 34.8, 5]

In [1]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\bj845av\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.25.2)
Note: you may need to restart the kernel to use updated packages.

In [29]:
import numpy as np

In [30]:
d1 = np.array(d)

In [31]:
type(d1)

numpy.ndarray

In [32]:
d1

array([ 1. ,  2. , 34.8,  5. ])

In [33]:
d1.reshape(2,2).flatten()

array([ 1. ,  2. , 34.8,  5. ])

In [34]:
np.eye(10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [35]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [36]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [37]:
#

In [38]:
d = (5.11,78) # tuple

In [39]:
d

(5.11, 78)

In [40]:
{"name": ['pm','sm'],
"age": [12,23]}

{'name': ['pm', 'sm'], 'age': [12, 23]}

In [41]:
d1 = tuple(d1)

In [42]:
d1

(1.0, 2.0, 34.8, 5.0)

In [43]:
d = [True, False, True]

In [44]:
d

[True, False, True]

In [45]:
d = [0,1,0,1]

In [46]:
d

[0, 1, 0, 1]

In [47]:
t = ('we','are','going','to','learn','data')

In [48]:
t

('we', 'are', 'going', 'to', 'learn', 'data')

In [49]:
t[5]

'data'

In [50]:
text = '''I am going to learn data science in Reva Univ'''

In [51]:
text

'I am going to learn data science in Reva Univ'

In [52]:
t = text.split()

In [53]:
t

['I', 'am', 'going', 'to', 'learn', 'data', 'science', 'in', 'Reva', 'Univ']

In [54]:
t[-7:-6]

['to']

In [55]:
len(t)

10

In [56]:
len(t)

10

In [57]:
t[:8]

['I', 'am', 'going', 'to', 'learn', 'data', 'science', 'in']

In [58]:
t[:-2]

['I', 'am', 'going', 'to', 'learn', 'data', 'science', 'in']

In [59]:
# set = {12,23,(34,45,56)} # this line basically modifies the built-in function 'set'

In [60]:
# set

In [61]:
c = 8.767868678578578576746533577467458

In [62]:
np.round(np.pi,8)

3.14159265

In [63]:
# Problem:

# N-element tuple or sequence that need unpacking into a collection of variables
# how you are going to do ?

In [64]:
# Answer:

In [65]:
p = (78, 25)

In [66]:
p

(78, 25)

In [67]:
# assignment operator
x, y = p

In [68]:
print(x)

78

In [69]:
print(y)

25

In [70]:
data = ['APPLE',120,12.4,(2020,9,5),('morning','day', 'evening')]

In [71]:
data

['APPLE', 120, 12.4, (2020, 9, 5), ('morning', 'day', 'evening')]

In [72]:
type(data)

list

In [73]:
org_name, share_price, delta_change, date, timing = data

In [74]:
date

(2020, 9, 5)

In [75]:
org_name

'APPLE'

In [76]:
timing

('morning', 'day', 'evening')

In [77]:
org_name, share_price, delta_change, date,_ = data

In [78]:
print(_)

('morning', 'day', 'evening')

In [79]:
# Variables

In [80]:
data = 'i am learning data science'

In [81]:
data

'i am learning data science'

In [82]:
data = 'i am learning data science, also AI'

In [83]:
data

'i am learning data science, also AI'

In [84]:
data = 'i am learning data science'
print(data)
data = 'i am learning data science, also AI'
print(data)

i am learning data science
i am learning data science, also AI

In [85]:
# letters
# numbers
# underscores

In [86]:
# variables names cannot start with a number
# avoid spaces, replace them with underscore
# cannot use Keywords as variable names
#

In [87]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [88]:
keywords = ['False asSignment','Nan',' def','elif','return']

In [89]:
keywords

['False asSignment', 'Nan', ' def', 'elif', 'return']

In [90]:
for word in keywords:
    print(word.title())

False Assignment
Nan
 Def
Elif
Return

In [91]:
word.title()

'Return'

In [92]:
keywords[0]

'False asSignment'

In [93]:
keywords[4]

'return'

In [96]:
list1 = [12,23,34,45]
list2 = [0.2,5,'Python','#','!','@','None',None, False]

In [97]:
list2

[0.2, 5, 'Python', '#', '!', '@', 'None', None, False]

In [98]:
list2[5] = 'Twitter_Handle'

In [99]:
list2

[0.2, 5, 'Python', '#', '!', 'Twitter_Handle', 'None', None, False]

In [100]:
del list2[4]

In [101]:
list2

[0.2, 5, 'Python', '#', 'Twitter_Handle', 'None', None, False]

In [102]:
if 'python' in list2:
    print('Yes')
else:
    print('No')

No

In [103]:
# functions
# built-in, custom

In [104]:
a = [12,23,34,45,56,67,78,89,90]
a

[12, 23, 34, 45, 56, 67, 78, 89, 90]

In [105]:
np.mean(a)

54.888888888888886

In [106]:
def average(x):
    return np.sum(x)/len(x)

In [107]:
average(a)

54.888888888888886

In [108]:
# Mutability of list

In [109]:
np.eye(10)

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [110]:
list2

[0.2, 5, 'Python', '#', 'Twitter_Handle', 'None', None, False]

In [111]:
list2[3] = 99

In [112]:
list2

[0.2, 5, 'Python', 99, 'Twitter_Handle', 'None', None, False]

In [113]:
list2.append('data analysis')

In [114]:
list2

[0.2, 5, 'Python', 99, 'Twitter_Handle', 'None', None, False, 'data analysis']

In [115]:
list2.remove('None')

In [116]:
list2

[0.2, 5, 'Python', 99, 'Twitter_Handle', None, False, 'data analysis']

In [118]:
list21 = ['at', 'python','pat','abcd','e','c', 'data analysis']

In [119]:
list21

['at', 'python', 'pat', 'abcd', 'e', 'c', 'data analysis']

In [120]:
list21.sort(reverse=True)

In [121]:
#help(list21.sort)

In [122]:
list21

['python', 'pat', 'e', 'data analysis', 'c', 'at', 'abcd']

In [123]:
list21.sort(key=len)

In [124]:
list21

['e', 'c', 'at', 'pat', 'abcd', 'python', 'data analysis']

In [125]:
sorted(list21,key=len)

['e', 'c', 'at', 'pat', 'abcd', 'python', 'data analysis']

In [126]:
list21

['e', 'c', 'at', 'pat', 'abcd', 'python', 'data analysis']

In [127]:
list21.sort(reverse=False)

In [128]:
list21

['abcd', 'at', 'c', 'data analysis', 'e', 'pat', 'python']

In [129]:
list22 = [0.2,5,6,12,3,45,5]

In [130]:
list22.sort()

In [131]:
list22

[0.2, 3, 5, 5, 6, 12, 45]

In [132]:
sorted(list22)

[0.2, 3, 5, 5, 6, 12, 45]

In [134]:
numbers = (2,4,1,2,5,6)

In [135]:
numbers

(2, 4, 1, 2, 5, 6)

In [136]:
sorted(numbers)

[1, 2, 2, 4, 5, 6]

In [137]:
numbers = {2,4,1,2,5,6}

In [138]:
numbers

{1, 2, 4, 5, 6}

In [139]:
sorted(numbers,reverse=True)

[6, 5, 4, 2, 1]

In [140]:
dt = {"ram":1, "alpha": 2, "beta":4, "data": 5, "gama": 6}

In [141]:
dt

{'ram': 1, 'alpha': 2, 'beta': 4, 'data': 5, 'gama': 6}

In [142]:
sorted(dt.values(),reverse=True)

[6, 5, 4, 2, 1]

In [143]:
sorted(dt.keys(),reverse=True)

['ram', 'gama', 'data', 'beta', 'alpha']

In [144]:
sorted(dt.items(),reverse=True)

[('ram', 1), ('gama', 6), ('data', 5), ('beta', 4), ('alpha', 2)]

In [145]:
sorted(dt.items(),reverse=False)

[('alpha', 2), ('beta', 4), ('data', 5), ('gama', 6), ('ram', 1)]

In [146]:
import os

In [147]:
import pandas as pd

In [148]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/bag-of-words/vocab.nips.txt',sep='\s+')

In [149]:
'access' in list(df.a2i)

True

In [150]:
df.head()

       a2i
0      aaa
1     aaai
2     aapo
3      aat
4  aazhang

In [151]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00591/name_gender_dataset.csv')

In [152]:
df.head()

      Name Gender    Count  Probability
0    James      M  5304407     0.014517
1     John      M  5260831     0.014398
2   Robert      M  4970386     0.013603
3  Michael      M  4579950     0.012534
4  William      M  4226608     0.011567

In [153]:
df[df.Name == 'James']

       Name Gender    Count  Probability
0     James      M  5304407     0.014517
1615  James      F    23963     0.000066

In [154]:
# Problem statement:

In [155]:
# Two columns 
ProbA = [0.01,0.20,0.21,0.2,0.3,0.5,0.49,0.51]
ProbB = [0.99,0.80,0.79,0.8,0.7,0.5,0.51,0.49]

In [156]:
ProbA

[0.01, 0.2, 0.21, 0.2, 0.3, 0.5, 0.49, 0.51]

In [157]:
ProbB

[0.99, 0.8, 0.79, 0.8, 0.7, 0.5, 0.51, 0.49]

In [158]:
# ProbA= Approved
# ProbB= Canceled

In [159]:
# if any two sum of probabilities are equal to 0.7 or 0.8 (threshold), then return True else False

In [160]:
#example
list123 = [0.10,0.15,0.30,0.7]

In [161]:
threshold = 0.80
# (0.10,0.7) = 0.8, return True or False

In [162]:
# write a custom function for the above task

In [163]:
# Close Solution, values and all combination
def get_sum(num,thres):
    for i in range(len(num)):
        for j in range(i+1,len(num)):
            if num[i]+num[j] == thres:
                return(i,j)

In [164]:
np.round((0.10+0.70),2)

0.8

In [165]:
get_sum(list123,0.8)

In [166]:
get_sum(ProbA,0.8)

(4, 5)

In [167]:
ProbA[4] + ProbA[5]

0.8

In [168]:
0.3 + 0.5

0.8

In [169]:
0.1 + 0.7

0.7999999999999999

In [170]:
# Think about the issues

In [171]:
# Near Perfect Solution- need to print all such instances
def findAmb(threshold, probList) :
    list2 = [];
    for num in probList:
        #print(num)
        dif = threshold - num
        #print(dif)
        if( round(dif, 2) in probList):
            list2.append(num)
    return list2

In [172]:
findAmb(0.8,ProbA)

[0.3, 0.5]

In [173]:
# Best Solution
#helper func for probablity
def func_prob_check(class_arr,thres):
    count=0
    for i in class_arr:
        #print(i)
        count= count +1
        #print(count,len(class_arr)-count)
        child_arr =class_arr[count:]
        #print(child_arr)
        for j in child_arr:
        #print (j)
            if i!=j:
                if (i+j) >= thres:
                    print ("Prob Threshold values : (" , i ,",",j ,") =" , i+j)

In [174]:
func_prob_check(ProbA,0.8)

Prob Threshold values : ( 0.3 , 0.5 ) = 0.8
Prob Threshold values : ( 0.3 , 0.51 ) = 0.81
Prob Threshold values : ( 0.5 , 0.49 ) = 0.99
Prob Threshold values : ( 0.5 , 0.51 ) = 1.01
Prob Threshold values : ( 0.49 , 0.51 ) = 1.0

In [175]:
def my_calc():
    bmi = 25
    return bmi
print(my_calc())

25

In [176]:
bmi = 26
if bmi > 25: print('over-weight'),print('obese')
else:print('normal')

over-weight
obese

In [177]:
bmi = 25
if bmi > 25: print('over-weight'),print('obese')
else:print('normal')

normal

In [178]:
# data type conversion

In [179]:
a = '123'

In [180]:
type(a)

str

In [181]:
num = int(a)

In [182]:
type(num)

int

In [183]:
b = float(a)
type(b)

float

In [184]:
# mutable object and immutable object

In [185]:
ProbA

[0.01, 0.2, 0.21, 0.2, 0.3, 0.5, 0.49, 0.51]

In [186]:
type(ProbA)

list

In [187]:
def average(x):
    return np.mean(x)

In [188]:
average(ProbA)

0.3025

In [189]:
def somef():
    x = (10,11)
    g(x)
    x == (10,11)

In [190]:
a = 10
a = a + 12

In [191]:
a

22

In [192]:
# Immutable data types
# int, long, float, complex
# str, bytes, tuple

In [193]:
# mutable data types
# list
# set
# dict
# bytearray

In [194]:
def f(m):
    m.append(3)
    
x = [1,2]
f(x)
x == [1,2]

False

In [195]:
x

[1, 2, 3]

In [197]:
names = list(df.Name)
names

['James',
 'John',
 'Robert',
 'Michael',
 'William',
 'Mary',
 'David',
 'Joseph',
 'Richard',
 'Charles',
 'Thomas',
 'Christopher',
 'Daniel',
 'Matthew',
 'Elizabeth',
 'Patricia',
 'Jennifer',
 'Anthony',
 'George',
 'Linda',
 'Barbara',
 'Donald',
 'Paul',
 'Mark',
 'Andrew',
 'Steven',
 'Kenneth',
 'Edward',
 'Joshua',
 'Margaret',
 'Brian',
 'Kevin',
 'Jessica',
 'Sarah',
 'Susan',
 'Timothy',
 'Dorothy',
 'Jason',
 'Ronald',
 'Helen',
 'Ryan',
 'Jeffrey',
 'Karen',
 'Nancy',
 'Betty',
 'Lisa',
 'Jacob',
 'Nicholas',
 'Ashley',
 'Eric',
 'Frank',
 'Gary',
 'Anna',
 'Stephen',
 'Jonathan',
 'Sandra',
 'Emily',
 'Amanda',
 'Kimberly',
 'Michelle',
 'Donna',
 'Justin',
 'Laura',
 'Ruth',
 'Carol',
 'Brandon',
 'Larry',
 'Scott',
 'Melissa',
 'Stephanie',
 'Benjamin',
 'Raymond',
 'Samuel',
 'Rebecca',
 'Deborah',
 'Gregory',
 'Sharon',
 'Kathleen',
 'Amy',
 'Cynthia',
 'Alexander',
 'Patrick',
 'Jack',
 'Henry',
 'Angela',
 'Shirley',
 'Emma',
 'Catherine',
 'Katherine',
 'Virginia',
 'Nicole',
 'Dennis',
 'Walter',
 'Tyler',
 'Peter',
 'Brenda',
 'Aaron',
 'Jerry',
 'Christine',
 'Samantha',
 'Adam',
 'Rachel',
 'Pamela',
 'Frances',
 'Nathan',
 'Douglas',
 'Heather',
 'Evelyn',
 'Jose',
 'Alice',
 'Janet',
 'Maria',
 'Zachary',
 'Carolyn',
 'Debra',
 'Harold',
 'Martha',
 'Marie',
 'Arthur',
 'Julie',
 'Kyle',
 'Diane',
 'Christina',
 'Victoria',
 'Joyce',
 'Carl',
 'Lauren',
 'Grace',
 'Kelly',
 'Albert',
 'Rose',
 'Megan',
 'Joan',
 'Jeremy',
 'Ann',
 'Julia',
 'Kathryn',
 'Lawrence',
 'Olivia',
 'Judith',
 'Doris',
 'Jean',
 'Andrea',
 'Gerald',
 'Sean',
 'Joe',
 'Keith',
 'Sara',
 'Cheryl',
 'Hannah',
 'Mildred',
 'Willie',
 'Lillian',
 'Roger',
 'Jesse',
 'Jacqueline',
 'Ethan',
 'Terry',
 'Christian',
 'Harry',
 'Teresa',
 'Austin',
 'Gloria',
 'Ralph',
 'Janice',
 'Roy',
 'Theresa',
 'Amber',
 'Danielle',
 'Noah',
 'Bryan',
 'Jordan',
 'Louis',
 'Brittany',
 'Bruce',
 'Madison',
 'Judy',
 'Billy',
 'Dylan',
 'Denise',
 'Beverly',
 'Eugene',
 'Jane',
 'Marilyn',
 'Abigail',
 'Diana',
 'Charlotte',
 'Natalie',
 'Tiffany',
 'Wayne',
 'Russell',
 'Alan',
 'Crystal',
 'Sophia',
 'Irene',
 'Juan',
 'Ruby',
 'Gabriel',
 'Philip',
 'Annie',
 'Kayla',
 'Vincent',
 'Lori',
 'Howard',
 'Alexis',
 'Erin',
 'Fred',
 'Logan',
 'Isabella',
 'Tammy',
 'Louise',
 'Florence',
 'Randy',
 'Bradley',
 'Kathy',
 'Lois',
 'Anne',
 'Bonnie',
 'Victor',
 'Taylor',
 'Travis',
 'Phyllis',
 'Shawn',
 'Phillip',
 'Shannon',
 'Martin',
 'Johnny',
 'Craig',
 'Allison',
 'Bobby',
 'Alyssa',
 'Ella',
 'Josephine',
 'Ernest',
 'Stanley',
 'Cody',
 'Clarence',
 'Tina',
 'Elijah',
 'Leonard',
 'Carlos',
 'Dawn',
 'Robin',
 'Edna',
 'Cameron',
 'Peggy',
 'Caleb',
 'Eleanor',
 'Isaac',
 'Todd',
 'Jamie',
 'Earl',
 'Francis',
 'Jimmy',
 'Mason',
 'Danny',
 'Audrey',
 'Rita',
 'Luke',
 'Dale',
 'Alex',
 'Paula',
 'Clara',
 'Wanda',
 'Joel',
 'Evan',
 'Norma',
 'Luis',
 'Courtney',
 'Ethel',
 'Nathaniel',
 'Wendy',
 'Ellen',
 'Leslie',
 'Marjorie',
 'Vanessa',
 'Allen',
 'Valerie',
 'Carrie',
 'Ava',
 'Eva',
 'Frederick',
 'Curtis',
 'Edith',
 'Connie',
 'Lucas',
 'Gladys',
 'Cindy',
 'Tracy',
 'Elaine',
 'Hazel',
 'Monica',
 'Norman',
 'Esther',
 'Melanie',
 'Brianna',
 'Antonio',
 'Jasmine',
 'Chad',
 'Katie',
 'Tony',
 'Rodney',
 'Glenn',
 'Marvin',
 'April',
 'Derek',
 'Erica',
 'Ian',
 'Adrian',
 'Theodore',
 'Alexandra',
 'Marcus',
 'Alfred',
 'Jackson',
 'Edwin',
 'Melvin',
 'Sylvia',
 'Sheila',
 'Alicia',
 'Steve',
 'Leah',
 'Hunter',
 'Lee',
 'Jeffery',
 'Kristen',
 'Caroline',
 'Mia',
 'Sherry',
 'Angel',
 'Jesus',
 'Dustin',
 'Herbert',
 'Pauline',
 'Michele',
 'Veronica',
 'Ricky',
 'Liam',
 'Wesley',
 'Thelma',
 'Suzanne',
 'Lucille',
 'Morgan',
 'Joanne',
 'Troy',
 'Chloe',
 'Anita',
 'Connor',
 'Isaiah',
 'Julian',
 'Jared',
 'Holly',
 'Lorraine',
 'Jayden',
 'Jill',
 'Geraldine',
 'Rhonda',
 'Dolores',
 'Eddie',
 'Vivian',
 'Darlene',
 'Aiden',
 'Calvin',
 'Shane',
 'Leo',
 'Juanita',
 'Sally',
 'Lucy',
 'Bertha',
 'Gail',
 'Oscar',
 'Mike',
 'Randall',
 'Ray',
 'Bernard',
 'Jeremiah',
 'Dana',
 'Brooke',
 'Leroy',
 'Amelia',
 'Corey',
 'June',
 'Owen',
 'Claire',
 'Jay',
 'Kristin',
 'Beatrice',
 'Clifford',
 'Marion',
 'Renee',
 'Tara',
 'Madeline',
 'Barry',
 'Debbie',
 'Eileen',
 'Manuel',
 'Ida',
 'Lynn',
 'Blake',
 'Dean',
 'Kim',
 'Bernice',
 'Ronnie',
 'Warren',
 'Gavin',
 'Miguel',
 'Cassandra',
 'Regina',
 'Elsie',
 'Jo',
 'Tommy',
 'Trevor',
 'Stella',
 'Gertrude',
 'Loretta',
 'Rosa',
 'Sydney',
 'Oliver',
 'Chelsea',
 'Roberta',
 'Savannah',
 'Lindsey',
 'Brett',
 'Colleen',
 'Gordon',
 'Mitchell',
 'Charlie',
 'Dominic',
 'Jessie',
 'Annette',
 'Molly',
 'Cathy',
 'Stacy',
 'Laurie',
 'Lydia',
 'Jon',
 'Chase',
 'Leon',
 'Bessie',
 'Seth',
 'Kaitlyn',
 'Don',
 'Naomi',
 'Jeanette',
 'Hailey',
 'Jeanne',
 'Darrell',
 'Lloyd',
 'Carter',
 'Jerome',
 'Erik',
 'Alvin',
 'Beth',
 'Jenna',
 'Yvonne',
 'Rosemary',
 'Landon',
 'Bill',
 'Haley',
 'Alma',
 'Wyatt',
 'Micheal',
 'Agnes',
 'Gina',
 'Minnie',
 'Sebastian',
 'Devin',
 'Georgia',
 'Stacey',
 'Pearl',
 'Vicki',
 'Joann',
 'Max',
 'Kelsey',
 'Lillie',
 'Levi',
 'Lily',
 'Floyd',
 'Carla',
 'Edgar',
 'Lewis',
 'Jim',
 'Nora',
 'Maureen',
 'Brent',
 'Heidi',
 'Derrick',
 'Mario',
 'Nellie',
 'Lindsay',
 'Kristina',
 'Shelby',
 'Terri',
 'Destiny',
 'Vernon',
 'Paige',
 'Chris',
 'Marc',
 'Violet',
 'Willie',
 'Arlene',
 'Sue',
 'Cole',
 'Daisy',
 'Sabrina',
 'Ricardo',
 'Carmen',
 'Clyde',
 'Marian',
 'Vera',
 'Constance',
 'Deanna',
 'Wilma',
 'Colin',
 'Melinda',
 'Tom',
 'Lena',
 'Tamara',
 'Joy',
 'Faith',
 'Clayton',
 'Maurice',
 'Gabrielle',
 'Cory',
 'Franklin',
 'Ivan',
 'Xavier',
 'Charlene',
 'Katelyn',
 'Francisco',
 'Sofia',
 'Garrett',
 'Myrtle',
 'Cora',
 'Jordan',
 'Alejandro',
 'Herman',
 'Mabel',
 'Jorge',
 'Marcia',
 'Grant',
 'Marlene',
 'Erika',
 'Zoe',
 'Mackenzie',
 'Glen',
 'Viola',
 'Gilbert',
 'Jake',
 'Mattie',
 'Nina',
 'Claudia',
 'Lester',
 'Kaylee',
 'Avery',
 'Elmer',
 'Tanya',
 'Andre',
 'Alexa',
 'Jennie',
 'Autumn',
 'Sadie',
 'Gene',
 'Sam',
 'Marissa',
 'Colton',
 'Spencer',
 'Eli',
 'Alison',
 'Caitlin',
 'Harvey',
 'Tonya',
 'Priscilla',
 'Addison',
 'Isabel',
 'Angelina',
 'Brayden',
 'Sophie',
 'Chester',
 'Jeff',
 'Gwendolyn',
 'Casey',
 'Bryce',
 'Patsy',
 'Tristan',
 'Gabriella',
 'Taylor',
 'Leslie',
 'Maggie',
 'Miranda',
 'Darren',
 'Delores',
 'Milton',
 'Duane',
 'Preston',
 'Kylie',
 'Reginald',
 'Genevieve',
 'Ruben',
 'Aidan',
 'Brandy',
 'Yolanda',
 'Maxine',
 'Aubrey',
 'Jessie',
 'Roberto',
 'Carole',
 'Jimmie',
 'Joanna',
 'Neil',
 'Miriam',
 'Natasha',
 'Carson',
 'Katrina',
 'Leona',
 'Glenda',
 'Lance',
 'Mae',
 'Mariah',
 'Vickie',
 'Brandi',
 'Whitney',
 'Jocelyn',
 'Josiah',
 'Everett',
 'Riley',
 'Diego',
 'Parker',
 'Cecil',
 'Kara',
 'Dan',
 'Meghan',
 'Dora',
 'Brooklyn',
 'Margie',
 'Allan',
 'Bethany',
 'Eduardo',
 'Ana',
 'Hector',
 'Arnold',
 'Marsha',
 'Karl',
 'Nolan',
 'Makayla',
 'Hayden',
 'Toni',
 'Riley',
 'Christy',
 'Clinton',
 'Billie',
 'Johnnie',
 'Dianne',
 'Ariana',
 'Kendra',
 'Alexandria',
 'Sierra',
 'Bailey',
 'Javier',
 'Penny',
 'Maya',
 'Melody',
 'Angel',
 'Roland',
 'Omar',
 'Hattie',
 'Johnathan',
 'Kay',
 'Cecilia',
 'Fernando',
 'Terry',
 'Darryl',
 'Brendan',
 'Felicia',
 'Maxwell',
 'Jenny',
 'Micah',
 'Isabelle',
 'Ada',
 'Briana',
 'Tanner',
 'Marguerite',
 'Jamie',
 'Lonnie',
 'Angelica',
 'Marshall',
 'Bridget',
 'Tracey',
 'Bob',
 'Abraham',
 'Arianna',
 'Madelyn',
 'Adriana',
 'Andy',
 'Brady',
 'Guy',
 'Nicolas',
 'Jackie',
 'Candace',
 'Hope',
 'Karla',
 'Claude',
 'Pedro',
 'Jillian',
 'Brittney',
 'Rachael',
 'Damian',
 'Lola',
 'Ross',
 'Kate',
 'Layla',
 'Jade',
 'Harriet',
 'Bobbie',
 'Misty',
 'Cooper',
 'Kurt',
 'Kristine',
 'Aaliyah',
 'Geneva',
 'Desiree',
 'Dakota',
 'Shelly',
 'Becky',
 'Jacquelyn',
 'Kelly',
 'Blanche',
 'Velma',
 'Krystal',
 'Raul',
 'Brad',
 'Ben',
 'Sherri',
 'Andres',
 'Susie',
 'Fannie',
 'Sidney',
 'Zoey',
 'Miles',
 'Breanna',
 'Monique',
 'Hugh',
 'Lula',
 'Iris',
 'Mathew',
 'Byron',
 'Jodi',
 'Casey',
 'Tim',
 'Elias',
 'Rick',
 'Wallace',
 'Harper',
 'Summer',
 'Grayson',
 'Dalton',
 'Lynda',
 'Harrison',
 'Krista',
 'Hilda',
 'Tyrone',
 'Jaxon',
 'Rafael',
 'Gabriela',
 'Nevaeh',
 'Sheryl',
 'Drew',
 'Kristi',
 'Rosie',
 'Elena',
 'Angelo',
 'Eunice',
 'Shelley',
 'Nelson',
 'Antoinette',
 'Dwayne',
 'Dwight',
 'Kelli',
 'Julius',
 'Jackie',
 'Trinity',
 'Shaun',
 'Meredith',
 'Kaleb',
 'Sergio',
 'Collin',
 'Rebekah',
 'Greg',
 'Emmanuel',
 'Mamie',
 'Willard',
 'Ramon',
 'Perry',
 'Bianca',
 'Kristy',
 'Candice',
 'Jaden',
 'Belinda',
 'Gracie',
 'Devon',
 'Ted',
 'Terrence',
 'Janie',
 'Stuart',
 'Armando',
 'Rosalie',
 'Marco',
 'Cesar',
 'Ayden',
 'Ashton',
 'Irma',
 'Peyton',
 'Wade',
 'Terrance',
 'Erick',
 'Freddie',
 'Beulah',
 'Felix',
 'Kennedy',
 'Marion',
 'Ariel',
 'Brody',
 'Virgil',
 'Adrienne',
 'Roman',
 'Morris',
 'Robyn',
 'Clifton',
 'Kent',
 'Jonathon',
 'Jaime',
 'Kirk',
 'Sandy',
 'Jeannette',
 'Alberta',
 'Elise',
 'Verna',
 'Giovanni',
 'Camila',
 'Simon',
 'Carly',
 'Faye',
 'Sonia',
 'Camille',
 'Opal',
 'Nichole',
 'Ramona',
 'Cheyenne',
 'Scarlett',
 'Flora',
 'Sonya',
 'Jace',
 'Della',
 'Leonardo',
 'Penelope',
 'Lorenzo',
 'Genesis',
 'Jonah',
 'Daryl',
 'Lila',
 'Kristopher',
 'Natalia',
 'Malcolm',
 'Gianna',
 'Inez',
 'Skylar',
 'Valeria',
 'Marianne',
 'Damon',
 'Lincoln',
 'Luther',
 'Ellie',
 'Guadalupe',
 'Fredrick',
 'Jada',
 'Yvette',
 'Dillon',
 'Dallas',
 'Alexis',
 'Marcella',
 'Geoffrey',
 'Dave',
 'Hudson',
 'Dominick',
 'Bryson',
 'Angie',
 'Lynne',
 'Lee',
 'Kari',
 'Bella',
 'Cristian',
 'Maryann',
 'Gayle',
 'Tabitha',
 'Sheri',
 'Patty',
 'Olga',
 'Rickey',
 'Israel',
 'Alisha',
 'Alberto',
 'Santiago',
 'Tracy',
 'Julio',
 'Kaden',
 'Abby',
 'Alana',
 'Daniela',
 'Kaitlin',
 'Myra',
 'Roxanne',
 'Caden',
 'Damien',
 'Annabelle',
 'Karina',
 'Donnie',
 'Kendall',
 'Homer',
 'Lyle',
 'Mallory',
 'Callie',
 'Juliana',
 'Josie',
 'Celeste',
 'Mckenzie',
 'Adeline',
 'Cassidy',
 'Gerard',
 'Aurora',
 'Rex',
 'Enrique',
 'Otis',
 'Lilly',
 'Gage',
 'Jody',
 'Earnest',
 'Donovan',
 'Janelle',
 'Serenity',
 'Trenton',
 'Aimee',
 'Kirsten',
 'Asher',
 'Hubert',
 'Dianna',
 'Avery',
 'Cecelia',
 'Dominique',
 'Mya',
 'Emmett',
 'Olive',
 'Wilbur',
 'Lacey',
 'Liliana',
 'Mateo',
 'Salvatore',
 'Cara',
 'Muriel',
 'Alfredo',
 'Neal',
 'Mikayla',
 'Eliza',
 'Hayley',
 'Nadine',
 'Bernadette',
 'Celia',
 'Arturo',
 'Cristina',
 'Jan',
 'Jordyn',
 'Lana',
 'Erma',
 'Dana',
 'Jaclyn',
 'Vicky',
 'Caitlyn',
 'Alec',
 'Gretchen',
 'Leland',
 'Johanna',
 'Horace',
 'Shannon',
 'Jaime',
 'Colby',
 'Joey',
 'Abel',
 'Traci',
 'Kellie',
 'Estelle',
 'Kerry',
 'Ira',
 'Conner',
 'Payton',
 'Wendell',
 'Ezra',
 'Trent',
 'Eloise',
 'Rudolph',
 'Aria',
 'Ivy',
 'Graham',
 ...]

In [198]:
'Charles' in names

True

In [199]:
names.index('Charles')

9

In [200]:
names[9]

'Charles'

In [201]:
names.append('Ann')

In [202]:
names.index('Ann')

134

In [203]:
names.insert(0,'Bob')

In [204]:
names

['Bob',
 'James',
 'John',
 'Robert',
 'Michael',
 'William',
 'Mary',
 'David',
 'Joseph',
 'Richard',
 'Charles',
 'Thomas',
 'Christopher',
 'Daniel',
 'Matthew',
 'Elizabeth',
 'Patricia',
 'Jennifer',
 'Anthony',
 'George',
 'Linda',
 'Barbara',
 'Donald',
 'Paul',
 'Mark',
 'Andrew',
 'Steven',
 'Kenneth',
 'Edward',
 'Joshua',
 'Margaret',
 'Brian',
 'Kevin',
 'Jessica',
 'Sarah',
 'Susan',
 'Timothy',
 'Dorothy',
 'Jason',
 'Ronald',
 'Helen',
 'Ryan',
 'Jeffrey',
 'Karen',
 'Nancy',
 'Betty',
 'Lisa',
 'Jacob',
 'Nicholas',
 'Ashley',
 'Eric',
 'Frank',
 'Gary',
 'Anna',
 'Stephen',
 'Jonathan',
 'Sandra',
 'Emily',
 'Amanda',
 'Kimberly',
 'Michelle',
 'Donna',
 'Justin',
 'Laura',
 'Ruth',
 'Carol',
 'Brandon',
 'Larry',
 'Scott',
 'Melissa',
 'Stephanie',
 'Benjamin',
 'Raymond',
 'Samuel',
 'Rebecca',
 'Deborah',
 'Gregory',
 'Sharon',
 'Kathleen',
 'Amy',
 'Cynthia',
 'Alexander',
 'Patrick',
 'Jack',
 'Henry',
 'Angela',
 'Shirley',
 'Emma',
 'Catherine',
 'Katherine',
 'Virginia',
 'Nicole',
 'Dennis',
 'Walter',
 'Tyler',
 'Peter',
 'Brenda',
 'Aaron',
 'Jerry',
 'Christine',
 'Samantha',
 'Adam',
 'Rachel',
 'Pamela',
 'Frances',
 'Nathan',
 'Douglas',
 'Heather',
 'Evelyn',
 'Jose',
 'Alice',
 'Janet',
 'Maria',
 'Zachary',
 'Carolyn',
 'Debra',
 'Harold',
 'Martha',
 'Marie',
 'Arthur',
 'Julie',
 'Kyle',
 'Diane',
 'Christina',
 'Victoria',
 'Joyce',
 'Carl',
 'Lauren',
 'Grace',
 'Kelly',
 'Albert',
 'Rose',
 'Megan',
 'Joan',
 'Jeremy',
 'Ann',
 'Julia',
 'Kathryn',
 'Lawrence',
 'Olivia',
 'Judith',
 'Doris',
 'Jean',
 'Andrea',
 'Gerald',
 'Sean',
 'Joe',
 'Keith',
 'Sara',
 'Cheryl',
 'Hannah',
 'Mildred',
 'Willie',
 'Lillian',
 'Roger',
 'Jesse',
 'Jacqueline',
 'Ethan',
 'Terry',
 'Christian',
 'Harry',
 'Teresa',
 'Austin',
 'Gloria',
 'Ralph',
 'Janice',
 'Roy',
 'Theresa',
 'Amber',
 'Danielle',
 'Noah',
 'Bryan',
 'Jordan',
 'Louis',
 'Brittany',
 'Bruce',
 'Madison',
 'Judy',
 'Billy',
 'Dylan',
 'Denise',
 'Beverly',
 'Eugene',
 'Jane',
 'Marilyn',
 'Abigail',
 'Diana',
 'Charlotte',
 'Natalie',
 'Tiffany',
 'Wayne',
 'Russell',
 'Alan',
 'Crystal',
 'Sophia',
 'Irene',
 'Juan',
 'Ruby',
 'Gabriel',
 'Philip',
 'Annie',
 'Kayla',
 'Vincent',
 'Lori',
 'Howard',
 'Alexis',
 'Erin',
 'Fred',
 'Logan',
 'Isabella',
 'Tammy',
 'Louise',
 'Florence',
 'Randy',
 'Bradley',
 'Kathy',
 'Lois',
 'Anne',
 'Bonnie',
 'Victor',
 'Taylor',
 'Travis',
 'Phyllis',
 'Shawn',
 'Phillip',
 'Shannon',
 'Martin',
 'Johnny',
 'Craig',
 'Allison',
 'Bobby',
 'Alyssa',
 'Ella',
 'Josephine',
 'Ernest',
 'Stanley',
 'Cody',
 'Clarence',
 'Tina',
 'Elijah',
 'Leonard',
 'Carlos',
 'Dawn',
 'Robin',
 'Edna',
 'Cameron',
 'Peggy',
 'Caleb',
 'Eleanor',
 'Isaac',
 'Todd',
 'Jamie',
 'Earl',
 'Francis',
 'Jimmy',
 'Mason',
 'Danny',
 'Audrey',
 'Rita',
 'Luke',
 'Dale',
 'Alex',
 'Paula',
 'Clara',
 'Wanda',
 'Joel',
 'Evan',
 'Norma',
 'Luis',
 'Courtney',
 'Ethel',
 'Nathaniel',
 'Wendy',
 'Ellen',
 'Leslie',
 'Marjorie',
 'Vanessa',
 'Allen',
 'Valerie',
 'Carrie',
 'Ava',
 'Eva',
 'Frederick',
 'Curtis',
 'Edith',
 'Connie',
 'Lucas',
 'Gladys',
 'Cindy',
 'Tracy',
 'Elaine',
 'Hazel',
 'Monica',
 'Norman',
 'Esther',
 'Melanie',
 'Brianna',
 'Antonio',
 'Jasmine',
 'Chad',
 'Katie',
 'Tony',
 'Rodney',
 'Glenn',
 'Marvin',
 'April',
 'Derek',
 'Erica',
 'Ian',
 'Adrian',
 'Theodore',
 'Alexandra',
 'Marcus',
 'Alfred',
 'Jackson',
 'Edwin',
 'Melvin',
 'Sylvia',
 'Sheila',
 'Alicia',
 'Steve',
 'Leah',
 'Hunter',
 'Lee',
 'Jeffery',
 'Kristen',
 'Caroline',
 'Mia',
 'Sherry',
 'Angel',
 'Jesus',
 'Dustin',
 'Herbert',
 'Pauline',
 'Michele',
 'Veronica',
 'Ricky',
 'Liam',
 'Wesley',
 'Thelma',
 'Suzanne',
 'Lucille',
 'Morgan',
 'Joanne',
 'Troy',
 'Chloe',
 'Anita',
 'Connor',
 'Isaiah',
 'Julian',
 'Jared',
 'Holly',
 'Lorraine',
 'Jayden',
 'Jill',
 'Geraldine',
 'Rhonda',
 'Dolores',
 'Eddie',
 'Vivian',
 'Darlene',
 'Aiden',
 'Calvin',
 'Shane',
 'Leo',
 'Juanita',
 'Sally',
 'Lucy',
 'Bertha',
 'Gail',
 'Oscar',
 'Mike',
 'Randall',
 'Ray',
 'Bernard',
 'Jeremiah',
 'Dana',
 'Brooke',
 'Leroy',
 'Amelia',
 'Corey',
 'June',
 'Owen',
 'Claire',
 'Jay',
 'Kristin',
 'Beatrice',
 'Clifford',
 'Marion',
 'Renee',
 'Tara',
 'Madeline',
 'Barry',
 'Debbie',
 'Eileen',
 'Manuel',
 'Ida',
 'Lynn',
 'Blake',
 'Dean',
 'Kim',
 'Bernice',
 'Ronnie',
 'Warren',
 'Gavin',
 'Miguel',
 'Cassandra',
 'Regina',
 'Elsie',
 'Jo',
 'Tommy',
 'Trevor',
 'Stella',
 'Gertrude',
 'Loretta',
 'Rosa',
 'Sydney',
 'Oliver',
 'Chelsea',
 'Roberta',
 'Savannah',
 'Lindsey',
 'Brett',
 'Colleen',
 'Gordon',
 'Mitchell',
 'Charlie',
 'Dominic',
 'Jessie',
 'Annette',
 'Molly',
 'Cathy',
 'Stacy',
 'Laurie',
 'Lydia',
 'Jon',
 'Chase',
 'Leon',
 'Bessie',
 'Seth',
 'Kaitlyn',
 'Don',
 'Naomi',
 'Jeanette',
 'Hailey',
 'Jeanne',
 'Darrell',
 'Lloyd',
 'Carter',
 'Jerome',
 'Erik',
 'Alvin',
 'Beth',
 'Jenna',
 'Yvonne',
 'Rosemary',
 'Landon',
 'Bill',
 'Haley',
 'Alma',
 'Wyatt',
 'Micheal',
 'Agnes',
 'Gina',
 'Minnie',
 'Sebastian',
 'Devin',
 'Georgia',
 'Stacey',
 'Pearl',
 'Vicki',
 'Joann',
 'Max',
 'Kelsey',
 'Lillie',
 'Levi',
 'Lily',
 'Floyd',
 'Carla',
 'Edgar',
 'Lewis',
 'Jim',
 'Nora',
 'Maureen',
 'Brent',
 'Heidi',
 'Derrick',
 'Mario',
 'Nellie',
 'Lindsay',
 'Kristina',
 'Shelby',
 'Terri',
 'Destiny',
 'Vernon',
 'Paige',
 'Chris',
 'Marc',
 'Violet',
 'Willie',
 'Arlene',
 'Sue',
 'Cole',
 'Daisy',
 'Sabrina',
 'Ricardo',
 'Carmen',
 'Clyde',
 'Marian',
 'Vera',
 'Constance',
 'Deanna',
 'Wilma',
 'Colin',
 'Melinda',
 'Tom',
 'Lena',
 'Tamara',
 'Joy',
 'Faith',
 'Clayton',
 'Maurice',
 'Gabrielle',
 'Cory',
 'Franklin',
 'Ivan',
 'Xavier',
 'Charlene',
 'Katelyn',
 'Francisco',
 'Sofia',
 'Garrett',
 'Myrtle',
 'Cora',
 'Jordan',
 'Alejandro',
 'Herman',
 'Mabel',
 'Jorge',
 'Marcia',
 'Grant',
 'Marlene',
 'Erika',
 'Zoe',
 'Mackenzie',
 'Glen',
 'Viola',
 'Gilbert',
 'Jake',
 'Mattie',
 'Nina',
 'Claudia',
 'Lester',
 'Kaylee',
 'Avery',
 'Elmer',
 'Tanya',
 'Andre',
 'Alexa',
 'Jennie',
 'Autumn',
 'Sadie',
 'Gene',
 'Sam',
 'Marissa',
 'Colton',
 'Spencer',
 'Eli',
 'Alison',
 'Caitlin',
 'Harvey',
 'Tonya',
 'Priscilla',
 'Addison',
 'Isabel',
 'Angelina',
 'Brayden',
 'Sophie',
 'Chester',
 'Jeff',
 'Gwendolyn',
 'Casey',
 'Bryce',
 'Patsy',
 'Tristan',
 'Gabriella',
 'Taylor',
 'Leslie',
 'Maggie',
 'Miranda',
 'Darren',
 'Delores',
 'Milton',
 'Duane',
 'Preston',
 'Kylie',
 'Reginald',
 'Genevieve',
 'Ruben',
 'Aidan',
 'Brandy',
 'Yolanda',
 'Maxine',
 'Aubrey',
 'Jessie',
 'Roberto',
 'Carole',
 'Jimmie',
 'Joanna',
 'Neil',
 'Miriam',
 'Natasha',
 'Carson',
 'Katrina',
 'Leona',
 'Glenda',
 'Lance',
 'Mae',
 'Mariah',
 'Vickie',
 'Brandi',
 'Whitney',
 'Jocelyn',
 'Josiah',
 'Everett',
 'Riley',
 'Diego',
 'Parker',
 'Cecil',
 'Kara',
 'Dan',
 'Meghan',
 'Dora',
 'Brooklyn',
 'Margie',
 'Allan',
 'Bethany',
 'Eduardo',
 'Ana',
 'Hector',
 'Arnold',
 'Marsha',
 'Karl',
 'Nolan',
 'Makayla',
 'Hayden',
 'Toni',
 'Riley',
 'Christy',
 'Clinton',
 'Billie',
 'Johnnie',
 'Dianne',
 'Ariana',
 'Kendra',
 'Alexandria',
 'Sierra',
 'Bailey',
 'Javier',
 'Penny',
 'Maya',
 'Melody',
 'Angel',
 'Roland',
 'Omar',
 'Hattie',
 'Johnathan',
 'Kay',
 'Cecilia',
 'Fernando',
 'Terry',
 'Darryl',
 'Brendan',
 'Felicia',
 'Maxwell',
 'Jenny',
 'Micah',
 'Isabelle',
 'Ada',
 'Briana',
 'Tanner',
 'Marguerite',
 'Jamie',
 'Lonnie',
 'Angelica',
 'Marshall',
 'Bridget',
 'Tracey',
 'Bob',
 'Abraham',
 'Arianna',
 'Madelyn',
 'Adriana',
 'Andy',
 'Brady',
 'Guy',
 'Nicolas',
 'Jackie',
 'Candace',
 'Hope',
 'Karla',
 'Claude',
 'Pedro',
 'Jillian',
 'Brittney',
 'Rachael',
 'Damian',
 'Lola',
 'Ross',
 'Kate',
 'Layla',
 'Jade',
 'Harriet',
 'Bobbie',
 'Misty',
 'Cooper',
 'Kurt',
 'Kristine',
 'Aaliyah',
 'Geneva',
 'Desiree',
 'Dakota',
 'Shelly',
 'Becky',
 'Jacquelyn',
 'Kelly',
 'Blanche',
 'Velma',
 'Krystal',
 'Raul',
 'Brad',
 'Ben',
 'Sherri',
 'Andres',
 'Susie',
 'Fannie',
 'Sidney',
 'Zoey',
 'Miles',
 'Breanna',
 'Monique',
 'Hugh',
 'Lula',
 'Iris',
 'Mathew',
 'Byron',
 'Jodi',
 'Casey',
 'Tim',
 'Elias',
 'Rick',
 'Wallace',
 'Harper',
 'Summer',
 'Grayson',
 'Dalton',
 'Lynda',
 'Harrison',
 'Krista',
 'Hilda',
 'Tyrone',
 'Jaxon',
 'Rafael',
 'Gabriela',
 'Nevaeh',
 'Sheryl',
 'Drew',
 'Kristi',
 'Rosie',
 'Elena',
 'Angelo',
 'Eunice',
 'Shelley',
 'Nelson',
 'Antoinette',
 'Dwayne',
 'Dwight',
 'Kelli',
 'Julius',
 'Jackie',
 'Trinity',
 'Shaun',
 'Meredith',
 'Kaleb',
 'Sergio',
 'Collin',
 'Rebekah',
 'Greg',
 'Emmanuel',
 'Mamie',
 'Willard',
 'Ramon',
 'Perry',
 'Bianca',
 'Kristy',
 'Candice',
 'Jaden',
 'Belinda',
 'Gracie',
 'Devon',
 'Ted',
 'Terrence',
 'Janie',
 'Stuart',
 'Armando',
 'Rosalie',
 'Marco',
 'Cesar',
 'Ayden',
 'Ashton',
 'Irma',
 'Peyton',
 'Wade',
 'Terrance',
 'Erick',
 'Freddie',
 'Beulah',
 'Felix',
 'Kennedy',
 'Marion',
 'Ariel',
 'Brody',
 'Virgil',
 'Adrienne',
 'Roman',
 'Morris',
 'Robyn',
 'Clifton',
 'Kent',
 'Jonathon',
 'Jaime',
 'Kirk',
 'Sandy',
 'Jeannette',
 'Alberta',
 'Elise',
 'Verna',
 'Giovanni',
 'Camila',
 'Simon',
 'Carly',
 'Faye',
 'Sonia',
 'Camille',
 'Opal',
 'Nichole',
 'Ramona',
 'Cheyenne',
 'Scarlett',
 'Flora',
 'Sonya',
 'Jace',
 'Della',
 'Leonardo',
 'Penelope',
 'Lorenzo',
 'Genesis',
 'Jonah',
 'Daryl',
 'Lila',
 'Kristopher',
 'Natalia',
 'Malcolm',
 'Gianna',
 'Inez',
 'Skylar',
 'Valeria',
 'Marianne',
 'Damon',
 'Lincoln',
 'Luther',
 'Ellie',
 'Guadalupe',
 'Fredrick',
 'Jada',
 'Yvette',
 'Dillon',
 'Dallas',
 'Alexis',
 'Marcella',
 'Geoffrey',
 'Dave',
 'Hudson',
 'Dominick',
 'Bryson',
 'Angie',
 'Lynne',
 'Lee',
 'Kari',
 'Bella',
 'Cristian',
 'Maryann',
 'Gayle',
 'Tabitha',
 'Sheri',
 'Patty',
 'Olga',
 'Rickey',
 'Israel',
 'Alisha',
 'Alberto',
 'Santiago',
 'Tracy',
 'Julio',
 'Kaden',
 'Abby',
 'Alana',
 'Daniela',
 'Kaitlin',
 'Myra',
 'Roxanne',
 'Caden',
 'Damien',
 'Annabelle',
 'Karina',
 'Donnie',
 'Kendall',
 'Homer',
 'Lyle',
 'Mallory',
 'Callie',
 'Juliana',
 'Josie',
 'Celeste',
 'Mckenzie',
 'Adeline',
 'Cassidy',
 'Gerard',
 'Aurora',
 'Rex',
 'Enrique',
 'Otis',
 'Lilly',
 'Gage',
 'Jody',
 'Earnest',
 'Donovan',
 'Janelle',
 'Serenity',
 'Trenton',
 'Aimee',
 'Kirsten',
 'Asher',
 'Hubert',
 'Dianna',
 'Avery',
 'Cecelia',
 'Dominique',
 'Mya',
 'Emmett',
 'Olive',
 'Wilbur',
 'Lacey',
 'Liliana',
 'Mateo',
 'Salvatore',
 'Cara',
 'Muriel',
 'Alfredo',
 'Neal',
 'Mikayla',
 'Eliza',
 'Hayley',
 'Nadine',
 'Bernadette',
 'Celia',
 'Arturo',
 'Cristina',
 'Jan',
 'Jordyn',
 'Lana',
 'Erma',
 'Dana',
 'Jaclyn',
 'Vicky',
 'Caitlyn',
 'Alec',
 'Gretchen',
 'Leland',
 'Johanna',
 'Horace',
 'Shannon',
 'Jaime',
 'Colby',
 'Joey',
 'Abel',
 'Traci',
 'Kellie',
 'Estelle',
 'Kerry',
 'Ira',
 'Conner',
 'Payton',
 'Wendell',
 'Ezra',
 'Trent',
 'Eloise',
 'Rudolph',
 'Aria',
 'Ivy',
 ...]

In [205]:
names.remove('Ann')

In [206]:
names.index('Ann')

9378

In [207]:
names

['Bob',
 'James',
 'John',
 'Robert',
 'Michael',
 'William',
 'Mary',
 'David',
 'Joseph',
 'Richard',
 'Charles',
 'Thomas',
 'Christopher',
 'Daniel',
 'Matthew',
 'Elizabeth',
 'Patricia',
 'Jennifer',
 'Anthony',
 'George',
 'Linda',
 'Barbara',
 'Donald',
 'Paul',
 'Mark',
 'Andrew',
 'Steven',
 'Kenneth',
 'Edward',
 'Joshua',
 'Margaret',
 'Brian',
 'Kevin',
 'Jessica',
 'Sarah',
 'Susan',
 'Timothy',
 'Dorothy',
 'Jason',
 'Ronald',
 'Helen',
 'Ryan',
 'Jeffrey',
 'Karen',
 'Nancy',
 'Betty',
 'Lisa',
 'Jacob',
 'Nicholas',
 'Ashley',
 'Eric',
 'Frank',
 'Gary',
 'Anna',
 'Stephen',
 'Jonathan',
 'Sandra',
 'Emily',
 'Amanda',
 'Kimberly',
 'Michelle',
 'Donna',
 'Justin',
 'Laura',
 'Ruth',
 'Carol',
 'Brandon',
 'Larry',
 'Scott',
 'Melissa',
 'Stephanie',
 'Benjamin',
 'Raymond',
 'Samuel',
 'Rebecca',
 'Deborah',
 'Gregory',
 'Sharon',
 'Kathleen',
 'Amy',
 'Cynthia',
 'Alexander',
 'Patrick',
 'Jack',
 'Henry',
 'Angela',
 'Shirley',
 'Emma',
 'Catherine',
 'Katherine',
 'Virginia',
 'Nicole',
 'Dennis',
 'Walter',
 'Tyler',
 'Peter',
 'Brenda',
 'Aaron',
 'Jerry',
 'Christine',
 'Samantha',
 'Adam',
 'Rachel',
 'Pamela',
 'Frances',
 'Nathan',
 'Douglas',
 'Heather',
 'Evelyn',
 'Jose',
 'Alice',
 'Janet',
 'Maria',
 'Zachary',
 'Carolyn',
 'Debra',
 'Harold',
 'Martha',
 'Marie',
 'Arthur',
 'Julie',
 'Kyle',
 'Diane',
 'Christina',
 'Victoria',
 'Joyce',
 'Carl',
 'Lauren',
 'Grace',
 'Kelly',
 'Albert',
 'Rose',
 'Megan',
 'Joan',
 'Jeremy',
 'Julia',
 'Kathryn',
 'Lawrence',
 'Olivia',
 'Judith',
 'Doris',
 'Jean',
 'Andrea',
 'Gerald',
 'Sean',
 'Joe',
 'Keith',
 'Sara',
 'Cheryl',
 'Hannah',
 'Mildred',
 'Willie',
 'Lillian',
 'Roger',
 'Jesse',
 'Jacqueline',
 'Ethan',
 'Terry',
 'Christian',
 'Harry',
 'Teresa',
 'Austin',
 'Gloria',
 'Ralph',
 'Janice',
 'Roy',
 'Theresa',
 'Amber',
 'Danielle',
 'Noah',
 'Bryan',
 'Jordan',
 'Louis',
 'Brittany',
 'Bruce',
 'Madison',
 'Judy',
 'Billy',
 'Dylan',
 'Denise',
 'Beverly',
 'Eugene',
 'Jane',
 'Marilyn',
 'Abigail',
 'Diana',
 'Charlotte',
 'Natalie',
 'Tiffany',
 'Wayne',
 'Russell',
 'Alan',
 'Crystal',
 'Sophia',
 'Irene',
 'Juan',
 'Ruby',
 'Gabriel',
 'Philip',
 'Annie',
 'Kayla',
 'Vincent',
 'Lori',
 'Howard',
 'Alexis',
 'Erin',
 'Fred',
 'Logan',
 'Isabella',
 'Tammy',
 'Louise',
 'Florence',
 'Randy',
 'Bradley',
 'Kathy',
 'Lois',
 'Anne',
 'Bonnie',
 'Victor',
 'Taylor',
 'Travis',
 'Phyllis',
 'Shawn',
 'Phillip',
 'Shannon',
 'Martin',
 'Johnny',
 'Craig',
 'Allison',
 'Bobby',
 'Alyssa',
 'Ella',
 'Josephine',
 'Ernest',
 'Stanley',
 'Cody',
 'Clarence',
 'Tina',
 'Elijah',
 'Leonard',
 'Carlos',
 'Dawn',
 'Robin',
 'Edna',
 'Cameron',
 'Peggy',
 'Caleb',
 'Eleanor',
 'Isaac',
 'Todd',
 'Jamie',
 'Earl',
 'Francis',
 'Jimmy',
 'Mason',
 'Danny',
 'Audrey',
 'Rita',
 'Luke',
 'Dale',
 'Alex',
 'Paula',
 'Clara',
 'Wanda',
 'Joel',
 'Evan',
 'Norma',
 'Luis',
 'Courtney',
 'Ethel',
 'Nathaniel',
 'Wendy',
 'Ellen',
 'Leslie',
 'Marjorie',
 'Vanessa',
 'Allen',
 'Valerie',
 'Carrie',
 'Ava',
 'Eva',
 'Frederick',
 'Curtis',
 'Edith',
 'Connie',
 'Lucas',
 'Gladys',
 'Cindy',
 'Tracy',
 'Elaine',
 'Hazel',
 'Monica',
 'Norman',
 'Esther',
 'Melanie',
 'Brianna',
 'Antonio',
 'Jasmine',
 'Chad',
 'Katie',
 'Tony',
 'Rodney',
 'Glenn',
 'Marvin',
 'April',
 'Derek',
 'Erica',
 'Ian',
 'Adrian',
 'Theodore',
 'Alexandra',
 'Marcus',
 'Alfred',
 'Jackson',
 'Edwin',
 'Melvin',
 'Sylvia',
 'Sheila',
 'Alicia',
 'Steve',
 'Leah',
 'Hunter',
 'Lee',
 'Jeffery',
 'Kristen',
 'Caroline',
 'Mia',
 'Sherry',
 'Angel',
 'Jesus',
 'Dustin',
 'Herbert',
 'Pauline',
 'Michele',
 'Veronica',
 'Ricky',
 'Liam',
 'Wesley',
 'Thelma',
 'Suzanne',
 'Lucille',
 'Morgan',
 'Joanne',
 'Troy',
 'Chloe',
 'Anita',
 'Connor',
 'Isaiah',
 'Julian',
 'Jared',
 'Holly',
 'Lorraine',
 'Jayden',
 'Jill',
 'Geraldine',
 'Rhonda',
 'Dolores',
 'Eddie',
 'Vivian',
 'Darlene',
 'Aiden',
 'Calvin',
 'Shane',
 'Leo',
 'Juanita',
 'Sally',
 'Lucy',
 'Bertha',
 'Gail',
 'Oscar',
 'Mike',
 'Randall',
 'Ray',
 'Bernard',
 'Jeremiah',
 'Dana',
 'Brooke',
 'Leroy',
 'Amelia',
 'Corey',
 'June',
 'Owen',
 'Claire',
 'Jay',
 'Kristin',
 'Beatrice',
 'Clifford',
 'Marion',
 'Renee',
 'Tara',
 'Madeline',
 'Barry',
 'Debbie',
 'Eileen',
 'Manuel',
 'Ida',
 'Lynn',
 'Blake',
 'Dean',
 'Kim',
 'Bernice',
 'Ronnie',
 'Warren',
 'Gavin',
 'Miguel',
 'Cassandra',
 'Regina',
 'Elsie',
 'Jo',
 'Tommy',
 'Trevor',
 'Stella',
 'Gertrude',
 'Loretta',
 'Rosa',
 'Sydney',
 'Oliver',
 'Chelsea',
 'Roberta',
 'Savannah',
 'Lindsey',
 'Brett',
 'Colleen',
 'Gordon',
 'Mitchell',
 'Charlie',
 'Dominic',
 'Jessie',
 'Annette',
 'Molly',
 'Cathy',
 'Stacy',
 'Laurie',
 'Lydia',
 'Jon',
 'Chase',
 'Leon',
 'Bessie',
 'Seth',
 'Kaitlyn',
 'Don',
 'Naomi',
 'Jeanette',
 'Hailey',
 'Jeanne',
 'Darrell',
 'Lloyd',
 'Carter',
 'Jerome',
 'Erik',
 'Alvin',
 'Beth',
 'Jenna',
 'Yvonne',
 'Rosemary',
 'Landon',
 'Bill',
 'Haley',
 'Alma',
 'Wyatt',
 'Micheal',
 'Agnes',
 'Gina',
 'Minnie',
 'Sebastian',
 'Devin',
 'Georgia',
 'Stacey',
 'Pearl',
 'Vicki',
 'Joann',
 'Max',
 'Kelsey',
 'Lillie',
 'Levi',
 'Lily',
 'Floyd',
 'Carla',
 'Edgar',
 'Lewis',
 'Jim',
 'Nora',
 'Maureen',
 'Brent',
 'Heidi',
 'Derrick',
 'Mario',
 'Nellie',
 'Lindsay',
 'Kristina',
 'Shelby',
 'Terri',
 'Destiny',
 'Vernon',
 'Paige',
 'Chris',
 'Marc',
 'Violet',
 'Willie',
 'Arlene',
 'Sue',
 'Cole',
 'Daisy',
 'Sabrina',
 'Ricardo',
 'Carmen',
 'Clyde',
 'Marian',
 'Vera',
 'Constance',
 'Deanna',
 'Wilma',
 'Colin',
 'Melinda',
 'Tom',
 'Lena',
 'Tamara',
 'Joy',
 'Faith',
 'Clayton',
 'Maurice',
 'Gabrielle',
 'Cory',
 'Franklin',
 'Ivan',
 'Xavier',
 'Charlene',
 'Katelyn',
 'Francisco',
 'Sofia',
 'Garrett',
 'Myrtle',
 'Cora',
 'Jordan',
 'Alejandro',
 'Herman',
 'Mabel',
 'Jorge',
 'Marcia',
 'Grant',
 'Marlene',
 'Erika',
 'Zoe',
 'Mackenzie',
 'Glen',
 'Viola',
 'Gilbert',
 'Jake',
 'Mattie',
 'Nina',
 'Claudia',
 'Lester',
 'Kaylee',
 'Avery',
 'Elmer',
 'Tanya',
 'Andre',
 'Alexa',
 'Jennie',
 'Autumn',
 'Sadie',
 'Gene',
 'Sam',
 'Marissa',
 'Colton',
 'Spencer',
 'Eli',
 'Alison',
 'Caitlin',
 'Harvey',
 'Tonya',
 'Priscilla',
 'Addison',
 'Isabel',
 'Angelina',
 'Brayden',
 'Sophie',
 'Chester',
 'Jeff',
 'Gwendolyn',
 'Casey',
 'Bryce',
 'Patsy',
 'Tristan',
 'Gabriella',
 'Taylor',
 'Leslie',
 'Maggie',
 'Miranda',
 'Darren',
 'Delores',
 'Milton',
 'Duane',
 'Preston',
 'Kylie',
 'Reginald',
 'Genevieve',
 'Ruben',
 'Aidan',
 'Brandy',
 'Yolanda',
 'Maxine',
 'Aubrey',
 'Jessie',
 'Roberto',
 'Carole',
 'Jimmie',
 'Joanna',
 'Neil',
 'Miriam',
 'Natasha',
 'Carson',
 'Katrina',
 'Leona',
 'Glenda',
 'Lance',
 'Mae',
 'Mariah',
 'Vickie',
 'Brandi',
 'Whitney',
 'Jocelyn',
 'Josiah',
 'Everett',
 'Riley',
 'Diego',
 'Parker',
 'Cecil',
 'Kara',
 'Dan',
 'Meghan',
 'Dora',
 'Brooklyn',
 'Margie',
 'Allan',
 'Bethany',
 'Eduardo',
 'Ana',
 'Hector',
 'Arnold',
 'Marsha',
 'Karl',
 'Nolan',
 'Makayla',
 'Hayden',
 'Toni',
 'Riley',
 'Christy',
 'Clinton',
 'Billie',
 'Johnnie',
 'Dianne',
 'Ariana',
 'Kendra',
 'Alexandria',
 'Sierra',
 'Bailey',
 'Javier',
 'Penny',
 'Maya',
 'Melody',
 'Angel',
 'Roland',
 'Omar',
 'Hattie',
 'Johnathan',
 'Kay',
 'Cecilia',
 'Fernando',
 'Terry',
 'Darryl',
 'Brendan',
 'Felicia',
 'Maxwell',
 'Jenny',
 'Micah',
 'Isabelle',
 'Ada',
 'Briana',
 'Tanner',
 'Marguerite',
 'Jamie',
 'Lonnie',
 'Angelica',
 'Marshall',
 'Bridget',
 'Tracey',
 'Bob',
 'Abraham',
 'Arianna',
 'Madelyn',
 'Adriana',
 'Andy',
 'Brady',
 'Guy',
 'Nicolas',
 'Jackie',
 'Candace',
 'Hope',
 'Karla',
 'Claude',
 'Pedro',
 'Jillian',
 'Brittney',
 'Rachael',
 'Damian',
 'Lola',
 'Ross',
 'Kate',
 'Layla',
 'Jade',
 'Harriet',
 'Bobbie',
 'Misty',
 'Cooper',
 'Kurt',
 'Kristine',
 'Aaliyah',
 'Geneva',
 'Desiree',
 'Dakota',
 'Shelly',
 'Becky',
 'Jacquelyn',
 'Kelly',
 'Blanche',
 'Velma',
 'Krystal',
 'Raul',
 'Brad',
 'Ben',
 'Sherri',
 'Andres',
 'Susie',
 'Fannie',
 'Sidney',
 'Zoey',
 'Miles',
 'Breanna',
 'Monique',
 'Hugh',
 'Lula',
 'Iris',
 'Mathew',
 'Byron',
 'Jodi',
 'Casey',
 'Tim',
 'Elias',
 'Rick',
 'Wallace',
 'Harper',
 'Summer',
 'Grayson',
 'Dalton',
 'Lynda',
 'Harrison',
 'Krista',
 'Hilda',
 'Tyrone',
 'Jaxon',
 'Rafael',
 'Gabriela',
 'Nevaeh',
 'Sheryl',
 'Drew',
 'Kristi',
 'Rosie',
 'Elena',
 'Angelo',
 'Eunice',
 'Shelley',
 'Nelson',
 'Antoinette',
 'Dwayne',
 'Dwight',
 'Kelli',
 'Julius',
 'Jackie',
 'Trinity',
 'Shaun',
 'Meredith',
 'Kaleb',
 'Sergio',
 'Collin',
 'Rebekah',
 'Greg',
 'Emmanuel',
 'Mamie',
 'Willard',
 'Ramon',
 'Perry',
 'Bianca',
 'Kristy',
 'Candice',
 'Jaden',
 'Belinda',
 'Gracie',
 'Devon',
 'Ted',
 'Terrence',
 'Janie',
 'Stuart',
 'Armando',
 'Rosalie',
 'Marco',
 'Cesar',
 'Ayden',
 'Ashton',
 'Irma',
 'Peyton',
 'Wade',
 'Terrance',
 'Erick',
 'Freddie',
 'Beulah',
 'Felix',
 'Kennedy',
 'Marion',
 'Ariel',
 'Brody',
 'Virgil',
 'Adrienne',
 'Roman',
 'Morris',
 'Robyn',
 'Clifton',
 'Kent',
 'Jonathon',
 'Jaime',
 'Kirk',
 'Sandy',
 'Jeannette',
 'Alberta',
 'Elise',
 'Verna',
 'Giovanni',
 'Camila',
 'Simon',
 'Carly',
 'Faye',
 'Sonia',
 'Camille',
 'Opal',
 'Nichole',
 'Ramona',
 'Cheyenne',
 'Scarlett',
 'Flora',
 'Sonya',
 'Jace',
 'Della',
 'Leonardo',
 'Penelope',
 'Lorenzo',
 'Genesis',
 'Jonah',
 'Daryl',
 'Lila',
 'Kristopher',
 'Natalia',
 'Malcolm',
 'Gianna',
 'Inez',
 'Skylar',
 'Valeria',
 'Marianne',
 'Damon',
 'Lincoln',
 'Luther',
 'Ellie',
 'Guadalupe',
 'Fredrick',
 'Jada',
 'Yvette',
 'Dillon',
 'Dallas',
 'Alexis',
 'Marcella',
 'Geoffrey',
 'Dave',
 'Hudson',
 'Dominick',
 'Bryson',
 'Angie',
 'Lynne',
 'Lee',
 'Kari',
 'Bella',
 'Cristian',
 'Maryann',
 'Gayle',
 'Tabitha',
 'Sheri',
 'Patty',
 'Olga',
 'Rickey',
 'Israel',
 'Alisha',
 'Alberto',
 'Santiago',
 'Tracy',
 'Julio',
 'Kaden',
 'Abby',
 'Alana',
 'Daniela',
 'Kaitlin',
 'Myra',
 'Roxanne',
 'Caden',
 'Damien',
 'Annabelle',
 'Karina',
 'Donnie',
 'Kendall',
 'Homer',
 'Lyle',
 'Mallory',
 'Callie',
 'Juliana',
 'Josie',
 'Celeste',
 'Mckenzie',
 'Adeline',
 'Cassidy',
 'Gerard',
 'Aurora',
 'Rex',
 'Enrique',
 'Otis',
 'Lilly',
 'Gage',
 'Jody',
 'Earnest',
 'Donovan',
 'Janelle',
 'Serenity',
 'Trenton',
 'Aimee',
 'Kirsten',
 'Asher',
 'Hubert',
 'Dianna',
 'Avery',
 'Cecelia',
 'Dominique',
 'Mya',
 'Emmett',
 'Olive',
 'Wilbur',
 'Lacey',
 'Liliana',
 'Mateo',
 'Salvatore',
 'Cara',
 'Muriel',
 'Alfredo',
 'Neal',
 'Mikayla',
 'Eliza',
 'Hayley',
 'Nadine',
 'Bernadette',
 'Celia',
 'Arturo',
 'Cristina',
 'Jan',
 'Jordyn',
 'Lana',
 'Erma',
 'Dana',
 'Jaclyn',
 'Vicky',
 'Caitlyn',
 'Alec',
 'Gretchen',
 'Leland',
 'Johanna',
 'Horace',
 'Shannon',
 'Jaime',
 'Colby',
 'Joey',
 'Abel',
 'Traci',
 'Kellie',
 'Estelle',
 'Kerry',
 'Ira',
 'Conner',
 'Payton',
 'Wendell',
 'Ezra',
 'Trent',
 'Eloise',
 'Rudolph',
 'Aria',
 'Ivy',
 'Graham',
 ...]

In [208]:
df.Name.value_counts()

Nia          2
Jarden       2
Steve        2
Brodee       2
Marciel      2
            ..
Mouad        1
Che'         1
Kynslei      1
Lillienne    1
Triestina    1
Name: Name, Length: 133910, dtype: int64

In [209]:
names = list(df.Name.unique())

In [210]:
len(names)

133910

In [211]:
df.shape

(147269, 4)

In [212]:
names1 = list(df.Name)

In [213]:
names.count('Bob')

1

In [214]:
names1.count('Bob')

2

In [215]:
names.pop(names.index('Bob'))

'Bob'

In [217]:
names.index('Ann')

134

In [218]:
names1.pop(names1.index('Bob'))

'Bob'

In [219]:
names1.index('Bob')

23497

In [220]:
names1.remove('Indu')

In [221]:
names1.index('Indu')

138684

In [222]:
names2 = list(df[df.Name != 'Jemmie'].Name)

In [224]:
# Tuple
ip_add = ('10.20.30.400', 8080)

In [225]:
# Dictionaries

In [226]:
this_dict = {}

In [227]:
this_dict = {'Age': 25, "Gender": 'male' , 'Exxp': 12}

In [228]:
this_dict

{'Age': 25, 'Gender': 'male', 'Exxp': 12}

In [229]:
this_dict.keys()

dict_keys(['Age', 'Gender', 'Exxp'])

In [230]:
this_dict.values()

dict_values([25, 'male', 12])

In [231]:
this_dict.items()

dict_items([('Age', 25), ('Gender', 'male'), ('Exxp', 12)])

In [232]:
this_dict2 = dict(Age= [25,26], Gender= 'male' , Exxp = 12)

In [233]:
this_dict2

{'Age': [25, 26], 'Gender': 'male', 'Exxp': 12}

In [234]:
this_dict == this_dict2

False

In [235]:
this_dict2['Exxp'] = 21

In [236]:
this_dict2

{'Age': [25, 26], 'Gender': 'male', 'Exxp': 21}

In [237]:
del this_dict2['Exxp']

In [238]:
this_dict2

{'Age': [25, 26], 'Gender': 'male'}

In [239]:
this_dict2['Age'][0] = 27

In [240]:
this_dict2

{'Age': [27, 26], 'Gender': 'male'}

In [241]:
this_dict

{'Age': 25, 'Gender': 'male', 'Exxp': 12}

In [242]:
this_dict2

{'Age': [27, 26], 'Gender': 'male'}

In [243]:
this_dict.update(this_dict2)

In [244]:
this_dict

{'Age': [27, 26], 'Gender': 'male', 'Exxp': 12}

In [245]:
# Problem Statement
# Moving averages - arithmatic mean

In [246]:
d = np.array([120,23,34,45,56,67,78,89])

In [247]:
d.mean()

64.0

In [248]:
# running median leaving one record out

In [249]:
# missing value imputation
# column mean as replacement for missing values

In [250]:
# running median - more closer to the missing data

In [251]:
d

array([120,  23,  34,  45,  56,  67,  78,  89])

In [252]:
# can you create a custom function to populate running median of the above series.

In [253]:
d.sort()

In [254]:
d

array([ 23,  34,  45,  56,  67,  78,  89, 120])

In [255]:
(len(d)+1)/2

4.5

In [256]:
(56+67)/2

61.5

In [257]:
np.median(d)

61.5

In [258]:
d

array([ 23,  34,  45,  56,  67,  78,  89, 120])

In [259]:
window_size = 2

series = pd.Series(d)
blocks = series.rolling(window_size)
rolling_mean = blocks.mean()
print(rolling_mean)

0      NaN
1     28.5
2     39.5
3     50.5
4     61.5
5     72.5
6     83.5
7    104.5
dtype: float64

In [260]:
d = np.array([120,23,34,45,56,67,78,89])
window_size = 3
print(d)
series = pd.Series(d)
blocks = series.rolling(window_size)
rolling_mean = blocks.mean()
print(rolling_mean)

[120  23  34  45  56  67  78  89]
0     NaN
1     NaN
2    59.0
3    34.0
4    45.0
5    56.0
6    67.0
7    78.0
dtype: float64

def get_med(arr):
    arr.sort()
    print(arr)
    x = int(round(len(arr)/2,0))
    print(x)
    med = (arr[x]+arr[x-1])/2
    return med

get_med(d)

In [261]:
df

           Name Gender    Count   Probability
0         James      M  5304407  1.451679e-02
1          John      M  5260831  1.439753e-02
2        Robert      M  4970386  1.360266e-02
3       Michael      M  4579950  1.253414e-02
4       William      M  4226608  1.156713e-02
...         ...    ...      ...           ...
147264   Zylenn      M        1  2.736740e-09
147265   Zymeon      M        1  2.736740e-09
147266   Zyndel      M        1  2.736740e-09
147267   Zyshan      M        1  2.736740e-09
147268    Zyton      M        1  2.736740e-09

[147269 rows x 4 columns]

In [271]:
set(df.Name)

{'Walt',
 'Fintan',
 'Wyatte',
 'Tatianya',
 'Kavion',
 'Patyn',
 'Huk',
 'Kayanda',
 'Yendriel',
 'Shinobi',
 'Tikeria',
 'Adayah',
 'Akeil',
 'Leward',
 'Nikoll',
 'Rychard',
 'Alliera',
 'Yeoryi',
 'Aalla',
 'Deshaun',
 'Amenda',
 'Trania',
 'Rikki',
 'Jemille',
 'Willim',
 'Treacy',
 'Advaita',
 'Yameka',
 'Shaunece',
 'Serguio',
 'Xhaiden',
 'Tyjohn',
 'Talisia',
 'Tasheen',
 'Yasmene',
 'Julliet',
 'Isiash',
 'Monissa',
 'Vageli',
 'Tarrant',
 'Treyah',
 'Sharalee',
 'Avraham',
 'Caeghan',
 'Yuisa',
 'Kalika',
 'Aerianna',
 'Robyne',
 'Caisen',
 'Jobyna',
 'Yovela',
 'Yuriy',
 'Kennedi',
 'Daneil',
 'Benjen',
 'Aurelius',
 'Turk',
 'Skyee',
 'Haofeng',
 'Gracelyn',
 'Caliese',
 'Kalob',
 'Cirrus',
 'Felicitas',
 'Kaylanna',
 'Jenssen',
 'Ralphine',
 'Valdon',
 'Iyanu',
 'Dremond',
 'Kyshia',
 'Avetis',
 'Brayli',
 'Titu@Devender',
 'Kimon',
 'Audryana',
 'Nail',
 'Tyzana',
 'Rutvij',
 'Mazni',
 'Merici',
 'Traelyn',
 'Columbus',
 'Amoha',
 'Kalliope',
 'Nashelle',
 'Gwilym',
 'Irtu',
 'Satorri-Eve',
 'Kamilya',
 'Ktherine',
 'Menara',
 'Shabana',
 'Alabama',
 'Hettie',
 'Irisa',
 'Sondi',
 'Carols',
 'Keierra',
 'Icess',
 'Gyle',
 'Kharisma',
 'Maleki',
 'Gwendolyn',
 'Doraly',
 'Eulalio',
 'Rohnda',
 'Jizell',
 'Quinshay',
 'Sankey',
 'Kalais',
 'Ghaidaa',
 'Jahleel',
 'Oi',
 'Dagm',
 'Gahan',
 'Deejay',
 'Rujelyn',
 'Tavvy',
 'Ottice',
 'Solar',
 'Chamber',
 'Eile',
 'Elglene',
 'Jaxsten',
 'Jezenia',
 'Mystique',
 'Upton',
 'Carilyn',
 'Benito',
 'Phillippa',
 'Beautiful',
 'Jaiden',
 'Caidee',
 'Laurajean',
 'Cheemeng',
 'Manja',
 'Delyza',
 'Kamarea',
 'Dinita',
 'Yker',
 'Jeffrery',
 'Ryver',
 'Ronit',
 'Granite',
 'Jesenya',
 'Amelle',
 'Shenetra',
 'Ajita',
 'Gianlucas',
 'Ginikachi',
 'Greeshma',
 'Emereigh',
 'Deantrae',
 'Parry',
 'Jean-Marie',
 'Zenneth',
 'Marlisa',
 'Jemale',
 'Dairyn',
 'Daneet',
 'Cledis',
 'Mayjer',
 'Nariya',
 'Anahli',
 'Shandee',
 'Aisatou',
 'Zimmie',
 'Venieta',
 'Xain',
 'Kierat',
 'Ihan',
 'Luley',
 'Anna-Therase',
 'Rosevelt',
 'Shareeka',
 'Dontevious',
 'Divleen',
 'Tarenah',
 'Hiral',
 'Evanti',
 'Dallal',
 'Tahra-Jayne',
 'Dasharia',
 'Jojuan',
 'Clever',
 'Saren',
 'Samanta',
 'Lashondra',
 'Koltyn',
 'Yu-Le',
 'J.',
 'Deashley',
 'Dilylah',
 'Thandiwe',
 'Lucya',
 'Dakwan',
 'Ravindar',
 'Autry',
 'Evonia',
 'Makaia',
 'Shanikque',
 'Vanda',
 'Jozalynn',
 'Kalet',
 'Jasye',
 'Yohannah',
 'Iordani',
 'Arjoon',
 'Riyad',
 'Princi',
 'Zoie-Jae',
 'Jeremyiah',
 'Fiala',
 'Sunarkali',
 'Dilrajveer',
 'Ardynn',
 'Krystalyn',
 'Geraldo',
 'Ayelin',
 'Bel',
 'Canyla',
 'Remel',
 'Baudoin',
 'Samere',
 'Kurn',
 'Taranpreet',
 'Naily',
 'Keshvi',
 'Ashja',
 'Elmeta',
 'Brindle',
 'Sharaia',
 'Timonthy',
 'Giannetta',
 'Kinze',
 'Madhu',
 'Tarene',
 'Carville',
 'Akia',
 'Kyrei',
 'Omperkash',
 'Callister',
 'Samanya',
 'Ukari',
 'Elah',
 'Shequana',
 'Sranya',
 'Chelsey',
 'Gerardene',
 'Gus',
 'Lylah',
 'Ubong',
 'Rathan',
 'Gladyes',
 'Avyi',
 'Ammal',
 'Dzudzu',
 'Brienna',
 'Tushar',
 'Tabius',
 'Tarawati',
 'Hartlyn',
 'Prerit',
 'Vimansha',
 "Ja'Kahn",
 'Ashariah',
 'Shumel',
 'Aloni',
 'Liis',
 'Zyliah',
 'Katreina',
 'Javae',
 'Hiya',
 'Damaine',
 'Christianjoshua',
 'Sharan',
 'Jook',
 'Sueling',
 'Kheem',
 'Mady',
 'Malesha',
 'Atrayu',
 'Andrra',
 'Cheryl-Marta',
 'Harwell',
 'Anistyn',
 'Jullie',
 'Delise',
 'Shirelle',
 'Vu-Minh',
 'Emiley',
 'Rossene',
 'Yuyao',
 'Lileeann',
 'Jaun',
 'Amayha',
 'Achira',
 'Connar',
 'Tomorrow',
 'Hopeness',
 'Rahneisha',
 'Leiya',
 'Eymy',
 'Tanazia',
 'Kympton',
 'Mantosh',
 'Gerri',
 'Kelyn',
 'Breze',
 'Iknoor',
 'Sokxay',
 'Abdul-Malik',
 'Timoleon',
 'Paysen',
 'Whtiney',
 'Jezebelle',
 'Jaybree',
 'Delpheen',
 'Shalu',
 'Animesh',
 'Tysaun',
 'Dakyrah',
 'Telissa',
 'Karlise',
 'Sajith',
 'Ramsawroop',
 'Pina-Maria',
 'Manreet',
 'Ekyochi',
 'Khea',
 'Judythe',
 'Lellie',
 'Trisevgeni',
 'Avroham',
 'Rayaansh',
 'Gowri',
 'Aitan',
 'Shawntelle',
 'Anna-Clare',
 'Ria',
 'Jasik',
 'Naail',
 'Noon',
 'Sherinne',
 'Mayak',
 'Godrick',
 'Blondina',
 'Veeha',
 'Andrienna',
 'Leha',
 'Frutoso',
 'Srivatsa',
 'Khing',
 'Triso',
 'Bodhi',
 'Rendy',
 'Yiddy',
 'My',
 'Showanda',
 'Sreenidhi',
 'Henrie',
 'Analecia',
 'Kenithia',
 'Kontrina',
 'Alywin',
 'Onathan',
 'Phajja',
 'Kiralea',
 'Bernetta',
 'Aliesha-Kye',
 'Zhizhen',
 'Tevell',
 'Jonathan',
 'Adylen',
 'Lucerito',
 'Greighson',
 'Tenielle',
 'Kaleyla',
 'Donni',
 'Jimette',
 'Divisha',
 'Evanthia',
 'Jaymison',
 'Kendall',
 'Naul',
 'Tullio',
 'Adalena',
 'Jazebel',
 'Saymi',
 'Eliza-Mae',
 'Brycen',
 'Sarinah',
 'Merline',
 'Yitong',
 'Kasey-Maree',
 'Juanjr',
 'Sharnikah',
 'Jake-Desmond',
 'Demarques',
 'Jaykwon',
 'Amirali',
 'Prebble',
 'Madelean',
 'Jeresa',
 'Kallun',
 'Ermalee',
 'Jomaris',
 'Mehvish',
 'Joyline',
 'Valley',
 'Chnda',
 'Kymberlie-Jayne',
 'Luisita',
 'Advaidhev',
 'Ruston',
 'Kamaury',
 'Mozes',
 'Sular',
 'Nyshay',
 'Xinoula',
 'Zaniyyah',
 'Durango',
 'Philibert',
 'Melida',
 'Flavius',
 'Zeenath',
 'Lekesha',
 'Maleeah',
 'Verita',
 'Tkayah',
 'Alarik',
 'Olesya',
 'Kaiona',
 'Natari',
 'Wayde',
 'Atasia',
 'Treya',
 'Earthalee',
 'Chasteen',
 'Burdie',
 'Mahsa',
 'Knesha',
 'Oluwabukola',
 'Banshi',
 'Amika',
 'Aden',
 'Zolar',
 'Adley',
 'Peru',
 'Aakarsh',
 'Ozay',
 'Shawkat',
 'Sanjuan',
 'Needa',
 'Abhishek',
 'Mckenley',
 'Dashiel',
 'Jovi',
 'Lapriest',
 'Magin',
 'Dumnik',
 'Kennley',
 'Vilas',
 'Miyoka',
 'Delena',
 'Lauretha',
 'Wauneta',
 'Jaqulyn',
 'Caison',
 'Lilany',
 'Julek',
 'Cailah',
 'Rozen',
 'Janicka',
 'Terren',
 'Jora',
 'Sisira',
 'Virena',
 'Luyu',
 'Malaeya',
 'Sayema',
 'Dagem',
 'Thristen',
 'Jasmire',
 'Dannen',
 'Ivah',
 'Anee',
 'Kevonta',
 'Leandria',
 'Alisha-Jane',
 'Dezmen',
 'Okal',
 'Saralie',
 'Menashe',
 'Hoss',
 'Briunna',
 'Suree',
 'Tuyen-Ngoc',
 'Judyth',
 'Emireth',
 'Nizaiah',
 'Macle',
 'Zschorn',
 'Raffy',
 'Tytus',
 'Derenda',
 'Cheyesha',
 'Chamberlin',
 'Doncella',
 'Darvens',
 'Olaya',
 'Gorv',
 'Yaacov',
 'Godrey',
 'Tyneisha',
 'Antonesha',
 'Lanet',
 'Merveen',
 'Dezhanae',
 'Alilyana',
 'Tadarian',
 'Ercelle',
 'Konstance',
 'Marguerit',
 'Ankur',
 'Jaynarayan',
 'Kyelle',
 'Yeqi',
 'Caternia',
 'Caisley',
 'Alvery',
 'Morialta',
 'Makenzley',
 'Karmine',
 'Emmara',
 'Shacondra',
 'Brockee',
 'Jecory',
 'Yaana',
 'Zephrey',
 'Serul',
 'Imandi',
 'Raymunt',
 'Ovaline',
 'Harrilyn',
 'Maanas',
 'Juvan',
 'Kalee',
 'Kirlira',
 'Xzavion',
 'Zahier',
 'Nantambu',
 'Nouriyah',
 'Setesh',
 'Delacey',
 'Serrena',
 'Careli',
 'Selamawit',
 'Kayesha',
 'Lalitha',
 'Zoeygrace',
 'Shyah',
 'Jadison',
 'Motie',
 'Shallu',
 'Farshid',
 'Yasmin-Dina',
 'Jolee',
 'Fareed',
 'Esmay',
 'Ruwayfi',
 'Yennifer',
 'Kolawole',
 'Chanson',
 'Anquavious',
 'Bengerman',
 'Tahnee-Rae',
 'Frosty',
 'Nalia',
 'Yanice',
 'Danali',
 'Nicohle',
 'Veryl',
 'Yenny',
 'Zysean',
 'Jihy',
 'Obe',
 'Tapatha',
 'Tam',
 'Wynala-Tiwa',
 'Dawyne',
 'Annaleah',
 'Aszure',
 'Eureka',
 'Enki',
 'Cubia',
 'Parwati',
 'Parshant',
 'Kaedence',
 'Narice',
 'Rhyleagh',
 'Tellie',
 'Louard',
 'Reenhard',
 'Athenamarie',
 'Tarron',
 'Mukilash',
 'Latichia',
 'Tajwar',
 'Roeshelle',
 'Adelayde',
 'Euthimia',
 'Milenko',
 'Layka',
 'Summa-Asha',
 'Glendal',
 'Vesenia',
 'Alyss',
 'Lindora',
 'Rial',
 'Gertraud',
 'Nyanuar',
 'Abagael',
 'Tamim',
 'Enry',
 'Fu',
 'Rhinikea',
 'Yumiko',
 'Jevonn',
 'Desheena',
 'Lealon',
 'Panayiota',
 'Takreem',
 'Zenja',
 'Chynae',
 'Yanise',
 'Anavela',
 'Kyja',
 'Seydi',
 'Lili-Ilona',
 'Anzley',
 'Odete',
 'Venerdina',
 'Chystal',
 'Shaquile',
 'Lencola',
 'Deovian',
 'Horeb',
 'Jeoy',
 'Sapphire-Rose',
 'Fenisha',
 'Ahsaki',
 'Shameka',
 'Madyx',
 'Lucian',
 'Jaeana',
 'Ghadah',
 'Alwina',
 'Dezere',
 'Jhanet',
 'Aumya',
 'Netra',
 'Shanez',
 'Karicia',
 'Leodegario',
 'Bonnielou',
 'Esabel',
 'Charone',
 'Lendell',
 'Tyshai',
 'Aimo',
 'Kindrick',
 'Daquanna',
 'Kaleera',
 'Rossim',
 'Susano',
 'Varish',
 'Lacondra',
 'Kyya',
 'Johnnye',
 'Zayuri',
 'Teletha',
 'Hafezullah',
 'Campion',
 'Tshawn',
 'Bethzabeth',
 'Nihira',
 'Kalynne',
 'Emit',
 'Deanndra',
 'Kahliel',
 'Jaedon',
 'Tylia',
 'Teshon',
 'Serena-Lee',
 'Saied',
 'Bozidarka',
 'Nashid',
 'Jaliel',
 'Dominquie',
 'Rebekah-Ann',
 'Harvana',
 'Talera',
 'Zile',
 'Johm',
 'Lekeshia',
 'Jarryn',
 'Loudes',
 'Alexa-Rae',
 'Blaxlan',
 'Annison',
 'Bellarae',
 'Teea',
 'Joash',
 'Majd',
 'Michaela-Anne',
 'Ashae',
 'Daquante',
 'Tempestt',
 'Noarene',
 'Chelcie',
 'Olexa',
 'Bijali',
 'Melanie-Jayne',
 'Clemmie-Louisa',
 'Latunya',
 'Sophialynn',
 'Hayan',
 'Imaman',
 'Shawonna',
 'Delondo',
 'Yanel',
 'Fiesta',
 'Arielah',
 'Kaen',
 'Lito',
 'Szabina',
 'Ignatius',
 'Moktada',
 'Kwesi',
 'Llanet',
 'Ibrahimi',
 'Shakuntala',
 'Lilike',
 'Sebastino',
 'Ragan',
 'Leonidus',
 'Tessalyn',
 'Liladevi',
 'Ardonia',
 'Brynson',
 'Miyesha',
 'Terry-Ann',
 'Gisely',
 'Chinwe',
 'Kandrea',
 'Najah',
 'Ghantoli',
 'Chanda',
 'Cardis',
 'Jese-James',
 'Keddrick',
 'Aditiya',
 'Taysan',
 'Dannyelle',
 'Nimish',
 'Charvey',
 'Gentri',
 'Cashana',
 'Allejah',
 'Meca',
 'Taneiya',
 'Arieli',
 'Davidjoseph',
 'Dejia',
 'Acari',
 'Sophie-Ann',
 'Daeshyla',
 'Shellia',
 'Kalai',
 'Alohna',
 'Avangalena',
 'Seoul',
 'Palvi',
 'Mazel',
 'Usmaan',
 'Negan',
 'Amadu',
 'Noeline',
 'Jeanmichael',
 'Norelia',
 'Kimar',
 'Klint',
 'Jarreau',
 'Allabaksh',
 'Shovon',
 'Christopher-Peter',
 'Kannen',
 'Theolia',
 'Christopoula',
 'Delmis',
 'Rob',
 'Johaun',
 'Photina',
 'Timotheos',
 'Zannia',
 'Marjie',
 'Samsara',
 'Deairra',
 'Basile',
 'Denishea',
 'Rae-Marie',
 'Deaghlan',
 'Mav',
 'Shahrier',
 'Cassen',
 'Alexsandar',
 'Jovontae',
 'Lancia',
 'Merrideth',
 'Tah-Naya',
 'Copeland',
 'Dartagnan',
 'Aiyannah',
 'Raees',
 'Amelia-Lee',
 'Katherynn',
 'Maedot',
 'Karla-Sara-Underun',
 'Isaias',
 'Sessily',
 'Malillani',
 'Tarren',
 'Cailie',
 'Yelisey',
 'Albirta',
 'Dailany',
 'Emmarita',
 'Khair',
 'Todd-Leonard',
 'Melissa-Lee-Ann',
 'Anchal',
 'Rhania',
 "La'Keisha",
 'Countess',
 'Zeva',
 'Zaniaya',
 'Fulei',
 'Sarriah',
 'Punia',
 'Qaadir',
 'Anzar',
 'Daquin',
 'Mccray',
 'Taianna',
 'Diari',
 'Tammi-Lea',
 'Mondars',
 'Julieana',
 'Shishul',
 'Teneshia',
 'Daman',
 'Rannon',
 'Jany',
 'Chrissooula',
 'Ramdutt',
 'Bupal',
 'Omprakash',
 'Kecha',
 'Joquita',
 'Takhia',
 'Risabh',
 'Jukka',
 'Xachery',
 'Chidiebere',
 'Bindvasini',
 'Teniola',
 'Luisdavid',
 'Remya',
 'Parven',
 'Regin',
 'Tipper',
 'Sule',
 'Jaivan',
 'Kalira',
 'Heidiann',
 'Magen',
 'Kensy',
 'Daizee',
 'Jemini',
 'Colista',
 'Ballard',
 'Lavante',
 'Aikaterine',
 'Valarmathi',
 'Sandira',
 'Ameleiyah',
 'Ganeve',
 'Vontarius',
 'Debraha',
 'Pavi',
 'Tatrina',
 'Annelys',
 'Macarthur',
 'Danielle-Nicole',
 'Savant',
 'Micaela',
 'Nethica',
 'Keyna',
 'Tanecia',
 'Nayaliz',
 'Aleighya',
 'Shekitha',
 'Shrivika',
 'Lea-Ann',
 'Ann-Patricia',
 'Jezekiel',
 'Lauri-Sue',
 'Sainimili',
 'Reiana',
 'Drayk',
 'Zamair',
 'Luzelle',
 'Edner',
 'Teagann',
 'Temica',
 'Norely',
 'Dannelle',
 'Benhard',
 'Bernestine',
 'Philina',
 'Mkaylah',
 'Meryn',
 'Jamyson',
 'Tayen',
 'Malette',
 'Tylenn',
 'Charlee-Louise',
 'Leigh-Anthony',
 'Cayle',
 'Kusumlata',
 'Partick',
 'Jayvia',
 'Xoaquin',
 'Nyar',
 'Mescal',
 'Sohum',
 'Mealea',
 'Abrienne',
 'Keyondra',
 'Arthor',
 'Latita',
 'Tinneale',
 'Cheerful',
 'Prabhatyashi',
 'Timthoy',
 'Jaes',
 'Leanza',
 'Briahnon',
 'Manish',
 'Sahaja',
 'Sherrie',
 'Anasztazia',
 'Chrishani',
 'Sarani',
 'Ivell',
 'Ainstie',
 'Jaed',
 'Bentely',
 'Dipanshi',
 'Earlesha',
 'Schneider',
 'Latiesha-Jayne',
 'Shann',
 'Jacquelyn',
 'Mikahlia',
 'Kahniyah',
 'Eleasar',
 'Jodi-Anne',
 'Krystal-Marie',
 'Sidakpreet',
 'Chelseaann',
 'Jontyler',
 'Philippine',
 'Rayhaan',
 'Mohammedshayban',
 'Jaymar',
 'Meridi',
 'Mangelal',
 'Jermarcus',
 'Jessie-Ellen',
 'Krystal-Jane',
 'Reade',
 'Khileigh',
 'Tamorion',
 'Taino',
 'Algie',
 'Harlynne',
 'Gursanjh',
 ...}

In [263]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147269 entries, 0 to 147268
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Name         147269 non-null  object
 1   Gender       147269 non-null  object
 2   Count        147269 non-null  int64
 3   Probability  147269 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.5+ MB

In [264]:
import pandas as pd

In [265]:
pd.__version__

'1.2.2'

In [266]:
df_new = pd.read_csv('https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv')

In [267]:
list(df_new.model)

['Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Fiat 128',
 'Honda Civic',
 'Toyota Corolla',
 'Toyota Corona',
 'Dodge Challenger',
 'AMC Javelin',
 'Camaro Z28',
 'Pontiac Firebird',
 'Fiat X1-9',
 'Porsche 914-2',
 'Lotus Europa',
 'Ford Pantera L',
 'Ferrari Dino',
 'Maserati Bora',
 'Volvo 142E']

In [272]:
# set issue in this notebook

# make sure you are not overwriting the built in functions of python

In [273]:
set(df_new.cyl)

{4, 6, 8}

In [274]:
# Modules and Function

In [275]:
pow(3,4)

81

In [277]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [278]:
dir(__import__)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [279]:
dir(__name__)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [280]:
dir(__package__)

['__bool__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [281]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [282]:
import math

In [283]:
math.sqrt(89)

9.433981132056603

In [286]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [287]:
math.__doc__

'This module provides access to the mathematical functions\ndefined by the C standard.'

In [289]:
import datetime

In [290]:
datetime.datetime.now()

datetime.datetime(2021, 4, 10, 16, 8, 57, 489478)

In [ ]:
# if statememnts

In [291]:
fruits = ['apple','orange','banana','cookies']

In [292]:
fav_fruit = 'apple'

In [293]:
for fruit in fruits:
    if fruit == fav_fruit:
        print(fruit)
    else:
        print('none')

apple
none
none
none

==
!=
>=
<=
<
>

In [ ]:
# list comprehension

In [294]:
d

array([120,  23,  34,  45,  56,  67,  78,  89])

In [295]:
d = list(d)

In [296]:
d

[120, 23, 34, 45, 56, 67, 78, 89]

In [297]:
[a**2 for a in d]

[14400, 529, 1156, 2025, 3136, 4489, 6084, 7921]

In [ ]:
# string operations

In [298]:
sent1 = '''With the growing adoption of "machine learning" techniques, there is an increasing demand for research towards making machine learning models transparent and interpretable'''

In [299]:
sent1

'With the growing adoption of "machine learning" techniques, there is an increasing demand for research towards making machine learning models transparent and interpretable'

In [300]:
sent1.upper()

'WITH THE GROWING ADOPTION OF "MACHINE LEARNING" TECHNIQUES, THERE IS AN INCREASING DEMAND FOR RESEARCH TOWARDS MAKING MACHINE LEARNING MODELS TRANSPARENT AND INTERPRETABLE'

In [301]:
sent1.lower()

'with the growing adoption of "machine learning" techniques, there is an increasing demand for research towards making machine learning models transparent and interpretable'

In [302]:
sent1*3

'With the growing adoption of "machine learning" techniques, there is an increasing demand for research towards making machine learning models transparent and interpretableWith the growing adoption of "machine learning" techniques, there is an increasing demand for research towards making machine learning models transparent and interpretableWith the growing adoption of "machine learning" techniques, there is an increasing demand for research towards making machine learning models transparent and interpretable'

In [303]:
sent1

'With the growing adoption of "machine learning" techniques, there is an increasing demand for research towards making machine learning models transparent and interpretable'

In [306]:
sent1 = '''   With the growing adoption of "machine learning"    techniques, there is an increasing demand for  '''

In [307]:
sent1

'   With the growing adoption of "machine learning"    techniques, there is an increasing demand for  '

In [308]:
sent1.strip()

'With the growing adoption of "machine learning"    techniques, there is an increasing demand for'

In [309]:
sent1.lstrip()

'With the growing adoption of "machine learning"    techniques, there is an increasing demand for  '

In [310]:
sent1.rstrip()

'   With the growing adoption of "machine learning"    techniques, there is an increasing demand for'

In [311]:
sent2 = sent1.split()

In [312]:
for word in sent2:
     print(word.upper())

WITH
THE
GROWING
ADOPTION
OF
"MACHINE
LEARNING"
TECHNIQUES,
THERE
IS
AN
INCREASING
DEMAND
FOR

In [ ]:
# reading and getting external data for analysis

In [313]:
import pandas as pd

In [314]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data',
                 header=None,
                 sep='\s+')

In [315]:
df.head()

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino

In [316]:
'''1. mpg: continuous
2. cylinders: multi-valued discrete
3. displacement: continuous
4. horsepower: continuous
5. weight: continuous
6. acceleration: continuous
7. model year: multi-valued discrete
8. origin: multi-valued discrete
9. car name: string (unique for each instance)'''

'1. mpg: continuous\n2. cylinders: multi-valued discrete\n3. displacement: continuous\n4. horsepower: continuous\n5. weight: continuous\n6. acceleration: continuous\n7. model year: multi-valued discrete\n8. origin: multi-valued discrete\n9. car name: string (unique for each instance)'

In [317]:
df.columns = ['mpg','cyl','disp','hp','wt','acc','m_year','origin','car_name']

In [318]:
df.head() # first 5 records from the dataset

,mpg,cyl,disp,hp,wt,acc,m_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [ ]:
# Top 5 cars that provide maximum mileage per gallon
# Bottom 5 cars that provide mileage per gallon

# which 3 cars have highest weight
# which 3 cars have lowest weight

In [319]:
import heapq

In [320]:
heapq.nlargest(5,df.mpg)

[46.6, 44.6, 44.3, 44.0, 43.4]

In [321]:
heapq.nsmallest(5,df.mpg)

[9.0, 10.0, 10.0, 11.0, 11.0]

In [322]:
heapq.nlargest(3,df.wt)

[5140.0, 4997.0, 4955.0]

In [323]:
heapq.nsmallest(3,df.wt)

[1613.0, 1649.0, 1755.0]

In [324]:
df.shape

(398, 9)

In [325]:
sorted(df.wt,reverse=True)[0:3]

[5140.0, 4997.0, 4955.0]

In [326]:
sorted(df.wt,reverse=False)[0:3]

[1613.0, 1649.0, 1755.0]

In [327]:
df.head(10)

,mpg,cyl,disp,hp,wt,acc,m_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,amc ambassador dpl

In [328]:
df.to_dict()

{'mpg': {0: 18.0,
  1: 15.0,
  2: 18.0,
  3: 16.0,
  4: 17.0,
  5: 15.0,
  6: 14.0,
  7: 14.0,
  8: 14.0,
  9: 15.0,
  10: 15.0,
  11: 14.0,
  12: 15.0,
  13: 14.0,
  14: 24.0,
  15: 22.0,
  16: 18.0,
  17: 21.0,
  18: 27.0,
  19: 26.0,
  20: 25.0,
  21: 24.0,
  22: 25.0,
  23: 26.0,
  24: 21.0,
  25: 10.0,
  26: 10.0,
  27: 11.0,
  28: 9.0,
  29: 27.0,
  30: 28.0,
  31: 25.0,
  32: 25.0,
  33: 19.0,
  34: 16.0,
  35: 17.0,
  36: 19.0,
  37: 18.0,
  38: 14.0,
  39: 14.0,
  40: 14.0,
  41: 14.0,
  42: 12.0,
  43: 13.0,
  44: 13.0,
  45: 18.0,
  46: 22.0,
  47: 19.0,
  48: 18.0,
  49: 23.0,
  50: 28.0,
  51: 30.0,
  52: 30.0,
  53: 31.0,
  54: 35.0,
  55: 27.0,
  56: 26.0,
  57: 24.0,
  58: 25.0,
  59: 23.0,
  60: 20.0,
  61: 21.0,
  62: 13.0,
  63: 14.0,
  64: 15.0,
  65: 14.0,
  66: 17.0,
  67: 11.0,
  68: 13.0,
  69: 12.0,
  70: 13.0,
  71: 19.0,
  72: 15.0,
  73: 13.0,
  74: 13.0,
  75: 14.0,
  76: 18.0,
  77: 22.0,
  78: 21.0,
  79: 26.0,
  80: 22.0,
  81: 28.0,
  82: 23.0,
  83: 28.0,
  84: 27.0,
  85: 13.0,
  86: 14.0,
  87: 13.0,
  88: 14.0,
  89: 15.0,
  90: 12.0,
  91: 13.0,
  92: 13.0,
  93: 14.0,
  94: 13.0,
  95: 12.0,
  96: 13.0,
  97: 18.0,
  98: 16.0,
  99: 18.0,
  100: 18.0,
  101: 23.0,
  102: 26.0,
  103: 11.0,
  104: 12.0,
  105: 13.0,
  106: 12.0,
  107: 18.0,
  108: 20.0,
  109: 21.0,
  110: 22.0,
  111: 18.0,
  112: 19.0,
  113: 21.0,
  114: 26.0,
  115: 15.0,
  116: 16.0,
  117: 29.0,
  118: 24.0,
  119: 20.0,
  120: 19.0,
  121: 15.0,
  122: 24.0,
  123: 20.0,
  124: 11.0,
  125: 20.0,
  126: 21.0,
  127: 19.0,
  128: 15.0,
  129: 31.0,
  130: 26.0,
  131: 32.0,
  132: 25.0,
  133: 16.0,
  134: 16.0,
  135: 18.0,
  136: 16.0,
  137: 13.0,
  138: 14.0,
  139: 14.0,
  140: 14.0,
  141: 29.0,
  142: 26.0,
  143: 26.0,
  144: 31.0,
  145: 32.0,
  146: 28.0,
  147: 24.0,
  148: 26.0,
  149: 24.0,
  150: 26.0,
  151: 31.0,
  152: 19.0,
  153: 18.0,
  154: 15.0,
  155: 15.0,
  156: 16.0,
  157: 15.0,
  158: 16.0,
  159: 14.0,
  160: 17.0,
  161: 16.0,
  162: 15.0,
  163: 18.0,
  164: 21.0,
  165: 20.0,
  166: 13.0,
  167: 29.0,
  168: 23.0,
  169: 20.0,
  170: 23.0,
  171: 24.0,
  172: 25.0,
  173: 24.0,
  174: 18.0,
  175: 29.0,
  176: 19.0,
  177: 23.0,
  178: 23.0,
  179: 22.0,
  180: 25.0,
  181: 33.0,
  182: 28.0,
  183: 25.0,
  184: 25.0,
  185: 26.0,
  186: 27.0,
  187: 17.5,
  188: 16.0,
  189: 15.5,
  190: 14.5,
  191: 22.0,
  192: 22.0,
  193: 24.0,
  194: 22.5,
  195: 29.0,
  196: 24.5,
  197: 29.0,
  198: 33.0,
  199: 20.0,
  200: 18.0,
  201: 18.5,
  202: 17.5,
  203: 29.5,
  204: 32.0,
  205: 28.0,
  206: 26.5,
  207: 20.0,
  208: 13.0,
  209: 19.0,
  210: 19.0,
  211: 16.5,
  212: 16.5,
  213: 13.0,
  214: 13.0,
  215: 13.0,
  216: 31.5,
  217: 30.0,
  218: 36.0,
  219: 25.5,
  220: 33.5,
  221: 17.5,
  222: 17.0,
  223: 15.5,
  224: 15.0,
  225: 17.5,
  226: 20.5,
  227: 19.0,
  228: 18.5,
  229: 16.0,
  230: 15.5,
  231: 15.5,
  232: 16.0,
  233: 29.0,
  234: 24.5,
  235: 26.0,
  236: 25.5,
  237: 30.5,
  238: 33.5,
  239: 30.0,
  240: 30.5,
  241: 22.0,
  242: 21.5,
  243: 21.5,
  244: 43.1,
  245: 36.1,
  246: 32.8,
  247: 39.4,
  248: 36.1,
  249: 19.9,
  250: 19.4,
  251: 20.2,
  252: 19.2,
  253: 20.5,
  254: 20.2,
  255: 25.1,
  256: 20.5,
  257: 19.4,
  258: 20.6,
  259: 20.8,
  260: 18.6,
  261: 18.1,
  262: 19.2,
  263: 17.7,
  264: 18.1,
  265: 17.5,
  266: 30.0,
  267: 27.5,
  268: 27.2,
  269: 30.9,
  270: 21.1,
  271: 23.2,
  272: 23.8,
  273: 23.9,
  274: 20.3,
  275: 17.0,
  276: 21.6,
  277: 16.2,
  278: 31.5,
  279: 29.5,
  280: 21.5,
  281: 19.8,
  282: 22.3,
  283: 20.2,
  284: 20.6,
  285: 17.0,
  286: 17.6,
  287: 16.5,
  288: 18.2,
  289: 16.9,
  290: 15.5,
  291: 19.2,
  292: 18.5,
  293: 31.9,
  294: 34.1,
  295: 35.7,
  296: 27.4,
  297: 25.4,
  298: 23.0,
  299: 27.2,
  300: 23.9,
  301: 34.2,
  302: 34.5,
  303: 31.8,
  304: 37.3,
  305: 28.4,
  306: 28.8,
  307: 26.8,
  308: 33.5,
  309: 41.5,
  310: 38.1,
  311: 32.1,
  312: 37.2,
  313: 28.0,
  314: 26.4,
  315: 24.3,
  316: 19.1,
  317: 34.3,
  318: 29.8,
  319: 31.3,
  320: 37.0,
  321: 32.2,
  322: 46.6,
  323: 27.9,
  324: 40.8,
  325: 44.3,
  326: 43.4,
  327: 36.4,
  328: 30.0,
  329: 44.6,
  330: 40.9,
  331: 33.8,
  332: 29.8,
  333: 32.7,
  334: 23.7,
  335: 35.0,
  336: 23.6,
  337: 32.4,
  338: 27.2,
  339: 26.6,
  340: 25.8,
  341: 23.5,
  342: 30.0,
  343: 39.1,
  344: 39.0,
  345: 35.1,
  346: 32.3,
  347: 37.0,
  348: 37.7,
  349: 34.1,
  350: 34.7,
  351: 34.4,
  352: 29.9,
  353: 33.0,
  354: 34.5,
  355: 33.7,
  356: 32.4,
  357: 32.9,
  358: 31.6,
  359: 28.1,
  360: 30.7,
  361: 25.4,
  362: 24.2,
  363: 22.4,
  364: 26.6,
  365: 20.2,
  366: 17.6,
  367: 28.0,
  368: 27.0,
  369: 34.0,
  370: 31.0,
  371: 29.0,
  372: 27.0,
  373: 24.0,
  374: 23.0,
  375: 36.0,
  376: 37.0,
  377: 31.0,
  378: 38.0,
  379: 36.0,
  380: 36.0,
  381: 36.0,
  382: 34.0,
  383: 38.0,
  384: 32.0,
  385: 38.0,
  386: 25.0,
  387: 38.0,
  388: 26.0,
  389: 22.0,
  390: 32.0,
  391: 36.0,
  392: 27.0,
  393: 27.0,
  394: 44.0,
  395: 32.0,
  396: 28.0,
  397: 31.0},
 'cyl': {0: 8,
  1: 8,
  2: 8,
  3: 8,
  4: 8,
  5: 8,
  6: 8,
  7: 8,
  8: 8,
  9: 8,
  10: 8,
  11: 8,
  12: 8,
  13: 8,
  14: 4,
  15: 6,
  16: 6,
  17: 6,
  18: 4,
  19: 4,
  20: 4,
  21: 4,
  22: 4,
  23: 4,
  24: 6,
  25: 8,
  26: 8,
  27: 8,
  28: 8,
  29: 4,
  30: 4,
  31: 4,
  32: 4,
  33: 6,
  34: 6,
  35: 6,
  36: 6,
  37: 6,
  38: 8,
  39: 8,
  40: 8,
  41: 8,
  42: 8,
  43: 8,
  44: 8,
  45: 6,
  46: 4,
  47: 6,
  48: 6,
  49: 4,
  50: 4,
  51: 4,
  52: 4,
  53: 4,
  54: 4,
  55: 4,
  56: 4,
  57: 4,
  58: 4,
  59: 4,
  60: 4,
  61: 4,
  62: 8,
  63: 8,
  64: 8,
  65: 8,
  66: 8,
  67: 8,
  68: 8,
  69: 8,
  70: 8,
  71: 3,
  72: 8,
  73: 8,
  74: 8,
  75: 8,
  76: 4,
  77: 4,
  78: 4,
  79: 4,
  80: 4,
  81: 4,
  82: 4,
  83: 4,
  84: 4,
  85: 8,
  86: 8,
  87: 8,
  88: 8,
  89: 8,
  90: 8,
  91: 8,
  92: 8,
  93: 8,
  94: 8,
  95: 8,
  96: 8,
  97: 6,
  98: 6,
  99: 6,
  100: 6,
  101: 6,
  102: 4,
  103: 8,
  104: 8,
  105: 8,
  106: 8,
  107: 6,
  108: 4,
  109: 4,
  110: 4,
  111: 3,
  112: 4,
  113: 6,
  114: 4,
  115: 8,
  116: 8,
  117: 4,
  118: 4,
  119: 4,
  120: 4,
  121: 8,
  122: 4,
  123: 6,
  124: 8,
  125: 6,
  126: 6,
  127: 6,
  128: 6,
  129: 4,
  130: 4,
  131: 4,
  132: 4,
  133: 6,
  134: 6,
  135: 6,
  136: 8,
  137: 8,
  138: 8,
  139: 8,
  140: 8,
  141: 4,
  142: 4,
  143: 4,
  144: 4,
  145: 4,
  146: 4,
  147: 4,
  148: 4,
  149: 4,
  150: 4,
  151: 4,
  152: 6,
  153: 6,
  154: 6,
  155: 6,
  156: 8,
  157: 8,
  158: 8,
  159: 8,
  160: 6,
  161: 6,
  162: 6,
  163: 6,
  164: 6,
  165: 8,
  166: 8,
  167: 4,
  168: 4,
  169: 6,
  170: 4,
  171: 4,
  172: 4,
  173: 4,
  174: 6,
  175: 4,
  176: 6,
  177: 4,
  178: 4,
  179: 4,
  180: 4,
  181: 4,
  182: 4,
  183: 4,
  184: 4,
  185: 4,
  186: 4,
  187: 8,
  188: 8,
  189: 8,
  190: 8,
  191: 6,
  192: 6,
  193: 6,
  194: 6,
  195: 4,
  196: 4,
  197: 4,
  198: 4,
  199: 6,
  200: 6,
  201: 6,
  202: 6,
  203: 4,
  204: 4,
  205: 4,
  206: 4,
  207: 4,
  208: 8,
  209: 4,
  210: 6,
  211: 6,
  212: 8,
  213: 8,
  214: 8,
  215: 8,
  216: 4,
  217: 4,
  218: 4,
  219: 4,
  220: 4,
  221: 8,
  222: 8,
  223: 8,
  224: 8,
  225: 6,
  226: 6,
  227: 6,
  228: 6,
  229: 8,
  230: 8,
  231: 8,
  232: 8,
  233: 4,
  234: 4,
  235: 4,
  236: 4,
  237: 4,
  238: 4,
  239: 4,
  240: 4,
  241: 6,
  242: 4,
  243: 3,
  244: 4,
  245: 4,
  246: 4,
  247: 4,
  248: 4,
  249: 8,
  250: 8,
  251: 8,
  252: 6,
  253: 6,
  254: 6,
  255: 4,
  256: 6,
  257: 6,
  258: 6,
  259: 6,
  260: 6,
  261: 6,
  262: 8,
  263: 6,
  264: 8,
  265: 8,
  266: 4,
  267: 4,
  268: 4,
  269: 4,
  270: 4,
  271: 4,
  272: 4,
  273: 4,
  274: 5,
  275: 6,
  276: 4,
  277: 6,
  278: 4,
  279: 4,
  280: 6,
  281: 6,
  282: 4,
  283: 6,
  284: 6,
  285: 8,
  286: 8,
  287: 8,
  288: 8,
  289: 8,
  290: 8,
  291: 8,
  292: 8,
  293: 4,
  294: 4,
  295: 4,
  296: 4,
  297: 5,
  298: 8,
  299: 4,
  300: 8,
  301: 4,
  302: 4,
  303: 4,
  304: 4,
  305: 4,
  306: 6,
  307: 6,
  308: 4,
  309: 4,
  310: 4,
  311: 4,
  312: 4,
  313: 4,
  314: 4,
  315: 4,
  316: 6,
  317: 4,
  318: 4,
  319: 4,
  320: 4,
  321: 4,
  322: 4,
  323: 4,
  324: 4,
  325: 4,
  326: 4,
  327: 5,
  328: 4,
  329: 4,
  330: 4,
  331: 4,
  332: 4,
  333: 6,
  334: 3,
  335: 4,
  336: 4,
  337: 4,
  338: 4,
  339: 4,
  340: 4,
  341: 6,
  342: 4,
  343: 4,
  344: 4,
  345: 4,
  346: 4,
  347: 4,
  348: 4,
  349: 4,
  350: 4,
  351: 4,
  352: 4,
  353: 4,
  354: 4,
  355: 4,
  356: 4,
  357: 4,
  358: 4,
  359: 4,
  360: 6,
  361: 6,
  362: 6,
  363: 6,
  364: 8,
  365: 6,
  366: 6,
  367: 4,
  368: 4,
  369: 4,
  370: 4,
  371: 4,
  372: 4,
  373: 4,
  374: 4,
  375: 4,
  376: 4,
  377: 4,
  378: 4,
  379: 4,
  380: 4,
  381: 4,
  382: 4,
  383: 4,
  384: 4,
  385: 4,
  386: 6,
  387: 6,
  388: 4,
  389: 6,
  390: 4,
  391: 4,
  392: 4,
  393: 4,
  394: 4,
  395: 4,
  396: 4,
  397: 4},
 'disp': {0: 307.0,
  1: 350.0,
  2: 318.0,
  3: 304.0,
  4: 302.0,
  5: 429.0,
  6: 454.0,
  7: 440.0,
  8: 455.0,
  9: 390.0,
  10: 383.0,
  11: 340.0,
  12: 400.0,
  13: 455.0,
  14: 113.0,
  15: 198.0,
  16: 199.0,
  17: 200.0,
  18: 97.0,
  19: 97.0,
  20: 110.0,
  21: 107.0,
  22: 104.0,
  23: 121.0,
  24: 199.0,
  25: 360.0,
  26: 307.0,
  27: 318.0,
  28: 304.0,
  29: 97.0,
  30: 140.0,
  31: 113.0,
  32: 98.0,
  33: 232.0,
  34: 225.0,
  35: 250.0,
  36: 250.0,
  37: 232.0,
  38: 350.0,
  39: 400.0,
  40: 351.0,
  41: 318.0,
  42: 383.0,
  43: 400.0,
  44: 400.0,
  45: 258.0,
  46: 140.0,
  47: 250.0,
  48: 250.0,
  49: 122.0,
  50: 116.0,
  51: 79.0,
  52: 88.0,
  53: 71.0,
  54: 72.0,
  55: 97.0,
  56: 91.0,
  57: 113.0,
  58: 97.5,
  59: 97.0,
  60: 140.0,
  61: 122.0,
  62: 350.0,
  63: 400.0,
  64: 318.0,
  65: 351.0,
  66: 304.0,
  67: 429.0,
  68: 350.0,
  69: 350.0,
  70: 400.0,
  71: 70.0,
  72: 304.0,
  73: 307.0,
  74: 302.0,
  75: 318.0,
  76: 121.0,
  77: 121.0,
  78: 120.0,
  79: 96.0,
  80: 122.0,
  81: 97.0,
  82: 120.0,
  83: 98.0,
  84: 97.0,
  85: 350.0,
  86: 304.0,
  87: 350.0,
  88: 302.0,
  89: 318.0,
  90: 429.0,
  91: 400.0,
  92: 351.0,
  93: 318.0,
  94: 440.0,
  95: 455.0,
  96: 360.0,
  97: 225.0,
  98: 250.0,
  99: 232.0,
  100: 250.0,
  101: 198.0,
  102: 97.0,
  103: 400.0,
  104: 400.0,
  105: 360.0,
  106: 350.0,
  107: 232.0,
  108: 97.0,
  109: 140.0,
  110: 108.0,
  111: 70.0,
  112: 122.0,
  113: 155.0,
  114: 98.0,
  115: 350.0,
  116: 400.0,
  117: 68.0,
  118: 116.0,
  119: 114.0,
  120: 121.0,
  121: 318.0,
  122: 121.0,
  123: 156.0,
  124: 350.0,
  125: 198.0,
  126: 200.0,
  127: 232.0,
  128: 250.0,
  129: 79.0,
  130: 122.0,
  131: 71.0,
  132: 140.0,
  133: 250.0,
  134: 258.0,
  135: 225.0,
  136: 302.0,
  137: 350.0,
  138: 318.0,
  139: 302.0,
  140: 304.0,
  141: 98.0,
  142: 79.0,
  143: 97.0,
  144: 76.0,
  145: 83.0,
  146: 90.0,
  147: 90.0,
  148: 116.0,
  149: 120.0,
  150: 108.0,
  151: 79.0,
  152: 225.0,
  153: 250.0,
  154: 250.0,
  155: 250.0,
  156: 400.0,
  157: 350.0,
  158: 318.0,
  159: 351.0,
  160: 231.0,
  161: 250.0,
  162: 258.0,
  163: 225.0,
  164: 231.0,
  165: 262.0,
  166: 302.0,
  167: 97.0,
  168: 140.0,
  169: 232.0,
  170: 140.0,
  171: 134.0,
  172: 90.0,
  173: 119.0,
  174: 171.0,
  175: 90.0,
  176: 232.0,
  177: 115.0,
  178: 120.0,
  179: 121.0,
  180: 121.0,
  181: 91.0,
  182: 107.0,
  183: 116.0,
  184: 140.0,
  185: 98.0,
  186: 101.0,
  187: 305.0,
  188: 318.0,
  189: 304.0,
  190: 351.0,
  191: 225.0,
  192: 250.0,
  193: 200.0,
  194: 232.0,
  195: 85.0,
  196: 98.0,
  197: 90.0,
  198: 91.0,
  199: 225.0,
  200: 250.0,
  201: 250.0,
  202: 258.0,
  203: 97.0,
  204: 85.0,
  205: 97.0,
  206: 140.0,
  207: 130.0,
  208: 318.0,
  209: 120.0,
  210: 156.0,
  211: 168.0,
  212: 350.0,
  213: 350.0,
  214: 302.0,
  215: 318.0,
  216: 98.0,
  217: 111.0,
  218: 79.0,
  219: 122.0,
  220: 85.0,
  221: 305.0,
  222: 260.0,
  223: 318.0,
  224: 302.0,
  225: 250.0,
  226: 231.0,
  227: 225.0,
  228: 250.0,
  229: 400.0,
  230: 350.0,
  231: 400.0,
  232: 351.0,
  233: 97.0,
  234: 151.0,
  235: 97.0,
  236: 140.0,
  237: 98.0,
  238: 98.0,
  239: 97.0,
  240: 97.0,
  241: 146.0,
  242: 121.0,
  243: 80.0,
  244: 90.0,
  245: 98.0,
  246: 78.0,
  247: 85.0,
  248: 91.0,
  249: 260.0,
  250: 318.0,
  251: 302.0,
  252: 231.0,
  253: 200.0,
  254: 200.0,
  255: 140.0,
  256: 225.0,
  257: 232.0,
  258: 231.0,
  259: 200.0,
  260: 225.0,
  261: 258.0,
  262: 305.0,
  263: 231.0,
  264: 302.0,
  265: 318.0,
  266: 98.0,
  267: 134.0,
  268: 119.0,
  269: 105.0,
  270: 134.0,
  271: 156.0,
  272: 151.0,
  273: 119.0,
  274: 131.0,
  275: 163.0,
  276: 121.0,
  277: 163.0,
  278: 89.0,
  279: 98.0,
  280: 231.0,
  281: 200.0,
  282: 140.0,
  283: 232.0,
  284: 225.0,
  285: 305.0,
  286: 302.0,
  287: 351.0,
  288: 318.0,
  289: 350.0,
  290: 351.0,
  291: 267.0,
  292: 360.0,
  293: 89.0,
  294: 86.0,
  295: 98.0,
  296: 121.0,
  297: 183.0,
  298: 350.0,
  299: 141.0,
  300: 260.0,
  301: 105.0,
  302: 105.0,
  303: 85.0,
  304: 91.0,
  305: 151.0,
  306: 173.0,
  307: 173.0,
  308: 151.0,
  309: 98.0,
  310: 89.0,
  311: 98.0,
  312: 86.0,
  313: 151.0,
  314: 140.0,
  315: 151.0,
  316: 225.0,
  317: 97.0,
  318: 134.0,
  319: 120.0,
  320: 119.0,
  321: 108.0,
  322: 86.0,
  323: 156.0,
  324: 85.0,
  325: 90.0,
  326: 90.0,
  327: 121.0,
  328: 146.0,
  329: 91.0,
  330: 85.0,
  331: 97.0,
  332: 89.0,
  333: 168.0,
  334: 70.0,
  335: 122.0,
  336: 140.0,
  337: 107.0,
  338: 135.0,
  339: 151.0,
  340: 156.0,
  341: 173.0,
  342: 135.0,
  343: 79.0,
  344: 86.0,
  345: 81.0,
  346: 97.0,
  347: 85.0,
  348: 89.0,
  349: 91.0,
  350: 105.0,
  351: 98.0,
  352: 98.0,
  353: 105.0,
  354: 100.0,
  355: 107.0,
  356: 108.0,
  357: 119.0,
  358: 120.0,
  359: 141.0,
  360: 145.0,
  361: 168.0,
  362: 146.0,
  363: 231.0,
  364: 350.0,
  365: 200.0,
  366: 225.0,
  367: 112.0,
  368: 112.0,
  369: 112.0,
  370: 112.0,
  371: 135.0,
  372: 151.0,
  373: 140.0,
  374: 151.0,
  375: 105.0,
  376: 91.0,
  377: 91.0,
  378: 105.0,
  379: 98.0,
  380: 120.0,
  381: 107.0,
  382: 108.0,
  383: 91.0,
  384: 91.0,
  385: 91.0,
  386: 181.0,
  387: 262.0,
  388: 156.0,
  389: 232.0,
  390: 144.0,
  391: 135.0,
  392: 151.0,
  393: 140.0,
  394: 97.0,
  395: 135.0,
  396: 120.0,
  397: 119.0},
 'hp': {0: '130.0',
  1: '165.0',
  2: '150.0',
  3: '150.0',
  4: '140.0',
  5: '198.0',
  6: '220.0',
  7: '215.0',
  8: '225.0',
  9: '190.0',
  10: '170.0',
  11: '160.0',
  12: '150.0',
  13: '225.0',
  14: '95.00',
  15: '95.00',
  16: '97.00',
  17: '85.00',
  18: '88.00',
  19: '46.00',
  20: '87.00',
  21: '90.00',
  22: '95.00',
  23: '113.0',
  24: '90.00',
  25: '215.0',
  26: '200.0',
  27: '210.0',
  28: '193.0',
  29: '88.00',
  30: '90.00',
  31: '95.00',
  32: '?',
  33: '100.0',
  34: '105.0',
  35: '100.0',
  36: '88.00',
  37: '100.0',
  38: '165.0',
  39: '175.0',
  40: '153.0',
  41: '150.0',
  42: '180.0',
  43: '170.0',
  44: '175.0',
  45: '110.0',
  46: '72.00',
  47: '100.0',
  48: '88.00',
  49: '86.00',
  50: '90.00',
  51: '70.00',
  52: '76.00',
  53: '65.00',
  54: '69.00',
  55: '60.00',
  56: '70.00',
  57: '95.00',
  58: '80.00',
  59: '54.00',
  60: '90.00',
  61: '86.00',
  62: '165.0',
  63: '175.0',
  64: '150.0',
  65: '153.0',
  66: '150.0',
  67: '208.0',
  68: '155.0',
  69: '160.0',
  70: '190.0',
  71: '97.00',
  72: '150.0',
  73: '130.0',
  74: '140.0',
  75: '150.0',
  76: '112.0',
  77: '76.00',
  78: '87.00',
  79: '69.00',
  80: '86.00',
  81: '92.00',
  82: '97.00',
  83: '80.00',
  84: '88.00',
  85: '175.0',
  86: '150.0',
  87: '145.0',
  88: '137.0',
  89: '150.0',
  90: '198.0',
  91: '150.0',
  92: '158.0',
  93: '150.0',
  94: '215.0',
  95: '225.0',
  96: '175.0',
  97: '105.0',
  98: '100.0',
  99: '100.0',
  100: '88.00',
  101: '95.00',
  102: '46.00',
  103: '150.0',
  104: '167.0',
  105: '170.0',
  106: '180.0',
  107: '100.0',
  108: '88.00',
  109: '72.00',
  110: '94.00',
  111: '90.00',
  112: '85.00',
  113: '107.0',
  114: '90.00',
  115: '145.0',
  116: '230.0',
  117: '49.00',
  118: '75.00',
  119: '91.00',
  120: '112.0',
  121: '150.0',
  122: '110.0',
  123: '122.0',
  124: '180.0',
  125: '95.00',
  126: '?',
  127: '100.0',
  128: '100.0',
  129: '67.00',
  130: '80.00',
  131: '65.00',
  132: '75.00',
  133: '100.0',
  134: '110.0',
  135: '105.0',
  136: '140.0',
  137: '150.0',
  138: '150.0',
  139: '140.0',
  140: '150.0',
  141: '83.00',
  142: '67.00',
  143: '78.00',
  144: '52.00',
  145: '61.00',
  146: '75.00',
  147: '75.00',
  148: '75.00',
  149: '97.00',
  150: '93.00',
  151: '67.00',
  152: '95.00',
  153: '105.0',
  154: '72.00',
  155: '72.00',
  156: '170.0',
  157: '145.0',
  158: '150.0',
  159: '148.0',
  160: '110.0',
  161: '105.0',
  162: '110.0',
  163: '95.00',
  164: '110.0',
  165: '110.0',
  166: '129.0',
  167: '75.00',
  168: '83.00',
  169: '100.0',
  170: '78.00',
  171: '96.00',
  172: '71.00',
  173: '97.00',
  174: '97.00',
  175: '70.00',
  176: '90.00',
  177: '95.00',
  178: '88.00',
  179: '98.00',
  180: '115.0',
  181: '53.00',
  182: '86.00',
  183: '81.00',
  184: '92.00',
  185: '79.00',
  186: '83.00',
  187: '140.0',
  188: '150.0',
  189: '120.0',
  190: '152.0',
  191: '100.0',
  192: '105.0',
  193: '81.00',
  194: '90.00',
  195: '52.00',
  196: '60.00',
  197: '70.00',
  198: '53.00',
  199: '100.0',
  200: '78.00',
  201: '110.0',
  202: '95.00',
  203: '71.00',
  204: '70.00',
  205: '75.00',
  206: '72.00',
  207: '102.0',
  208: '150.0',
  209: '88.00',
  210: '108.0',
  211: '120.0',
  212: '180.0',
  213: '145.0',
  214: '130.0',
  215: '150.0',
  216: '68.00',
  217: '80.00',
  218: '58.00',
  219: '96.00',
  220: '70.00',
  221: '145.0',
  222: '110.0',
  223: '145.0',
  224: '130.0',
  225: '110.0',
  226: '105.0',
  227: '100.0',
  228: '98.00',
  229: '180.0',
  230: '170.0',
  231: '190.0',
  232: '149.0',
  233: '78.00',
  234: '88.00',
  235: '75.00',
  236: '89.00',
  237: '63.00',
  238: '83.00',
  239: '67.00',
  240: '78.00',
  241: '97.00',
  242: '110.0',
  243: '110.0',
  244: '48.00',
  245: '66.00',
  246: '52.00',
  247: '70.00',
  248: '60.00',
  249: '110.0',
  250: '140.0',
  251: '139.0',
  252: '105.0',
  253: '95.00',
  254: '85.00',
  255: '88.00',
  256: '100.0',
  257: '90.00',
  258: '105.0',
  259: '85.00',
  260: '110.0',
  261: '120.0',
  262: '145.0',
  263: '165.0',
  264: '139.0',
  265: '140.0',
  266: '68.00',
  267: '95.00',
  268: '97.00',
  269: '75.00',
  270: '95.00',
  271: '105.0',
  272: '85.00',
  273: '97.00',
  274: '103.0',
  275: '125.0',
  276: '115.0',
  277: '133.0',
  278: '71.00',
  279: '68.00',
  280: '115.0',
  281: '85.00',
  282: '88.00',
  283: '90.00',
  284: '110.0',
  285: '130.0',
  286: '129.0',
  287: '138.0',
  288: '135.0',
  289: '155.0',
  290: '142.0',
  291: '125.0',
  292: '150.0',
  293: '71.00',
  294: '65.00',
  295: '80.00',
  296: '80.00',
  297: '77.00',
  298: '125.0',
  299: '71.00',
  300: '90.00',
  301: '70.00',
  302: '70.00',
  303: '65.00',
  304: '69.00',
  305: '90.00',
  306: '115.0',
  307: '115.0',
  308: '90.00',
  309: '76.00',
  310: '60.00',
  311: '70.00',
  312: '65.00',
  313: '90.00',
  314: '88.00',
  315: '90.00',
  316: '90.00',
  317: '78.00',
  318: '90.00',
  319: '75.00',
  320: '92.00',
  321: '75.00',
  322: '65.00',
  323: '105.0',
  324: '65.00',
  325: '48.00',
  326: '48.00',
  327: '67.00',
  328: '67.00',
  329: '67.00',
  330: '?',
  331: '67.00',
  332: '62.00',
  333: '132.0',
  334: '100.0',
  335: '88.00',
  336: '?',
  337: '72.00',
  338: '84.00',
  339: '84.00',
  340: '92.00',
  341: '110.0',
  342: '84.00',
  343: '58.00',
  344: '64.00',
  345: '60.00',
  346: '67.00',
  347: '65.00',
  348: '62.00',
  349: '68.00',
  350: '63.00',
  351: '65.00',
  352: '65.00',
  353: '74.00',
  354: '?',
  355: '75.00',
  356: '75.00',
  357: '100.0',
  358: '74.00',
  359: '80.00',
  360: '76.00',
  361: '116.0',

In [329]:
df.to_json()

'{"mpg":{"0":18.0,"1":15.0,"2":18.0,"3":16.0,"4":17.0,"5":15.0,"6":14.0,"7":14.0,"8":14.0,"9":15.0,"10":15.0,"11":14.0,"12":15.0,"13":14.0,"14":24.0,"15":22.0,"16":18.0,"17":21.0,"18":27.0,"19":26.0,"20":25.0,"21":24.0,"22":25.0,"23":26.0,"24":21.0,"25":10.0,"26":10.0,"27":11.0,"28":9.0,"29":27.0,"30":28.0,"31":25.0,"32":25.0,"33":19.0,"34":16.0,"35":17.0,"36":19.0,"37":18.0,"38":14.0,"39":14.0,"40":14.0,"41":14.0,"42":12.0,"43":13.0,"44":13.0,"45":18.0,"46":22.0,"47":19.0,"48":18.0,"49":23.0,"50":28.0,"51":30.0,"52":30.0,"53":31.0,"54":35.0,"55":27.0,"56":26.0,"57":24.0,"58":25.0,"59":23.0,"60":20.0,"61":21.0,"62":13.0,"63":14.0,"64":15.0,"65":14.0,"66":17.0,"67":11.0,"68":13.0,"69":12.0,"70":13.0,"71":19.0,"72":15.0,"73":13.0,"74":13.0,"75":14.0,"76":18.0,"77":22.0,"78":21.0,"79":26.0,"80":22.0,"81":28.0,"82":23.0,"83":28.0,"84":27.0,"85":13.0,"86":14.0,"87":13.0,"88":14.0,"89":15.0,"90":12.0,"91":13.0,"92":13.0,"93":14.0,"94":13.0,"95":12.0,"96":13.0,"97":18.0,"98":16.0,"99":18.0,"100":18.0,"101":23.0,"102":26.0,"103":11.0,"104":12.0,"105":13.0,"106":12.0,"107":18.0,"108":20.0,"109":21.0,"110":22.0,"111":18.0,"112":19.0,"113":21.0,"114":26.0,"115":15.0,"116":16.0,"117":29.0,"118":24.0,"119":20.0,"120":19.0,"121":15.0,"122":24.0,"123":20.0,"124":11.0,"125":20.0,"126":21.0,"127":19.0,"128":15.0,"129":31.0,"130":26.0,"131":32.0,"132":25.0,"133":16.0,"134":16.0,"135":18.0,"136":16.0,"137":13.0,"138":14.0,"139":14.0,"140":14.0,"141":29.0,"142":26.0,"143":26.0,"144":31.0,"145":32.0,"146":28.0,"147":24.0,"148":26.0,"149":24.0,"150":26.0,"151":31.0,"152":19.0,"153":18.0,"154":15.0,"155":15.0,"156":16.0,"157":15.0,"158":16.0,"159":14.0,"160":17.0,"161":16.0,"162":15.0,"163":18.0,"164":21.0,"165":20.0,"166":13.0,"167":29.0,"168":23.0,"169":20.0,"170":23.0,"171":24.0,"172":25.0,"173":24.0,"174":18.0,"175":29.0,"176":19.0,"177":23.0,"178":23.0,"179":22.0,"180":25.0,"181":33.0,"182":28.0,"183":25.0,"184":25.0,"185":26.0,"186":27.0,"187":17.5,"188":16.0,"189":15.5,"190":14.5,"191":22.0,"192":22.0,"193":24.0,"194":22.5,"195":29.0,"196":24.5,"197":29.0,"198":33.0,"199":20.0,"200":18.0,"201":18.5,"202":17.5,"203":29.5,"204":32.0,"205":28.0,"206":26.5,"207":20.0,"208":13.0,"209":19.0,"210":19.0,"211":16.5,"212":16.5,"213":13.0,"214":13.0,"215":13.0,"216":31.5,"217":30.0,"218":36.0,"219":25.5,"220":33.5,"221":17.5,"222":17.0,"223":15.5,"224":15.0,"225":17.5,"226":20.5,"227":19.0,"228":18.5,"229":16.0,"230":15.5,"231":15.5,"232":16.0,"233":29.0,"234":24.5,"235":26.0,"236":25.5,"237":30.5,"238":33.5,"239":30.0,"240":30.5,"241":22.0,"242":21.5,"243":21.5,"244":43.1,"245":36.1,"246":32.8,"247":39.4,"248":36.1,"249":19.9,"250":19.4,"251":20.2,"252":19.2,"253":20.5,"254":20.2,"255":25.1,"256":20.5,"257":19.4,"258":20.6,"259":20.8,"260":18.6,"261":18.1,"262":19.2,"263":17.7,"264":18.1,"265":17.5,"266":30.0,"267":27.5,"268":27.2,"269":30.9,"270":21.1,"271":23.2,"272":23.8,"273":23.9,"274":20.3,"275":17.0,"276":21.6,"277":16.2,"278":31.5,"279":29.5,"280":21.5,"281":19.8,"282":22.3,"283":20.2,"284":20.6,"285":17.0,"286":17.6,"287":16.5,"288":18.2,"289":16.9,"290":15.5,"291":19.2,"292":18.5,"293":31.9,"294":34.1,"295":35.7,"296":27.4,"297":25.4,"298":23.0,"299":27.2,"300":23.9,"301":34.2,"302":34.5,"303":31.8,"304":37.3,"305":28.4,"306":28.8,"307":26.8,"308":33.5,"309":41.5,"310":38.1,"311":32.1,"312":37.2,"313":28.0,"314":26.4,"315":24.3,"316":19.1,"317":34.3,"318":29.8,"319":31.3,"320":37.0,"321":32.2,"322":46.6,"323":27.9,"324":40.8,"325":44.3,"326":43.4,"327":36.4,"328":30.0,"329":44.6,"330":40.9,"331":33.8,"332":29.8,"333":32.7,"334":23.7,"335":35.0,"336":23.6,"337":32.4,"338":27.2,"339":26.6,"340":25.8,"341":23.5,"342":30.0,"343":39.1,"344":39.0,"345":35.1,"346":32.3,"347":37.0,"348":37.7,"349":34.1,"350":34.7,"351":34.4,"352":29.9,"353":33.0,"354":34.5,"355":33.7,"356":32.4,"357":32.9,"358":31.6,"359":28.1,"360":30.7,"361":25.4,"362":24.2,"363":22.4,"364":26.6,"365":20.2,"366":17.6,"367":28.0,"368":27.0,"369":34.0,"370":31.0,"371":29.0,"372":27.0,"373":24.0,"374":23.0,"375":36.0,"376":37.0,"377":31.0,"378":38.0,"379":36.0,"380":36.0,"381":36.0,"382":34.0,"383":38.0,"384":32.0,"385":38.0,"386":25.0,"387":38.0,"388":26.0,"389":22.0,"390":32.0,"391":36.0,"392":27.0,"393":27.0,"394":44.0,"395":32.0,"396":28.0,"397":31.0},"cyl":{"0":8,"1":8,"2":8,"3":8,"4":8,"5":8,"6":8,"7":8,"8":8,"9":8,"10":8,"11":8,"12":8,"13":8,"14":4,"15":6,"16":6,"17":6,"18":4,"19":4,"20":4,"21":4,"22":4,"23":4,"24":6,"25":8,"26":8,"27":8,"28":8,"29":4,"30":4,"31":4,"32":4,"33":6,"34":6,"35":6,"36":6,"37":6,"38":8,"39":8,"40":8,"41":8,"42":8,"43":8,"44":8,"45":6,"46":4,"47":6,"48":6,"49":4,"50":4,"51":4,"52":4,"53":4,"54":4,"55":4,"56":4,"57":4,"58":4,"59":4,"60":4,"61":4,"62":8,"63":8,"64":8,"65":8,"66":8,"67":8,"68":8,"69":8,"70":8,"71":3,"72":8,"73":8,"74":8,"75":8,"76":4,"77":4,"78":4,"79":4,"80":4,"81":4,"82":4,"83":4,"84":4,"85":8,"86":8,"87":8,"88":8,"89":8,"90":8,"91":8,"92":8,"93":8,"94":8,"95":8,"96":8,"97":6,"98":6,"99":6,"100":6,"101":6,"102":4,"103":8,"104":8,"105":8,"106":8,"107":6,"108":4,"109":4,"110":4,"111":3,"112":4,"113":6,"114":4,"115":8,"116":8,"117":4,"118":4,"119":4,"120":4,"121":8,"122":4,"123":6,"124":8,"125":6,"126":6,"127":6,"128":6,"129":4,"130":4,"131":4,"132":4,"133":6,"134":6,"135":6,"136":8,"137":8,"138":8,"139":8,"140":8,"141":4,"142":4,"143":4,"144":4,"145":4,"146":4,"147":4,"148":4,"149":4,"150":4,"151":4,"152":6,"153":6,"154":6,"155":6,"156":8,"157":8,"158":8,"159":8,"160":6,"161":6,"162":6,"163":6,"164":6,"165":8,"166":8,"167":4,"168":4,"169":6,"170":4,"171":4,"172":4,"173":4,"174":6,"175":4,"176":6,"177":4,"178":4,"179":4,"180":4,"181":4,"182":4,"183":4,"184":4,"185":4,"186":4,"187":8,"188":8,"189":8,"190":8,"191":6,"192":6,"193":6,"194":6,"195":4,"196":4,"197":4,"198":4,"199":6,"200":6,"201":6,"202":6,"203":4,"204":4,"205":4,"206":4,"207":4,"208":8,"209":4,"210":6,"211":6,"212":8,"213":8,"214":8,"215":8,"216":4,"217":4,"218":4,"219":4,"220":4,"221":8,"222":8,"223":8,"224":8,"225":6,"226":6,"227":6,"228":6,"229":8,"230":8,"231":8,"232":8,"233":4,"234":4,"235":4,"236":4,"237":4,"238":4,"239":4,"240":4,"241":6,"242":4,"243":3,"244":4,"245":4,"246":4,"247":4,"248":4,"249":8,"250":8,"251":8,"252":6,"253":6,"254":6,"255":4,"256":6,"257":6,"258":6,"259":6,"260":6,"261":6,"262":8,"263":6,"264":8,"265":8,"266":4,"267":4,"268":4,"269":4,"270":4,"271":4,"272":4,"273":4,"274":5,"275":6,"276":4,"277":6,"278":4,"279":4,"280":6,"281":6,"282":4,"283":6,"284":6,"285":8,"286":8,"287":8,"288":8,"289":8,"290":8,"291":8,"292":8,"293":4,"294":4,"295":4,"296":4,"297":5,"298":8,"299":4,"300":8,"301":4,"302":4,"303":4,"304":4,"305":4,"306":6,"307":6,"308":4,"309":4,"310":4,"311":4,"312":4,"313":4,"314":4,"315":4,"316":6,"317":4,"318":4,"319":4,"320":4,"321":4,"322":4,"323":4,"324":4,"325":4,"326":4,"327":5,"328":4,"329":4,"330":4,"331":4,"332":4,"333":6,"334":3,"335":4,"336":4,"337":4,"338":4,"339":4,"340":4,"341":6,"342":4,"343":4,"344":4,"345":4,"346":4,"347":4,"348":4,"349":4,"350":4,"351":4,"352":4,"353":4,"354":4,"355":4,"356":4,"357":4,"358":4,"359":4,"360":6,"361":6,"362":6,"363":6,"364":8,"365":6,"366":6,"367":4,"368":4,"369":4,"370":4,"371":4,"372":4,"373":4,"374":4,"375":4,"376":4,"377":4,"378":4,"379":4,"380":4,"381":4,"382":4,"383":4,"384":4,"385":4,"386":6,"387":6,"388":4,"389":6,"390":4,"391":4,"392":4,"393":4,"394":4,"395":4,"396":4,"397":4},"disp":{"0":307.0,"1":350.0,"2":318.0,"3":304.0,"4":302.0,"5":429.0,"6":454.0,"7":440.0,"8":455.0,"9":390.0,"10":383.0,"11":340.0,"12":400.0,"13":455.0,"14":113.0,"15":198.0,"16":199.0,"17":200.0,"18":97.0,"19":97.0,"20":110.0,"21":107.0,"22":104.0,"23":121.0,"24":199.0,"25":360.0,"26":307.0,"27":318.0,"28":304.0,"29":97.0,"30":140.0,"31":113.0,"32":98.0,"33":232.0,"34":225.0,"35":250.0,"36":250.0,"37":232.0,"38":350.0,"39":400.0,"40":351.0,"41":318.0,"42":383.0,"43":400.0,"44":400.0,"45":258.0,"46":140.0,"47":250.0,"48":250.0,"49":122.0,"50":116.0,"51":79.0,"52":88.0,"53":71.0,"54":72.0,"55":97.0,"56":91.0,"57":113.0,"58":97.5,"59":97.0,"60":140.0,"61":122.0,"62":350.0,"63":400.0,"64":318.0,"65":351.0,"66":304.0,"67":429.0,"68":350.0,"69":350.0,"70":400.0,"71":70.0,"72":304.0,"73":307.0,"74":302.0,"75":318.0,"76":121.0,"77":121.0,"78":120.0,"79":96.0,"80":122.0,"81":97.0,"82":120.0,"83":98.0,"84":97.0,"85":350.0,"86":304.0,"87":350.0,"88":302.0,"89":318.0,"90":429.0,"91":400.0,"92":351.0,"93":318.0,"94":440.0,"95":455.0,"96":360.0,"97":225.0,"98":250.0,"99":232.0,"100":250.0,"101":198.0,"102":97.0,"103":400.0,"104":400.0,"105":360.0,"106":350.0,"107":232.0,"108":97.0,"109":140.0,"110":108.0,"111":70.0,"112":122.0,"113":155.0,"114":98.0,"115":350.0,"116":400.0,"117":68.0,"118":116.0,"119":114.0,"120":121.0,"121":318.0,"122":121.0,"123":156.0,"124":350.0,"125":198.0,"126":200.0,"127":232.0,"128":250.0,"129":79.0,"130":122.0,"131":71.0,"132":140.0,"133":250.0,"134":258.0,"135":225.0,"136":302.0,"137":350.0,"138":318.0,"139":302.0,"140":304.0,"141":98.0,"142":79.0,"143":97.0,"144":76.0,"145":83.0,"146":90.0,"147":90.0,"148":116.0,"149":120.0,"150":108.0,"151":79.0,"152":225.0,"153":250.0,"154":250.0,"155":250.0,"156":400.0,"157":350.0,"158":318.0,"159":351.0,"160":231.0,"161":250.0,"162":258.0,"163":225.0,"164":231.0,"165":262.0,"166":302.0,"167":97.0,"168":140.0,"169":232.0,"170":140.0,"171":134.0,"172":90.0,"173":119.0,"174":171.0,"175":90.0,"176":232.0,"177":115.0,"178":120.0,"179":121.0,"180":121.0,"181":91.0,"182":107.0,"183":116.0,"184":140.0,"185":98.0,"186":101.0,"187":305.0,"188":318.0,"189":304.0,"190":351.0,"191":225.0,"192":250.0,"193":200.0,"194":232.0,"195":85.0,"196":98.0,"197":90.0,"198":91.0,"199":225.0,"200":250.0,"201":250.0,"202":258.0,"203":97.0,"204":85.0,"205":97.0,"206":140.0,"207":130.0,"208":318.0,"209":120.0,"210":156.0,"211":168.0,"212":350.0,"213":350.0,"214":302.0,"215":318.0,"216":98.0,"217":111.0,"218":79.0,"219":122.0,"220":85.0,"221":305.0,"222":260.0,"223":318.0,"224":302.0,"225":250.0,"226":231.0,"227":225.0,"228":250.0,"229":400.0,"230":350.0,"231":400.0,"232":351.0,"233":97.0,"234":151.0,"235":97.0,"236":140.0,"237":98.0,"238":98.0,"239":97.0,"240":97.0,"241":146.0,"242":121.0,"243":80.0,"244":90.0,"245":98.0,"246":78.0,"247":85.0,"248":91.0,"249":260.0,"250":318.0,"251":302.0,"252":231.0,"253":200.0,"254":200.0,"255":140.0,"256":225.0,"257":232.0,"258":231.0,"259":200.0,"260":225.0,"261":258.0,"262":305.0,"263":231.0,"264":302.0,"265":318.0,"266":98.0,"267":134.0,"268":119.0,"269":105.0,"270":134.0,"271":156.0,"272":151.0,"273":119.0,"274":131.0,"275":163.0,"276":121.0,"277":163.0,"278":89.0,"279":98.0,"280":231.0,"281":200.0,"282":140.0,"283":232.0,"284":225.0,"285":305.0,"286":302.0,"287":351.0,"288":318.0,"289":350.0,"290":351.0,"291":267.0,"292":360.0,"293":89.0,"294":86.0,"295":98.0,"296":121.0,"297":183.0,"298":350.0,"299":141.0,"300":260.0,"301":105.0,"302":105.0,"303":85.0,"304":91.0,"305":151.0,"306":173.0,"307":173.0,"308":151.0,"309":98.0,"310":89.0,"311":98.0,"312":86.0,"313":151.0,"314":140.0,"315":151.0,"316":225.0,"317":97.0,"318":134.0,"319":120.0,"320":119.0,"321":108.0,"322":86.0,"323":156.0,"324":85.0,"325":90.0,"326":90.0,"327":121.0,"328":146.0,"329":91.0,"330":85.0,"331":97.0,"332":89.0,"333":168.0,"334":70.0,"335":122.0,"336":140.0,"337":107.0,"338":135.0,"339":151.0,"340":156.0,"341":173.0,"342":135.0,"343":79.0,"344":86.0,"345":81.0,"346":97.0,"347":85.0,"348":89.0,"349":91.0,"350":105.0,"351":98.0,"352":98.0,"353":105.0,"354":100.0,"355":107.0,"356":108.0,"357":119.0,"358":120.0,"359":141.0,"360":145.0,"361":168.0,"362":146.0,"363":231.0,"364":350.0,"365":200.0,"366":225.0,"367":112.0,"368":112.0,"369":112.0,"370":112.0,"371":135.0,"372":151.0,"373":140.0,"374":151.0,"375":105.0,"376":91.0,"377":91.0,"378":105.0,"379":98.0,"380":120.0,"381":107.0,"382":108.0,"383":91.0,"384":91.0,"385":91.0,"386":181.0,"387":262.0,"388":156.0,"389":232.0,"390":144.0,"391":135.0,"392":151.0,"393":140.0,"394":97.0,"395":135.0,"396":120.0,"397":119.0},"hp":{"0":"130.0","1":"165.0","2":"150.0","3":"150.0","4":"140.0","5":"198.0","6":"220.0","7":"215.0","8":"225.0","9":"190.0","10":"170.0","11":"160.0","12":"150.0","13":"225.0","14":"95.00","15":"95.00","16":"97.00","17":"85.00","18":"88.00","19":"46.00","20":"87.00","21":"90.00","22":"95.00","23":"113.0","24":"90.00","25":"215.0","26":"200.0","27":"210.0","28":"193.0","29":"88.00","30":"90.00","31":"95.00","32":"?","33":"100.0","34":"105.0","35":"100.0","36":"88.00","37":"100.0","38":"165.0","39":"175.0","40":"153.0","41":"150.0","42":"180.0","43":"170.0","44":"175.0","45":"110.0","46":"72.00","47":"100.0","48":"88.00","49":"86.00","50":"90.00","51":"70.00","52":"76.00","53":"65.00","54":"69.00","55":"60.00","56":"70.00","57":"95.00","58":"80.00","59":"54.00","60":"90.00","61":"86.00","62":"165.0","63":"175.0","64":"150.0","65":"153.0","66":"150.0","67":"208.0","68":"155.0","69":"160.0","70":"190.0","71":"97.00","72":"150.0","73":"130.0","74":"140.0","75":"150.0","76":"112.0","77":"76.00","78":"87.00","79":"69.00","80":"86.00","81":"92.00","82":"97.00","83":"80.00","84":"88.00","85":"175.0","86":"150.0","87":"145.0","88":"137.0","89":"150.0","90":"198.0","91":"150.0","92":"158.0","93":"150.0","94":"215.0","95":"225.0","96":"175.0","97":"105.0","98":"100.0","99":"100.0","100":"88.00","101":"95.00","102":"46.00","103":"150.0","104":"167.0","105":"170.0","106":"180.0","107":"100.0","108":"88.00","109":"72.00","110":"94.00","111":"90.00","112":"85.00","113":"107.0","114":"90.00","115":"145.0","116":"230.0","117":"49.00","118":"75.00","119":"91.00","120":"112.0","121":"150.0","122":"110.0","123":"122.0","124":"180.0","125":"95.00","126":"?","127":"100.0","128":"100.0","129":"67.00","130":"80.00","131":"65.00","132":"75.00","133":"100.0","134":"110.0","135":"105.0","136":"140.0","137":"150.0","138":"150.0","139":"140.0","140":"150.0","141":"83.00","142":"67.00","143":"78.00","144":"52.00","145":"61.00","146":"75.00","147":"75.00","148":"75.00","149":"97.00","150":"93.00","151":"67.00","152":"95.00","153":"105.0","154":"72.00","155":"72.00","156":"170.0","157":"145.0","158":"150.0","159":"148.0","160":"110.0","161":"105.0","162":"110.0","163":"95.00","164":"110.0","165":"110.0","166":"129.0","167":"75.00","168":"83.00","169":"100.0","170":"78.00","171":"96.00","172":"71.00","173":"97.00","174":"97.00","175":"70.00","176":"90.00","177":"95.00","178":"88.00","179":"98.00","180":"115.0","181":"53.00","182":"86.00","183":"81.00","184":"92.00","185":"79.00","186":"83.00","187":"140.0","188":"150.0","189":"120.0","190":"152.0","191":"100.0","192":"105.0","193":"81.00","194":"90.00","195":"52.00","196":"60.00","197":"70.00","198":"53.00","199":"100.0","200":"78.00","201":"110.0","202":"95.00","203":"71.00","204":"70.00","205":"75.00","206":"72.00","207":"102.0","208":"150.0","209":"88.00","210":"108.0","211":"120.0","212":"180.0","213":"145.0","214":"130.0","215":"150.0","216":"68.00","217":"80.00","218":"58.00","219":"96.00","220":"70.00","221":"145.0","222":"110.0","223":"145.0","224":"130.0","225":"110.0","226":"105.0","227":"100.0","228":"98.00","229":"180.0","230":"170.0","231":"190.0","232":"149.0","233":"78.00","234":"88.00","235":"75.00","236":"89.00","237":"63.00","238":"83.00","239":"67.00","240":"78.00","241":"97.00","242":"110.0","243":"110.0","244":"48.00","245":"66.00","246":"52.00","247":"70.00","248":"60.00","249":"110.0","250":"140.0","251":"139.0","252":"105.0","253":"95.00","254":"85.00","255":"88.00","256":"100.0","257":"90.00","258":"105.0","259":"85.00","260":"110.0","261":"120.0","262":"145.0","263":"165.0","264":"139.0","265":"140.0","266":"68.00","267":"95.00","268":"97.00","269":"75.00","270":"95.00","271":"105.0","272":"85.00","273":"97.00","274":"103.0","275":"125.0","276":"115.0","277":"133.0","278":"71.00","279":"68.00","280":"115.0","281":"85.00","282":"88.00","283":"90.00","284":"110.0","285":"130.0","286":"129.0","287":"138.0","288":"135.0","289":"155.0","290":"142.0","291":"125.0","292":"150.0","293":"71.00","294":"65.00","295":"80.00","296":"80.00","297":"77.00","298":"125.0","299":"71.00","300":"90.00","301":"70.00","302":"70.00","303":"65.00","304":"69.00","305":"90.00","306":"115.0","307":"115.0","308":"90.00","309":"76.00","310":"60.00","311":"70.00","312":"65.00","313":"90.00","314":"88.00","315":"90.00","316":"90.00","317":"78.00","318":"90.00","319":"75.00","320":"92.00","321":"75.00","322":"65.00","323":"105.0","324":"65.00","325":"48.00","326":"48.00","327":"67.00","328":"67.00","329":"67.00","330":"?","331":"67.00","332":"62.00","333":"132.0","334":"100.0","335":"88.00","336":"?","337":"72.00","338":"84.00","339":"84.00","340":"92.00","341":"110.0","342":"84.00","343":"58.00","344":"64.00","345":"60.00","346":"67.00","347":"65.00","348":"62.00","349":"68.00","350":"63.00","351":"65.00","352":"65.00","353":"74.00","354":"?","355":"75.00","356":"75.00","357":"100.0","358":"74.00","359":"80.00","360":"76.00","361":"116.0","362":"120.0","363":"110.0","364":"105.0","365":"88.00","366":"85.00","367":"88.00","368":"88.00","369":"88.00","370":"85.00","371":"84.00","372":"90.00","373":"92.00","374":"?","375":"74.00","376":"68.00","377":"68.00","378":"63.00","379":"70.00","380":"88.00","381":"75.00","382":"70.00","383":"67.00","384":"67.00","385":"67.00","386":"110.0","387":"85.00","388":"92.00","389":"112.0","390":"96.00","391":"84.00","392":"90.00","393":"86.00","394":"52.00","395":"84.00","396":"79.00","397":"82.00"},"wt":{"0":3504.0,"1":3693.0,"2":3436.0,"3":3433.0,"4":3449.0,"5":4341.0,"6":4354.0,"7":4312.0,"8":4425.0,"9":3850.0,"10":3563.0,"11":3609.0,"12":3761.0,"13":3086.0,"14":2372.0,"15":2833.0,"16":2774.0,"17":2587.0,"18":2130.0,"19":1835.0,"20":2672.0,"21":2430.0,"22":2375.0,"23":2234.0,"24":2648.0,"25":4615.0,"26":4376.0,"27":4382.0,"28":4732.0,"29":2130.0,"30":2264.0,"31":2228.0,"32":2046.0,"33":2634.0,"34":3439.0,"35":3329.0,"36":3302.0,"37":3288.0,"38":4209.0,"39":4464.0,"40":4154.0,"41":4096.0,"42":4955.0,"43":4746.0,"44":5140.0,"45":2962.0,"46":2408.0,"47":3282.0,"48":3139.0,"49":2220.0,"50":2123.0,"51":2074.0,"52":2065.0,"53":1773.0,"54":1613.0,"55":1834.0,"56":1955.0,"57":2278.0,"58":2126.0,"59":2254.0,"60":2408.0,"61":2226.0,"62":4274.0,"63":4385.0,"64":4135.0,"65":4129.0,"66":3672.0,"67":4633.0,"68":4502.0,"69":4456.0,"70":4422.0,"71":2330.0,"72":3892.0,"73":4098.0,"74":4294.0,"75":4077.0,"76":2933.0,"77":2511.0,"78":2979.0,"79":2189.0,"80":2395.0,"81":2288.0,"82":2506.0,"83":2164.0,"84":2100.0,"85":4100.0,"86":3672.0,"87":3988.0,"88":4042.0,"89":3777.0,"90":4952.0,"91":4464.0,"92":4363.0,"93":4237.0,"94":4735.0,"95":4951.0,"96":3821.0,"97":3121.0,"98":3278.0,"99":2945.0,"100":3021.0,"101":2904.0,"102":1950.0,"103":4997.0,"104":4906.0,"105":4654.0,"106":4499.0,"107":2789.0,"108":2279.0,"109":2401.0,"110":2379.0,"111":2124.0,"112":2310.0,"113":2472.0,"114":2265.0,"115":4082.0,"116":4278.0,"117":1867.0,"118":2158.0,"119":2582.0,"120":2868.0,"121":3399.0,"122":2660.0,"123":2807.0,"124":3664.0,"125":3102.0,"126":2875.0,"127":2901.0,"128":3336.0,"129":1950.0,"130":2451.0,"131":1836.0,"132":2542.0,"133":3781.0,"134":3632.0,"135":3613.0,"136":4141.0,"137":4699.0,"138":4457.0,"139":4638.0,"140":4257.0,"141":2219.0,"142":1963.0,"143":2300.0,"144":1649.0,"145":2003.0,"146":2125.0,"147":2108.0,"148":2246.0,"149":2489.0,"150":2391.0,"151":2000.0,"152":3264.0,"153":3459.0,"154":3432.0,"155":3158.0,"156":4668.0,"157":4440.0,"158":4498.0,"159":4657.0,"160":3907.0,"161":3897.0,"162":3730.0,"163":3785.0,"164":3039.0,"165":3221.0,"166":3169.0,"167":2171.0,"168":2639.0,"169":2914.0,"170":2592.0,"171":2702.0,"172":2223.0,"173":2545.0,"174":2984.0,"175":1937.0,"176":3211.0,"177":2694.0,"178":2957.0,"179":2945.0,"180":2671.0,"181":1795.0,"182":2464.0,"183":2220.0,"184":2572.0,"185":2255.0,"186":2202.0,"187":4215.0,"188":4190.0,"189":3962.0,"190":4215.0,"191":3233.0,"192":3353.0,"193":3012.0,"194":3085.0,"195":2035.0,"196":2164.0,"197":1937.0,"198":1795.0,"199":3651.0,"200":3574.0,"201":3645.0,"202":3193.0,"203":1825.0,"204":1990.0,"205":2155.0,"206":2565.0,"207":3150.0,"208":3940.0,"209"

In [330]:
df.head()

,mpg,cyl,disp,hp,wt,acc,m_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [333]:
df3 = df.tail(6)

In [334]:
df3.to_dict()

{'mpg': {392: 27.0, 393: 27.0, 394: 44.0, 395: 32.0, 396: 28.0, 397: 31.0},
 'cyl': {392: 4, 393: 4, 394: 4, 395: 4, 396: 4, 397: 4},
 'disp': {392: 151.0,
  393: 140.0,
  394: 97.0,
  395: 135.0,
  396: 120.0,
  397: 119.0},
 'hp': {392: '90.00',
  393: '86.00',
  394: '52.00',
  395: '84.00',
  396: '79.00',
  397: '82.00'},
 'wt': {392: 2950.0,
  393: 2790.0,
  394: 2130.0,
  395: 2295.0,
  396: 2625.0,
  397: 2720.0},
 'acc': {392: 17.3, 393: 15.6, 394: 24.6, 395: 11.6, 396: 18.6, 397: 19.4},
 'm_year': {392: 82, 393: 82, 394: 82, 395: 82, 396: 82, 397: 82},
 'origin': {392: 1, 393: 1, 394: 2, 395: 1, 396: 1, 397: 1},
 'car_name': {392: 'chevrolet camaro',
  393: 'ford mustang gl',
  394: 'vw pickup',
  395: 'dodge rampage',
  396: 'ford ranger',
  397: 'chevy s-10'}}

In [335]:
df3.to_dict('series')

{'mpg': 392    27.0
 393    27.0
 394    44.0
 395    32.0
 396    28.0
 397    31.0
 Name: mpg, dtype: float64,
 'cyl': 392    4
 393    4
 394    4
 395    4
 396    4
 397    4
 Name: cyl, dtype: int64,
 'disp': 392    151.0
 393    140.0
 394     97.0
 395    135.0
 396    120.0
 397    119.0
 Name: disp, dtype: float64,
 'hp': 392    90.00
 393    86.00
 394    52.00
 395    84.00
 396    79.00
 397    82.00
 Name: hp, dtype: object,
 'wt': 392    2950.0
 393    2790.0
 394    2130.0
 395    2295.0
 396    2625.0
 397    2720.0
 Name: wt, dtype: float64,
 'acc': 392    17.3
 393    15.6
 394    24.6
 395    11.6
 396    18.6
 397    19.4
 Name: acc, dtype: float64,
 'm_year': 392    82
 393    82
 394    82
 395    82
 396    82
 397    82
 Name: m_year, dtype: int64,
 'origin': 392    1
 393    1
 394    2
 395    1
 396    1
 397    1
 Name: origin, dtype: int64,
 'car_name': 392    chevrolet camaro
 393     ford mustang gl
 394           vw pickup
 395       dodge rampage
 396         ford ranger
 397          chevy s-10
 Name: car_name, dtype: object}

In [336]:
df3.to_dict('split')

{'index': [392, 393, 394, 395, 396, 397],
 'columns': ['mpg',
  'cyl',
  'disp',
  'hp',
  'wt',
  'acc',
  'm_year',
  'origin',
  'car_name'],
 'data': [[27.0, 4, 151.0, '90.00', 2950.0, 17.3, 82, 1, 'chevrolet camaro'],
  [27.0, 4, 140.0, '86.00', 2790.0, 15.6, 82, 1, 'ford mustang gl'],
  [44.0, 4, 97.0, '52.00', 2130.0, 24.6, 82, 2, 'vw pickup'],
  [32.0, 4, 135.0, '84.00', 2295.0, 11.6, 82, 1, 'dodge rampage'],
  [28.0, 4, 120.0, '79.00', 2625.0, 18.6, 82, 1, 'ford ranger'],
  [31.0, 4, 119.0, '82.00', 2720.0, 19.4, 82, 1, 'chevy s-10']]}

In [337]:
df3.to_dict('records')

[{'mpg': 27.0,
  'cyl': 4,
  'disp': 151.0,
  'hp': '90.00',
  'wt': 2950.0,
  'acc': 17.3,
  'm_year': 82,
  'origin': 1,
  'car_name': 'chevrolet camaro'},
 {'mpg': 27.0,
  'cyl': 4,
  'disp': 140.0,
  'hp': '86.00',
  'wt': 2790.0,
  'acc': 15.6,
  'm_year': 82,
  'origin': 1,
  'car_name': 'ford mustang gl'},
 {'mpg': 44.0,
  'cyl': 4,
  'disp': 97.0,
  'hp': '52.00',
  'wt': 2130.0,
  'acc': 24.6,
  'm_year': 82,
  'origin': 2,
  'car_name': 'vw pickup'},
 {'mpg': 32.0,
  'cyl': 4,
  'disp': 135.0,
  'hp': '84.00',
  'wt': 2295.0,
  'acc': 11.6,
  'm_year': 82,
  'origin': 1,
  'car_name': 'dodge rampage'},
 {'mpg': 28.0,
  'cyl': 4,
  'disp': 120.0,
  'hp': '79.00',
  'wt': 2625.0,
  'acc': 18.6,
  'm_year': 82,
  'origin': 1,
  'car_name': 'ford ranger'},
 {'mpg': 31.0,
  'cyl': 4,
  'disp': 119.0,
  'hp': '82.00',
  'wt': 2720.0,
  'acc': 19.4,
  'm_year': 82,
  'origin': 1,
  'car_name': 'chevy s-10'}]

In [338]:
df3.to_dict('index')

{392: {'mpg': 27.0,
  'cyl': 4,
  'disp': 151.0,
  'hp': '90.00',
  'wt': 2950.0,
  'acc': 17.3,
  'm_year': 82,
  'origin': 1,
  'car_name': 'chevrolet camaro'},
 393: {'mpg': 27.0,
  'cyl': 4,
  'disp': 140.0,
  'hp': '86.00',
  'wt': 2790.0,
  'acc': 15.6,
  'm_year': 82,
  'origin': 1,
  'car_name': 'ford mustang gl'},
 394: {'mpg': 44.0,
  'cyl': 4,
  'disp': 97.0,
  'hp': '52.00',
  'wt': 2130.0,
  'acc': 24.6,
  'm_year': 82,
  'origin': 2,
  'car_name': 'vw pickup'},
 395: {'mpg': 32.0,
  'cyl': 4,
  'disp': 135.0,
  'hp': '84.00',
  'wt': 2295.0,
  'acc': 11.6,
  'm_year': 82,
  'origin': 1,
  'car_name': 'dodge rampage'},
 396: {'mpg': 28.0,
  'cyl': 4,
  'disp': 120.0,
  'hp': '79.00',
  'wt': 2625.0,
  'acc': 18.6,
  'm_year': 82,
  'origin': 1,
  'car_name': 'ford ranger'},
 397: {'mpg': 31.0,
  'cyl': 4,
  'disp': 119.0,
  'hp': '82.00',
  'wt': 2720.0,
  'acc': 19.4,
  'm_year': 82,
  'origin': 1,
  'car_name': 'chevy s-10'}}

In [339]:
df3.to_dict('list')

{'mpg': [27.0, 27.0, 44.0, 32.0, 28.0, 31.0],
 'cyl': [4, 4, 4, 4, 4, 4],
 'disp': [151.0, 140.0, 97.0, 135.0, 120.0, 119.0],
 'hp': ['90.00', '86.00', '52.00', '84.00', '79.00', '82.00'],
 'wt': [2950.0, 2790.0, 2130.0, 2295.0, 2625.0, 2720.0],
 'acc': [17.3, 15.6, 24.6, 11.6, 18.6, 19.4],
 'm_year': [82, 82, 82, 82, 82, 82],
 'origin': [1, 1, 2, 1, 1, 1],
 'car_name': ['chevrolet camaro',
  'ford mustang gl',
  'vw pickup',
  'dodge rampage',
  'ford ranger',
  'chevy s-10']}

In [340]:
df3.to_dict()

{'mpg': {392: 27.0, 393: 27.0, 394: 44.0, 395: 32.0, 396: 28.0, 397: 31.0},
 'cyl': {392: 4, 393: 4, 394: 4, 395: 4, 396: 4, 397: 4},
 'disp': {392: 151.0,
  393: 140.0,
  394: 97.0,
  395: 135.0,
  396: 120.0,
  397: 119.0},
 'hp': {392: '90.00',
  393: '86.00',
  394: '52.00',
  395: '84.00',
  396: '79.00',
  397: '82.00'},
 'wt': {392: 2950.0,
  393: 2790.0,
  394: 2130.0,
  395: 2295.0,
  396: 2625.0,
  397: 2720.0},
 'acc': {392: 17.3, 393: 15.6, 394: 24.6, 395: 11.6, 396: 18.6, 397: 19.4},
 'm_year': {392: 82, 393: 82, 394: 82, 395: 82, 396: 82, 397: 82},
 'origin': {392: 1, 393: 1, 394: 2, 395: 1, 396: 1, 397: 1},
 'car_name': {392: 'chevrolet camaro',
  393: 'ford mustang gl',
  394: 'vw pickup',
  395: 'dodge rampage',
  396: 'ford ranger',
  397: 'chevy s-10'}}

In [342]:
from collections import OrderedDict, defaultdict

In [343]:
df3.to_dict(into=OrderedDict)

OrderedDict([('mpg',
              OrderedDict([(392, 27.0),
                           (393, 27.0),
                           (394, 44.0),
                           (395, 32.0),
                           (396, 28.0),
                           (397, 31.0)])),
             ('cyl',
              OrderedDict([(392, 4),
                           (393, 4),
                           (394, 4),
                           (395, 4),
                           (396, 4),
                           (397, 4)])),
             ('disp',
              OrderedDict([(392, 151.0),
                           (393, 140.0),
                           (394, 97.0),
                           (395, 135.0),
                           (396, 120.0),
                           (397, 119.0)])),
             ('hp',
              OrderedDict([(392, '90.00'),
                           (393, '86.00'),
                           (394, '52.00'),
                           (395, '84.00'),
                           (396, '79.00'),
                           (397, '82.00')])),
             ('wt',
              OrderedDict([(392, 2950.0),
                           (393, 2790.0),
                           (394, 2130.0),
                           (395, 2295.0),
                           (396, 2625.0),
                           (397, 2720.0)])),
             ('acc',
              OrderedDict([(392, 17.3),
                           (393, 15.6),
                           (394, 24.6),
                           (395, 11.6),
                           (396, 18.6),
                           (397, 19.4)])),
             ('m_year',
              OrderedDict([(392, 82),
                           (393, 82),
                           (394, 82),
                           (395, 82),
                           (396, 82),
                           (397, 82)])),
             ('origin',
              OrderedDict([(392, 1),
                           (393, 1),
                           (394, 2),
                           (395, 1),
                           (396, 1),
                           (397, 1)])),
             ('car_name',
              OrderedDict([(392, 'chevrolet camaro'),
                           (393, 'ford mustang gl'),
                           (394, 'vw pickup'),
                           (395, 'dodge rampage'),
                           (396, 'ford ranger'),
                           (397, 'chevy s-10')]))])

In [344]:
df3.to_dict()

{'mpg': {392: 27.0, 393: 27.0, 394: 44.0, 395: 32.0, 396: 28.0, 397: 31.0},
 'cyl': {392: 4, 393: 4, 394: 4, 395: 4, 396: 4, 397: 4},
 'disp': {392: 151.0,
  393: 140.0,
  394: 97.0,
  395: 135.0,
  396: 120.0,
  397: 119.0},
 'hp': {392: '90.00',
  393: '86.00',
  394: '52.00',
  395: '84.00',
  396: '79.00',
  397: '82.00'},
 'wt': {392: 2950.0,
  393: 2790.0,
  394: 2130.0,
  395: 2295.0,
  396: 2625.0,
  397: 2720.0},
 'acc': {392: 17.3, 393: 15.6, 394: 24.6, 395: 11.6, 396: 18.6, 397: 19.4},
 'm_year': {392: 82, 393: 82, 394: 82, 395: 82, 396: 82, 397: 82},
 'origin': {392: 1, 393: 1, 394: 2, 395: 1, 396: 1, 397: 1},
 'car_name': {392: 'chevrolet camaro',
  393: 'ford mustang gl',
  394: 'vw pickup',
  395: 'dodge rampage',
  396: 'ford ranger',
  397: 'chevy s-10'}}

In [345]:
df.head()

,mpg,cyl,disp,hp,wt,acc,m_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [346]:
df.at[70,'car_name']

'chrysler newport royal'

In [347]:
df.loc[70]

mpg                           13.0
cyl                              8
disp                         400.0
hp                           190.0
wt                          4422.0
acc                           12.5
m_year                          72
origin                           1
car_name    chrysler newport royal
Name: 70, dtype: object

In [348]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mpg       398 non-null    float64
 1   cyl       398 non-null    int64
 2   disp      398 non-null    float64
 3   hp        398 non-null    object
 4   wt        398 non-null    float64
 5   acc       398 non-null    float64
 6   m_year    398 non-null    int64
 7   origin    398 non-null    int64
 8   car_name  398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [351]:
set(df.hp)

{'100.0',
 '102.0',
 '103.0',
 '105.0',
 '107.0',
 '108.0',
 '110.0',
 '112.0',
 '113.0',
 '115.0',
 '116.0',
 '120.0',
 '122.0',
 '125.0',
 '129.0',
 '130.0',
 '132.0',
 '133.0',
 '135.0',
 '137.0',
 '138.0',
 '139.0',
 '140.0',
 '142.0',
 '145.0',
 '148.0',
 '149.0',
 '150.0',
 '152.0',
 '153.0',
 '155.0',
 '158.0',
 '160.0',
 '165.0',
 '167.0',
 '170.0',
 '175.0',
 '180.0',
 '190.0',
 '193.0',
 '198.0',
 '200.0',
 '208.0',
 '210.0',
 '215.0',
 '220.0',
 '225.0',
 '230.0',
 '46.00',
 '48.00',
 '49.00',
 '52.00',
 '53.00',
 '54.00',
 '58.00',
 '60.00',
 '61.00',
 '62.00',
 '63.00',
 '64.00',
 '65.00',
 '66.00',
 '67.00',
 '68.00',
 '69.00',
 '70.00',
 '71.00',
 '72.00',
 '74.00',
 '75.00',
 '76.00',
 '77.00',
 '78.00',
 '79.00',
 '80.00',
 '81.00',
 '82.00',
 '83.00',
 '84.00',
 '85.00',
 '86.00',
 '87.00',
 '88.00',
 '89.00',
 '90.00',
 '91.00',
 '92.00',
 '93.00',
 '94.00',
 '95.00',
 '96.00',
 '97.00',
 '98.00',
 '?'}

In [350]:
sorted(df.hp)

['100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '100.0',
 '102.0',
 '103.0',
 '105.0',
 '105.0',
 '105.0',
 '105.0',
 '105.0',
 '105.0',
 '105.0',
 '105.0',
 '105.0',
 '105.0',
 '105.0',
 '105.0',
 '107.0',
 '108.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '110.0',
 '112.0',
 '112.0',
 '112.0',
 '113.0',
 '115.0',
 '115.0',
 '115.0',
 '115.0',
 '115.0',
 '116.0',
 '120.0',
 '120.0',
 '120.0',
 '120.0',
 '122.0',
 '125.0',
 '125.0',
 '125.0',
 '129.0',
 '129.0',
 '130.0',
 '130.0',
 '130.0',
 '130.0',
 '130.0',
 '132.0',
 '133.0',
 '135.0',
 '137.0',
 '138.0',
 '139.0',
 '139.0',
 '140.0',
 '140.0',
 '140.0',
 '140.0',
 '140.0',
 '140.0',
 '140.0',
 '142.0',
 '145.0',
 '145.0',
 '145.0',
 '145.0',
 '145.0',
 '145.0',
 '145.0',
 '148.0',
 '149.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '150.0',
 '152.0',
 '153.0',
 '153.0',
 '155.0',
 '155.0',
 '158.0',
 '160.0',
 '160.0',
 '165.0',
 '165.0',
 '165.0',
 '165.0',
 '167.0',
 '170.0',
 '170.0',
 '170.0',
 '170.0',
 '170.0',
 '175.0',
 '175.0',
 '175.0',
 '175.0',
 '175.0',
 '180.0',
 '180.0',
 '180.0',
 '180.0',
 '180.0',
 '190.0',
 '190.0',
 '190.0',
 '193.0',
 '198.0',
 '198.0',
 '200.0',
 '208.0',
 '210.0',
 '215.0',
 '215.0',
 '215.0',
 '220.0',
 '225.0',
 '225.0',
 '225.0',
 '230.0',
 '46.00',
 '46.00',
 '48.00',
 '48.00',
 '48.00',
 '49.00',
 '52.00',
 '52.00',
 '52.00',
 '52.00',
 '53.00',
 '53.00',
 '54.00',
 '58.00',
 '58.00',
 '60.00',
 '60.00',
 '60.00',
 '60.00',
 '60.00',
 '61.00',
 '62.00',
 '62.00',
 '63.00',
 '63.00',
 '63.00',
 '64.00',
 '65.00',
 '65.00',
 '65.00',
 '65.00',
 '65.00',
 '65.00',
 '65.00',
 '65.00',
 '65.00',
 '65.00',
 '66.00',
 '67.00',
 '67.00',
 '67.00',
 '67.00',
 '67.00',
 '67.00',
 '67.00',
 '67.00',
 '67.00',
 '67.00',
 '67.00',
 '67.00',
 '68.00',
 '68.00',
 '68.00',
 '68.00',
 '68.00',
 '68.00',
 '69.00',
 '69.00',
 '69.00',
 '70.00',
 '70.00',
 '70.00',
 '70.00',
 '70.00',
 '70.00',
 '70.00',
 '70.00',
 '70.00',
 '70.00',
 '70.00',
 '70.00',
 '71.00',
 '71.00',
 '71.00',
 '71.00',
 '71.00',
 '72.00',
 '72.00',
 '72.00',
 '72.00',
 '72.00',
 '72.00',
 '74.00',
 '74.00',
 '74.00',
 '75.00',
 '75.00',
 '75.00',
 '75.00',
 '75.00',
 '75.00',
 '75.00',
 '75.00',
 '75.00',
 '75.00',
 '75.00',
 '75.00',
 '75.00',
 '75.00',
 '76.00',
 '76.00',
 '76.00',
 '76.00',
 '77.00',
 '78.00',
 '78.00',
 '78.00',
 '78.00',
 '78.00',
 '78.00',
 '79.00',
 '79.00',
 '80.00',
 '80.00',
 '80.00',
 '80.00',
 '80.00',
 '80.00',
 '80.00',
 '81.00',
 '81.00',
 '82.00',
 '83.00',
 '83.00',
 '83.00',
 '83.00',
 '84.00',
 '84.00',
 '84.00',
 '84.00',
 '84.00',
 '84.00',
 '85.00',
 '85.00',
 '85.00',
 '85.00',
 '85.00',
 '85.00',
 '85.00',
 '85.00',
 '85.00',
 '86.00',
 '86.00',
 '86.00',
 '86.00',
 '86.00',
 '87.00',
 '87.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '88.00',
 '89.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '90.00',
 '91.00',
 '92.00',
 '92.00',
 '92.00',
 '92.00',
 '92.00',
 '92.00',
 '93.00',
 '94.00',
 '95.00',
 '95.00',
 '95.00',
 '95.00',
 '95.00',
 '95.00',
 '95.00',
 '95.00',
 '95.00',
 '95.00',
 '95.00',
 '95.00',
 '95.00',
 '95.00',
 '96.00',
 '96.00',
 '96.00',
 '97.00',
 '97.00',
 '97.00',
 '97.00',
 '97.00',
 '97.00',
 '97.00',
 '97.00',
 '97.00',
 '98.00',
 '98.00',
 '?',
 '?',
 '?',
 '?',
 '?',
 '?']

In [352]:
df.head()

,mpg,cyl,disp,hp,wt,acc,m_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [353]:
df.replace("?",0,inplace=True)

In [354]:
df.hp.describe()

count       398
unique       94
top       150.0
freq         22
Name: hp, dtype: object

In [355]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mpg       398 non-null    float64
 1   cyl       398 non-null    int64
 2   disp      398 non-null    float64
 3   hp        398 non-null    object
 4   wt        398 non-null    float64
 5   acc       398 non-null    float64
 6   m_year    398 non-null    int64
 7   origin    398 non-null    int64
 8   car_name  398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [356]:
df.hp = pd.Series(df.hp).astype('float64')

In [357]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   mpg       398 non-null    float64
 1   cyl       398 non-null    int64
 2   disp      398 non-null    float64
 3   hp        398 non-null    float64
 4   wt        398 non-null    float64
 5   acc       398 non-null    float64
 6   m_year    398 non-null    int64
 7   origin    398 non-null    int64
 8   car_name  398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

In [358]:
d = df3.to_dict('list')

In [359]:
d

{'mpg': [27.0, 27.0, 44.0, 32.0, 28.0, 31.0],
 'cyl': [4, 4, 4, 4, 4, 4],
 'disp': [151.0, 140.0, 97.0, 135.0, 120.0, 119.0],
 'hp': ['90.00', '86.00', '52.00', '84.00', '79.00', '82.00'],
 'wt': [2950.0, 2790.0, 2130.0, 2295.0, 2625.0, 2720.0],
 'acc': [17.3, 15.6, 24.6, 11.6, 18.6, 19.4],
 'm_year': [82, 82, 82, 82, 82, 82],
 'origin': [1, 1, 2, 1, 1, 1],
 'car_name': ['chevrolet camaro',
  'ford mustang gl',
  'vw pickup',
  'dodge rampage',
  'ford ranger',
  'chevy s-10']}

In [360]:
d.keys()

dict_keys(['mpg', 'cyl', 'disp', 'hp', 'wt', 'acc', 'm_year', 'origin', 'car_name'])

In [361]:
d.items()

dict_items([('mpg', [27.0, 27.0, 44.0, 32.0, 28.0, 31.0]), ('cyl', [4, 4, 4, 4, 4, 4]), ('disp', [151.0, 140.0, 97.0, 135.0, 120.0, 119.0]), ('hp', ['90.00', '86.00', '52.00', '84.00', '79.00', '82.00']), ('wt', [2950.0, 2790.0, 2130.0, 2295.0, 2625.0, 2720.0]), ('acc', [17.3, 15.6, 24.6, 11.6, 18.6, 19.4]), ('m_year', [82, 82, 82, 82, 82, 82]), ('origin', [1, 1, 2, 1, 1, 1]), ('car_name', ['chevrolet camaro', 'ford mustang gl', 'vw pickup', 'dodge rampage', 'ford ranger', 'chevy s-10'])])

In [362]:
d.values()

dict_values([[27.0, 27.0, 44.0, 32.0, 28.0, 31.0], [4, 4, 4, 4, 4, 4], [151.0, 140.0, 97.0, 135.0, 120.0, 119.0], ['90.00', '86.00', '52.00', '84.00', '79.00', '82.00'], [2950.0, 2790.0, 2130.0, 2295.0, 2625.0, 2720.0], [17.3, 15.6, 24.6, 11.6, 18.6, 19.4], [82, 82, 82, 82, 82, 82], [1, 1, 2, 1, 1, 1], ['chevrolet camaro', 'ford mustang gl', 'vw pickup', 'dodge rampage', 'ford ranger', 'chevy s-10']])

In [363]:
# minimum mileage
d.values()

dict_values([[27.0, 27.0, 44.0, 32.0, 28.0, 31.0], [4, 4, 4, 4, 4, 4], [151.0, 140.0, 97.0, 135.0, 120.0, 119.0], ['90.00', '86.00', '52.00', '84.00', '79.00', '82.00'], [2950.0, 2790.0, 2130.0, 2295.0, 2625.0, 2720.0], [17.3, 15.6, 24.6, 11.6, 18.6, 19.4], [82, 82, 82, 82, 82, 82], [1, 1, 2, 1, 1, 1], ['chevrolet camaro', 'ford mustang gl', 'vw pickup', 'dodge rampage', 'ford ranger', 'chevy s-10']])

In [364]:
mpg = {'ford': 24,
      "bmw": 27,
      'fords': 23,
      'chvy': 25}

In [365]:
mpg

{'ford': 24, 'bmw': 27, 'fords': 23, 'chvy': 25}

In [366]:
min(zip(mpg.values(),mpg.keys()))

(23, 'fords')

In [367]:
max(zip(mpg.values(),mpg.keys()))

(27, 'bmw')

In [368]:
# what are the car brands that are most frequently

In [369]:
cars = list(df.car_name)

In [370]:
from collections import Counter

In [371]:
counts = Counter(cars)

In [372]:
counts.most_common(5)

[('ford pinto', 6),
 ('ford maverick', 5),
 ('amc matador', 5),
 ('toyota corolla', 5),
 ('chevrolet impala', 4)]

In [373]:
counts

Counter({'chevrolet chevelle malibu': 2,
         'buick skylark 320': 1,
         'plymouth satellite': 1,
         'amc rebel sst': 1,
         'ford torino': 1,
         'ford galaxie 500': 3,
         'chevrolet impala': 4,
         'plymouth fury iii': 3,
         'pontiac catalina': 3,
         'amc ambassador dpl': 1,
         'dodge challenger se': 1,
         "plymouth 'cuda 340": 1,
         'chevrolet monte carlo': 1,
         'buick estate wagon (sw)': 2,
         'toyota corona mark ii': 1,
         'plymouth duster': 3,
         'amc hornet': 4,
         'ford maverick': 5,
         'datsun pl510': 2,
         'volkswagen 1131 deluxe sedan': 1,
         'peugeot 504': 4,
         'audi 100 ls': 1,
         'saab 99e': 1,
         'bmw 2002': 1,
         'amc gremlin': 4,
         'ford f250': 1,
         'chevy c20': 1,
         'dodge d200': 1,
         'hi 1200d': 1,
         'chevrolet vega 2300': 1,
         'toyota corona': 4,
         'ford pinto': 6,
         'plymouth satellite custom': 1,
         'ford torino 500': 1,
         'amc matador': 5,
         'pontiac catalina brougham': 1,
         'dodge monaco (sw)': 1,
         'ford country squire (sw)': 2,
         'pontiac safari (sw)': 1,
         'amc hornet sportabout (sw)': 1,
         'chevrolet vega (sw)': 1,
         'pontiac firebird': 1,
         'ford mustang': 1,
         'mercury capri 2000': 1,
         'opel 1900': 2,
         'peugeot 304': 1,
         'fiat 124b': 1,
         'toyota corolla 1200': 2,
         'datsun 1200': 1,
         'volkswagen model 111': 1,
         'plymouth cricket': 1,
         'toyota corona hardtop': 1,
         'dodge colt hardtop': 1,
         'volkswagen type 3': 1,
         'chevrolet vega': 3,
         'ford pinto runabout': 1,
         'amc ambassador sst': 1,
         'mercury marquis': 1,
         'buick lesabre custom': 1,
         'oldsmobile delta 88 royale': 1,
         'chrysler newport royal': 1,
         'mazda rx2 coupe': 1,
         'amc matador (sw)': 2,
         'chevrolet chevelle concours (sw)': 1,
         'ford gran torino (sw)': 2,
         'plymouth satellite custom (sw)': 1,
         'volvo 145e (sw)': 1,
         'volkswagen 411 (sw)': 1,
         'peugeot 504 (sw)': 1,
         'renault 12 (sw)': 1,
         'ford pinto (sw)': 1,
         'datsun 510 (sw)': 1,
         'toyouta corona mark ii (sw)': 1,
         'dodge colt (sw)': 1,
         'toyota corolla 1600 (sw)': 1,
         'buick century 350': 1,
         'chevrolet malibu': 2,
         'ford gran torino': 3,
         'dodge coronet custom': 1,
         'mercury marquis brougham': 1,
         'chevrolet caprice classic': 3,
         'ford ltd': 2,
         'plymouth fury gran sedan': 1,
         'chrysler new yorker brougham': 1,
         'buick electra 225 custom': 1,
         'amc ambassador brougham': 1,
         'plymouth valiant': 2,
         'chevrolet nova custom': 1,
         'volkswagen super beetle': 1,
         'ford country': 1,
         'plymouth custom suburb': 1,
         'oldsmobile vista cruiser': 1,
         'toyota carina': 1,
         'datsun 610': 1,
         'maxda rx3': 1,
         'mercury capri v6': 1,
         'fiat 124 sport coupe': 1,
         'chevrolet monte carlo s': 1,
         'pontiac grand prix': 1,
         'fiat 128': 2,
         'opel manta': 2,
         'audi 100ls': 2,
         'volvo 144ea': 1,
         'dodge dart custom': 1,
         'saab 99le': 2,
         'toyota mark ii': 2,
         'oldsmobile omega': 1,
         'chevrolet nova': 3,
         'datsun b210': 1,
         'chevrolet chevelle malibu classic': 2,
         'plymouth satellite sebring': 1,
         'buick century luxus (sw)': 1,
         'dodge coronet custom (sw)': 1,
         'audi fox': 1,
         'volkswagen dasher': 3,
         'datsun 710': 2,
         'dodge colt': 3,
         'fiat 124 tc': 1,
         'honda civic': 3,
         'subaru': 2,
         'fiat x1.9': 1,
         'plymouth valiant custom': 1,
         'mercury monarch': 1,
         'chevrolet bel air': 1,
         'plymouth grand fury': 1,
         'buick century': 2,
         'chevroelt chevelle malibu': 1,
         'plymouth fury': 1,
         'buick skyhawk': 1,
         'chevrolet monza 2+2': 1,
         'ford mustang ii': 1,
         'toyota corolla': 5,
         'pontiac astro': 1,
         'volkswagen rabbit': 2,
         'amc pacer': 1,
         'volvo 244dl': 1,
         'honda civic cvcc': 2,
         'fiat 131': 1,
         'capri ii': 1,
         'renault 12tl': 1,
         'dodge coronet brougham': 1,
         'chevrolet chevette': 4,
         'chevrolet woody': 1,
         'vw rabbit': 2,
         'dodge aspen se': 1,
         'ford granada ghia': 1,
         'pontiac ventura sj': 1,
         'amc pacer d/l': 1,
         'datsun b-210': 1,
         'volvo 245': 1,
         'plymouth volare premier v8': 1,
         'mercedes-benz 280s': 1,
         'cadillac seville': 1,
         'chevy c10': 1,
         'ford f108': 1,
         'dodge d100': 1,
         'honda accord cvcc': 1,
         'buick opel isuzu deluxe': 1,
         'renault 5 gtl': 1,
         'plymouth arrow gs': 1,
         'datsun f-10 hatchback': 1,
         'oldsmobile cutlass supreme': 1,
         'dodge monaco brougham': 1,
         'mercury cougar brougham': 1,
         'chevrolet concours': 1,
         'buick skylark': 2,
         'plymouth volare custom': 1,
         'ford granada': 1,
         'pontiac grand prix lj': 1,
         'chevrolet monte carlo landau': 2,
         'chrysler cordoba': 1,
         'ford thunderbird': 1,
         'volkswagen rabbit custom': 1,
         'pontiac sunbird coupe': 1,
         'toyota corolla liftback': 1,
         'ford mustang ii 2+2': 1,
         'dodge colt m/m': 1,
         'subaru dl': 2,
         'datsun 810': 1,
         'bmw 320i': 1,
         'mazda rx-4': 1,
         'volkswagen rabbit custom diesel': 1,
         'ford fiesta': 1,
         'mazda glc deluxe': 1,
         'datsun b210 gx': 1,
         'oldsmobile cutlass salon brougham': 2,
         'dodge diplomat': 1,
         'mercury monarch ghia': 1,
         'pontiac phoenix lj': 1,
         'ford fairmont (auto)': 1,
         'ford fairmont (man)': 1,
         'plymouth volare': 1,
         'amc concord': 2,
         'buick century special': 1,
         'mercury zephyr': 1,
         'dodge aspen': 2,
         'amc concord d/l': 1,
         'buick regal sport coupe (turbo)': 1,
         'ford futura': 1,
         'dodge magnum xe': 1,
         'datsun 510': 1,
         'dodge omni': 1,
         'toyota celica gt liftback': 1,
         'plymouth sapporo': 1,
         'oldsmobile starfire sx': 1,
         'datsun 200-sx': 1,
         'audi 5000': 1,
         'volvo 264gl': 1,
         'saab 99gle': 1,
         'peugeot 604sl': 1,
         'volkswagen scirocco': 1,
         'honda accord lx': 1,
         'pontiac lemans v6': 1,
         'mercury zephyr 6': 1,
         'ford fairmont 4': 1,
         'amc concord dl 6': 1,
         'dodge aspen 6': 1,
         'ford ltd landau': 1,
         'mercury grand marquis': 1,
         'dodge st. regis': 1,
         'chevrolet malibu classic (sw)': 1,
         'chrysler lebaron town @ country (sw)': 1,
         'vw rabbit custom': 1,
         'maxda glc deluxe': 1,
         'dodge colt hatchback custom': 1,
         'amc spirit dl': 1,
         'mercedes benz 300d': 1,
         'cadillac eldorado': 1,
         'plymouth horizon': 1,
         'plymouth horizon tc3': 1,
         'datsun 210': 2,
         'fiat strada custom': 1,
         'buick skylark limited': 1,
         'chevrolet citation': 3,
         'oldsmobile omega brougham': 1,
         'pontiac phoenix': 2,
         'toyota corolla tercel': 1,
         'datsun 310': 1,
         'ford fairmont': 1,
         'audi 4000': 1,
         'toyota corona liftback': 1,
         'mazda 626': 2,
         'datsun 510 hatchback': 1,
         'mazda glc': 1,
         'vw rabbit c (diesel)': 1,
         'vw dasher (diesel)': 1,
         'audi 5000s (diesel)': 1,
         'mercedes-benz 240d': 1,
         'honda civic 1500 gl': 1,
         'renault lecar deluxe': 1,
         'vokswagen rabbit': 1,
         'datsun 280-zx': 1,
         'mazda rx-7 gs': 1,
         'triumph tr7 coupe': 1,
         'ford mustang cobra': 1,
         'honda accord': 2,
         'plymouth reliant': 2,
         'dodge aries wagon (sw)': 1,
         'toyota starlet': 1,
         'plymouth champ': 1,
         'honda civic 1300': 1,
         'datsun 210 mpg': 1,
         'toyota tercel': 1,
         'mazda glc 4': 1,
         'plymouth horizon 4': 1,
         'ford escort 4w': 1,
         'ford escort 2h': 1,
         'volkswagen jetta': 1,
         'renault 18i': 1,
         'honda prelude': 1,
         'datsun 200sx': 1,
         'peugeot 505s turbo diesel': 1,
         'volvo diesel': 1,
         'toyota cressida': 1,
         'datsun 810 maxima': 1,
         'oldsmobile cutlass ls': 1,
         'ford granada gl': 1,
         'chrysler lebaron salon': 1,
         'chevrolet cavalier': 1,
         'chevrolet cavalier wagon': 1,
         'chevrolet cavalier 2-door': 1,
         'pontiac j2000 se hatchback': 1,
         'dodge aries se': 1,
         'ford fairmont futura': 1,
         'amc concord dl': 1,
         'volkswagen rabbit l': 1,
         'mazda glc custom l': 1,
         'mazda glc custom': 1,
         'plymouth horizon miser': 1,
         'mercury lynx l': 1,
         'nissan stanza xe': 1,
         'honda civic (auto)': 1,
         'datsun 310 gx': 1,
         'buick century limited': 1,
         'oldsmobile cutlass ciera (diesel)': 1,
         'chrysler lebaron medallion': 1,
         'ford granada l': 1,
         'toyota celica gt': 1,
         'dodge charger 2.2': 1,
         'chevrolet camaro': 1,
         'ford mustang gl': 1,
         'vw pickup': 1,
         'dodge rampage': 1,
         'ford ranger': 1,
         'chevy s-10': 1})