In [1]:
# date as data type

In [2]:
import datetime

In [3]:
import dateutil

In [4]:
datetime.datetime.strptime("2021-04-17T10:07:18-0500", "%Y-%m-%dT%H:%M:%S%z")

datetime.datetime(2021, 4, 17, 10, 7, 18, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=68400)))

In [5]:
dateutil.parser.parse("17-04-2021T10:07:18-0500")

datetime.datetime(2021, 4, 17, 10, 7, 18, tzinfo=tzoffset(None, -18000))

In [6]:
# how to compute the time difference

In [7]:
from datetime import datetime, timedelta

In [8]:
now = datetime.now()
print(now)

2021-04-17 14:57:42.290168

In [9]:
now1 = datetime.now()
print(now1)

2021-04-17 14:57:42.298941

In [10]:
delta = now1-now
print(delta)

0:00:00.008773

In [11]:
print(delta.days)

0

In [12]:
print(delta.microseconds)

8773

In [13]:
print(delta.seconds)

0

In [14]:
# lag time and lead time

In [15]:
datetime.now() + timedelta(30)

datetime.datetime(2021, 5, 17, 14, 57, 42, 378015)

In [16]:
datetime.now() - timedelta(30)

datetime.datetime(2021, 3, 18, 14, 57, 42, 404309)

In [17]:
# date object

In [18]:
import datetime
datetime.date.today() + timedelta(7)

datetime.date(2021, 4, 24)

In [19]:
from datetime import datetime
from dateutil import tz

In [20]:
utc = tz.tzutc()
local = tz.tzlocal()

In [21]:
datetime.utcnow()

datetime.datetime(2021, 4, 17, 9, 27, 42, 473282)

In [22]:
datetime.now()

datetime.datetime(2021, 4, 17, 14, 57, 42, 486158)

In [23]:
delta = datetime.now() - datetime.utcnow()

In [24]:
(delta.seconds)/3600

5.499722222222222

In [25]:
ET = tz.gettz('America/Eastern')
ET

In [26]:
from dateutil.parser import parse
parse('2021-4-17 10:23:00', tzinfos = ET)

datetime.datetime(2021, 4, 17, 10, 23)

In [27]:
import pytz

In [28]:
pytz.timezone('America/New_York')

In [29]:
import numpy as np

In [30]:
np.eye(10).ravel()

array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.])

In [31]:
np.eye(10).flatten()

array([1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.])

In [32]:
# list = ['string',[3.0,4.5,6.7],45,True,Complex]
# put all data types in one table, it is the data frame

In [33]:
# data frame is a tabular structure where different types of data can be stored

In [34]:
import pandas as pd
df = pd.read_csv('https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv')

In [35]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [36]:
# set operations on dataframes

In [37]:
set(df.cyl)

{4, 6, 8}

In [38]:
set(df.gear)

{3, 4, 5}

In [39]:
# intersection between gear and cyl
{4, 6, 8}.intersection({3, 4, 5})

{4}

In [40]:
# union
{4, 6, 8}.union({3, 4, 5})

{3, 4, 5, 6, 8}

In [41]:
{4, 6, 8} | {3, 4, 5}

{3, 4, 5, 6, 8}

In [42]:
#difference
{4, 6, 8}.difference({3, 4, 5})

{6, 8}

In [43]:
{4, 6, 8} - {3, 4, 5}

{6, 8}

In [44]:
# symmetric difference

In [45]:
{4, 6, 8}.symmetric_difference({3, 4, 5})

{3, 5, 6, 8}

In [46]:
{4, 6, 8} ^ {3, 4, 5}

{3, 5, 6, 8}

In [47]:
# subset check
# superset check

In [48]:
{4, 6, 8}.issubset({3, 4, 5})

False

In [49]:
{4, 6, 8} >= {3, 4, 5}

False

In [50]:
{4, 6, 8}.issuperset({3, 4, 5})

False

In [51]:
df.shape

(32, 12)

In [52]:
set(df.model)

{'AMC Javelin',
 'Cadillac Fleetwood',
 'Camaro Z28',
 'Chrysler Imperial',
 'Datsun 710',
 'Dodge Challenger',
 'Duster 360',
 'Ferrari Dino',
 'Fiat 128',
 'Fiat X1-9',
 'Ford Pantera L',
 'Honda Civic',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Lincoln Continental',
 'Lotus Europa',
 'Maserati Bora',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Merc 230',
 'Merc 240D',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Pontiac Firebird',
 'Porsche 914-2',
 'Toyota Corolla',
 'Toyota Corona',
 'Valiant',
 'Volvo 142E'}

In [53]:
df.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [54]:
df.wt/df.mpg

0     0.124762
1     0.136905
2     0.101754
3     0.150234
4     0.183957
5     0.191160
6     0.249650
7     0.130738
8     0.138158
9     0.179167
10    0.193258
11    0.248171
12    0.215607
13    0.248684
14    0.504808
15    0.521538
16    0.363605
17    0.067901
18    0.053125
19    0.054130
20    0.114651
21    0.227097
22    0.225987
23    0.288722
24    0.200260
25    0.070879
26    0.082308
27    0.049770
28    0.200633
29    0.140609
30    0.238000
31    0.129907
dtype: float64

In [55]:
df.wt/df.cyl

0     0.436667
1     0.479167
2     0.580000
3     0.535833
4     0.430000
5     0.576667
6     0.446250
7     0.797500
8     0.787500
9     0.573333
10    0.573333
11    0.508750
12    0.466250
13    0.472500
14    0.656250
15    0.678000
16    0.668125
17    0.550000
18    0.403750
19    0.458750
20    0.616250
21    0.440000
22    0.429375
23    0.480000
24    0.480625
25    0.483750
26    0.535000
27    0.378250
28    0.396250
29    0.461667
30    0.446250
31    0.695000
dtype: float64

In [56]:
pow(df.cyl/df.wt,2)

0     5.244450
1     4.355388
2     2.972652
3     3.482896
4     5.408329
5     3.007117
6     5.021616
7     1.572312
8     1.612497
9     3.042185
10    3.042185
11    3.863591
12    4.600047
13    4.479158
14    2.321995
15    2.175407
16    2.240188
17    3.305785
18    6.134440
19    4.751687
20    2.633214
21    5.165289
22    5.424085
23    4.340278
24    4.328997
25    4.273247
26    3.493755
27    6.989436
28    6.368856
29    4.691838
30    5.021616
31    2.070286
dtype: float64

In [57]:
import math

In [58]:
math.sqrt(4)

2.0

In [59]:
np.sqrt(df.cyl/df.wt)

0     1.513300
1     1.444630
2     1.313064
3     1.366108
4     1.524986
5     1.316854
6     1.496962
7     1.119785
8     1.126872
9     1.320676
10    1.320676
11    1.401999
12    1.464504
13    1.454786
14    1.234427
15    1.214465
16    1.223408
17    1.348400
18    1.573779
19    1.476427
20    1.273860
21    1.507557
22    1.526095
23    1.443376
24    1.442437
25    1.437770
26    1.367172
27    1.625963
28    1.588603
29    1.471756
30    1.496962
31    1.199520
dtype: float64

In [60]:
np.log(12)

2.4849066497880004

In [61]:
# operator precedence in python

In [62]:
# BODMAS - Brackets, Of, Div, Mul, Add, Sub
# PEMDAS - Parentheses, Exponents, Multi, Div, Add, Sub

In [63]:
# variable scoping and binding

In [64]:
def counter():
    num = 0
    def incrementor():
        num += 1
        return num
    return incrementor

In [65]:
counter()

In [66]:
def counter():
    num = 0
    def incrementor():
        nonlocal num
        num += 1
        return num
    return incrementor

In [67]:
c = counter()

In [68]:
c()

1

In [69]:
c()

2

In [70]:
c()

3

In [71]:
c()

4

In [72]:
# local and global scope

In [73]:
covid = 19 # global

def func():
    cov = 20 #local
    print(covid) # print global scope
    print(cov) # print local scope

In [74]:
covid = 19 # global

def func():
    cov = 20 #local
    print(globals().keys()) # print global scope
    print(locals().keys()) # print local scope

In [75]:
# conditionals
number = 2022

if number == 2020:
    print('this year')
elif number < 2020:   # optional clause, multiple elifs
    print('last year')
else: # optional clause, you can have only on else
    print('it is 2020')

it is 2020

In [76]:
car1 = list(df.model[0:17])

In [77]:
car2 = list(df.model[17:])

In [78]:
car1

['Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial']

In [79]:
car2

['Fiat 128',
 'Honda Civic',
 'Toyota Corolla',
 'Toyota Corona',
 'Dodge Challenger',
 'AMC Javelin',
 'Camaro Z28',
 'Pontiac Firebird',
 'Fiat X1-9',
 'Porsche 914-2',
 'Lotus Europa',
 'Ford Pantera L',
 'Ferrari Dino',
 'Maserati Bora',
 'Volvo 142E']

In [80]:
import keyword

In [81]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [82]:
car1 > car2

True

In [83]:
car2 > car1

False

In [84]:
car1 == car2

False

In [85]:
'Honda Civic' in car1

False

In [86]:
'Honda Civic' in car2

True

In [87]:
# create a custom function for scaling the data

In [88]:
# (data point - mean of a data column) / standard deviation of a colum

In [89]:
(df.mpg - df.mpg.mean())/(df.mpg.std())

0     0.150885
1     0.150885
2     0.449543
3     0.217253
4    -0.230735
5    -0.330287
6    -0.960789
7     0.715018
8     0.449543
9    -0.147774
10   -0.380064
11   -0.612354
12   -0.463025
13   -0.811460
14   -1.607883
15   -1.607883
16   -0.894420
17    2.042389
18    1.710547
19    2.291272
20    0.233846
21   -0.761683
22   -0.811460
23   -1.126710
24   -0.147774
25    1.196190
26    0.980492
27    1.710547
28   -0.711907
29   -0.064813
30   -0.844644
31    0.217253
Name: mpg, dtype: float64

In [90]:
(df.wt - df.wt.mean())/(df.wt.std())

0    -0.610400
1    -0.349785
2    -0.917005
3    -0.002300
4     0.227654
5     0.248095
6     0.360516
7    -0.027850
8    -0.068731
9     0.227654
10    0.227654
11    0.871525
12    0.524039
13    0.575140
14    2.077505
15    2.255336
16    2.174596
17   -1.039647
18   -1.637527
19   -1.412683
20   -0.768812
21    0.309416
22    0.222544
23    0.636461
24    0.641571
25   -1.310481
26   -1.100968
27   -1.741772
28   -0.048290
29   -0.457097
30    0.360516
31   -0.446877
Name: wt, dtype: float64

In [91]:
def scale101(x):
    output = ((x - x.mean())/x.std())
    return output

In [92]:
scale101(df)

,am,carb,cyl,disp,drat,gear,hp,model,mpg,qsec,vs,wt
0,1.189901,0.735203,-0.104988,-0.570620,0.567514,0.423554,-0.535093,NaN,0.150885,-0.777165,-0.868028,-0.610400
1,1.189901,0.735203,-0.104988,-0.570620,0.567514,0.423554,-0.535093,NaN,0.150885,-0.463781,-0.868028,-0.349785
2,1.189901,-1.122152,-1.224858,-0.990182,0.474000,0.423554,-0.783040,NaN,0.449543,0.426007,1.116036,-0.917005
3,-0.814143,-1.122152,-0.104988,0.220094,-0.966118,-0.931819,-0.535093,NaN,0.217253,0.890487,1.116036,-0.002300
4,-0.814143,-0.503034,1.014882,1.043081,-0.835198,-0.931819,0.412942,NaN,-0.230735,-0.463781,-0.868028,0.227654
5,-0.814143,-1.122152,-0.104988,-0.046167,-1.564608,-0.931819,-0.608019,NaN,-0.330287,1.326987,1.116036,0.248095
6,-0.814143,0.735203,1.014882,1.043081,-0.722981,-0.931819,1.433903,NaN,-0.960789,-1.124126,-0.868028,0.360516
7,-0.814143,-0.503034,-1.224858,-0.677931,0.174754,0.423554,-1.235180,NaN,0.715018,1.203871,1.116036,-0.027850
8,-0.814143,-0.503034,-1.224858,-0.725535,0.604919,0.423554,-0.753870,NaN,0.449543,2.826755,1.116036,-0.068731
9,-0.814143,0.735203,-0.104988,-0.509299,0.604919,0.423554,-0.345486,NaN,-0.147774,0.252526,1.116036,0.227654
10,-0.814143,0.735203,-0.104988,-0.509299,0.604919,0.423554,-0.345486,NaN,-0.380064,0.588295,1.116036,0.227654
11,-0.814143,0.116085,1.014882,0.363713,-0.984820,-0.931819,0.485868,NaN,-0.612354,-0.251127,-0.868028,0.871525
12,-0.814143,0.116085,1.014882,0.363713,-0.984820,-0.931819,0.485868,NaN,-0.463025,-0.139204,-0.868028,0.524039
13,-0.814143,0.116085,1.014882,0.363713,-0.984820,-0.931819,0.485868,NaN,-0.811460,0.084642,-0.868028,0.575140
14,-0.814143,0.735203,1.014882,1.946754,-1.246660,-0.931819,0.850497,NaN,-1.607883,0.073449,-0.868028,2.077505
15,-0.814143,0.735203,1.014882,1.849932,-1.115740,-0.931819,0.996348,NaN,-1.607883,-0.016089,-0.868028,2.255336
16,-0.814143,0.735203,1.014882,1.688562,-0.685575,-0.931819,1.215126,NaN,-0.894420,-0.239935,-0.868028,2.174596
17,1.189901,-1.122152,-1.224858,-1.226589,0.904164,0.423554,-1.176840,NaN,2.042389,0.907276,1.116036,-1.039647
18,1.189901,-0.503034,-1.224858,-1.250795,2.493904,0.423554,-1.381032,NaN,1.710547,0.375641,1.116036,-1.637527
19,1.189901,-1.122152,-1.224858,-1.287910,1.166004,0.423554,-1.191425,NaN,2.291272,1.147910,1.116036,-1.412683
20,-0.814143,-1.122152,-1.224858,-0.892553,0.193457,-0.931819,-0.724700,NaN,0.233846,1.209468,1.116036,-0.768812
21,-0.814143,-0.503034,1.014882,0.704204,-1.564608,-0.931819,0.048313,NaN,-0.761683,-0.547723,-0.868028,0.309416
22,-0.814143,-0.503034,1.014882,0.591245,-0.835198,-0.931819,0.048313,NaN,-0.811460,-0.307089,-0.868028,0.222544
23,-0.814143,0.735203,1.014882,0.962396,0.249566,-0.931819,1.433903,NaN,-1.126710,-1.364761,-0.868028,0.636461
24,-0.814143,-0.503034,1.014882,1.365821,-0.966118,-0.931819,0.412942,NaN,-0.147774,-0.446992,-0.868028,0.641571
25,1.189901,-1.122152,-1.224858,-1.224169,0.904164,0.423554,-1.176840,NaN,1.196190,0.588295,1.116036,-1.310481
26,1.189901,-0.503034,-1.224858,-0.890939,1.558763,1.778928,-0.812211,NaN,0.980492,-0.642858,-0.868028,-1.100968
27,1.189901,-0.503034,-1.224858,-1.094266,0.324377,1.778928,-0.491337,NaN,1.710547,-0.530935,1.116036,-1.741772
28,1.189901,0.735203,1.014882,0.970465,1.166004,1.778928,1.711021,NaN,-0.711907,-1.874010,-0.868028,-0.048290
29,1.189901,1.973440,-0.104988,-0.691647,0.043835,1.778928,0.412942,NaN,-0.064813,-1.314395,-0.868028,-0.457097
30,1.189901,3.211677,1.014882,0.567039,-0.105788,1.778928,2.746567,NaN,-0.844644,-1.818049,-0.868028,0.360516
31,1.189901,-0.503034,-1.224858,-0.885292,0.960273,0.423554,-0.549678,NaN,0.217253,0.420411,1.116036,-0.446877

# break time

In [93]:
# Loops

In [94]:
# Iterators: interations
# variable
# expression

In [95]:
# for loops
# while loops

In [96]:
# partial iterations, break out of a loop
# full execution, continue till the end of the loop
# infinite loop

In [97]:
i = 0

while i < 100:
    print(i)
    if i*i == 64:
        print('condition satisfied')
        break
    i+=1

0
1
2
3
4
5
6
7
8
condition satisfied

In [98]:
for i in (0,1,2,3,4,5,6,7,8,9,10):
    print(i)
    if i == 8:
        break

0
1
2
3
4
5
6
7
8

In [99]:
for i in (0,1,2,3,4,5,6,7,8,9,10):
    print(i)
    if i == 8:
        continue

0
1
2
3
4
5
6
7
8
9
10

In [101]:
# change the function
def outof_loop():
    for i in range(10,500):
        if(i==40):
            return(i)
        print(i)
        
    return(500)

In [103]:
# if you have nested loops
# change the function
def outof_loop123():
    for i in range(1,5):
        for j in range(1,4):
            if i*j == 6:
                return(i,j)
            print(i*j)

In [104]:
outof_loop123()

1
2
3
2
4

(2, 3)

In [105]:
1*1 
1*2
1*3

2*1
2*2
2*3 == 6

True

In [106]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [107]:
# list comprehesnion is another alternative for For Loop
# faster than the for loop

In [108]:
list(df.model)

['Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Fiat 128',
 'Honda Civic',
 'Toyota Corolla',
 'Toyota Corona',
 'Dodge Challenger',
 'AMC Javelin',
 'Camaro Z28',
 'Pontiac Firebird',
 'Fiat X1-9',
 'Porsche 914-2',
 'Lotus Europa',
 'Ford Pantera L',
 'Ferrari Dino',
 'Maserati Bora',
 'Volvo 142E']

In [109]:
for x in list(df.model):
    print(x)

Mazda RX4
Mazda RX4 Wag
Datsun 710
Hornet 4 Drive
Hornet Sportabout
Valiant
Duster 360
Merc 240D
Merc 230
Merc 280
Merc 280C
Merc 450SE
Merc 450SL
Merc 450SLC
Cadillac Fleetwood
Lincoln Continental
Chrysler Imperial
Fiat 128
Honda Civic
Toyota Corolla
Toyota Corona
Dodge Challenger
AMC Javelin
Camaro Z28
Pontiac Firebird
Fiat X1-9
Porsche 914-2
Lotus Europa
Ford Pantera L
Ferrari Dino
Maserati Bora
Volvo 142E

In [110]:
for index, item in enumerate(list(df.model)):
    print(index,"::", item)

# enumerate function generates tuples

0 :: Mazda RX4
1 :: Mazda RX4 Wag
2 :: Datsun 710
3 :: Hornet 4 Drive
4 :: Hornet Sportabout
5 :: Valiant
6 :: Duster 360
7 :: Merc 240D
8 :: Merc 230
9 :: Merc 280
10 :: Merc 280C
11 :: Merc 450SE
12 :: Merc 450SL
13 :: Merc 450SLC
14 :: Cadillac Fleetwood
15 :: Lincoln Continental
16 :: Chrysler Imperial
17 :: Fiat 128
18 :: Honda Civic
19 :: Toyota Corolla
20 :: Toyota Corona
21 :: Dodge Challenger
22 :: AMC Javelin
23 :: Camaro Z28
24 :: Pontiac Firebird
25 :: Fiat X1-9
26 :: Porsche 914-2
27 :: Lotus Europa
28 :: Ford Pantera L
29 :: Ferrari Dino
30 :: Maserati Bora
31 :: Volvo 142E

In [111]:
# any manipultion by index over the list of elements can be done using map and lambda function

In [112]:
'Merc 230' in list(df.model)

True

In [113]:
# to perform search we need to normalize the text

In [114]:
list(df.model)[0].upper()

'MAZDA RX4'

In [115]:
x = map(lambda e: e.upper(),list(df.model))
print(x)

<map object at 0x7feea7bbf970>

In [116]:
dd = list(x)

In [117]:
df['Model123'] = list(map(lambda e: e.upper(),list(df.model)))

In [118]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,Model123
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,MAZDA RX4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,MAZDA RX4 WAG
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,DATSUN 710
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,HORNET 4 DRIVE
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,HORNET SPORTABOUT
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,VALIANT
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,DUSTER 360
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,MERC 240D
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,MERC 230
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,MERC 280
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,MERC 280C
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,MERC 450SE
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,MERC 450SL
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,MERC 450SLC
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,CADILLAC FLEETWOOD
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,LINCOLN CONTINENTAL
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,CHRYSLER IMPERIAL
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,FIAT 128
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,HONDA CIVIC
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,TOYOTA COROLLA
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,TOYOTA CORONA
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,DODGE CHALLENGER
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,AMC JAVELIN
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,CAMARO Z28
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,PONTIAC FIREBIRD
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,FIAT X1-9
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,PORSCHE 914-2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,LOTUS EUROPA
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,FORD PANTERA L
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,FERRARI DINO
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,MASERATI BORA
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,VOLVO 142E

In [119]:
del df['model']

In [120]:
del df['Model123']

In [121]:
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [122]:
dd = df.to_dict()

In [123]:
for key in dd:
    print(key)

mpg
cyl
disp
hp
drat
wt
qsec
vs
am
gear
carb

In [124]:
for key in dd.keys():
    print(key)

mpg
cyl
disp
hp
drat
wt
qsec
vs
am
gear
carb

In [125]:
for val in dd.values():
    print(val)

{0: 21.0, 1: 21.0, 2: 22.8, 3: 21.4, 4: 18.7, 5: 18.1, 6: 14.3, 7: 24.4, 8: 22.8, 9: 19.2, 10: 17.8, 11: 16.4, 12: 17.3, 13: 15.2, 14: 10.4, 15: 10.4, 16: 14.7, 17: 32.4, 18: 30.4, 19: 33.9, 20: 21.5, 21: 15.5, 22: 15.2, 23: 13.3, 24: 19.2, 25: 27.3, 26: 26.0, 27: 30.4, 28: 15.8, 29: 19.7, 30: 15.0, 31: 21.4}
{0: 6, 1: 6, 2: 4, 3: 6, 4: 8, 5: 6, 6: 8, 7: 4, 8: 4, 9: 6, 10: 6, 11: 8, 12: 8, 13: 8, 14: 8, 15: 8, 16: 8, 17: 4, 18: 4, 19: 4, 20: 4, 21: 8, 22: 8, 23: 8, 24: 8, 25: 4, 26: 4, 27: 4, 28: 8, 29: 6, 30: 8, 31: 4}
{0: 160.0, 1: 160.0, 2: 108.0, 3: 258.0, 4: 360.0, 5: 225.0, 6: 360.0, 7: 146.7, 8: 140.8, 9: 167.6, 10: 167.6, 11: 275.8, 12: 275.8, 13: 275.8, 14: 472.0, 15: 460.0, 16: 440.0, 17: 78.7, 18: 75.7, 19: 71.1, 20: 120.1, 21: 318.0, 22: 304.0, 23: 350.0, 24: 400.0, 25: 79.0, 26: 120.3, 27: 95.1, 28: 351.0, 29: 145.0, 30: 301.0, 31: 121.0}
{0: 110, 1: 110, 2: 93, 3: 110, 4: 175, 5: 105, 6: 245, 7: 62, 8: 95, 9: 123, 10: 123, 11: 180, 12: 180, 13: 180, 14: 205, 15: 215, 16: 230, 17: 66, 18: 52, 19: 65, 20: 97, 21: 150, 22: 150, 23: 245, 24: 175, 25: 66, 26: 91, 27: 113, 28: 264, 29: 175, 30: 335, 31: 109}
{0: 3.9, 1: 3.9, 2: 3.85, 3: 3.08, 4: 3.15, 5: 2.76, 6: 3.21, 7: 3.69, 8: 3.92, 9: 3.92, 10: 3.92, 11: 3.07, 12: 3.07, 13: 3.07, 14: 2.93, 15: 3.0, 16: 3.23, 17: 4.08, 18: 4.93, 19: 4.22, 20: 3.7, 21: 2.76, 22: 3.15, 23: 3.73, 24: 3.08, 25: 4.08, 26: 4.43, 27: 3.77, 28: 4.22, 29: 3.62, 30: 3.54, 31: 4.11}
{0: 2.62, 1: 2.875, 2: 2.32, 3: 3.215, 4: 3.44, 5: 3.46, 6: 3.57, 7: 3.19, 8: 3.15, 9: 3.44, 10: 3.44, 11: 4.07, 12: 3.73, 13: 3.78, 14: 5.25, 15: 5.424, 16: 5.345, 17: 2.2, 18: 1.615, 19: 1.835, 20: 2.465, 21: 3.52, 22: 3.435, 23: 3.84, 24: 3.845, 25: 1.935, 26: 2.14, 27: 1.513, 28: 3.17, 29: 2.77, 30: 3.57, 31: 2.78}
{0: 16.46, 1: 17.02, 2: 18.61, 3: 19.44, 4: 17.02, 5: 20.22, 6: 15.84, 7: 20.0, 8: 22.9, 9: 18.3, 10: 18.9, 11: 17.4, 12: 17.6, 13: 18.0, 14: 17.98, 15: 17.82, 16: 17.42, 17: 19.47, 18: 18.52, 19: 19.9, 20: 20.01, 21: 16.87, 22: 17.3, 23: 15.41, 24: 17.05, 25: 18.9, 26: 16.7, 27: 16.9, 28: 14.5, 29: 15.5, 30: 14.6, 31: 18.6}
{0: 0, 1: 0, 2: 1, 3: 1, 4: 0, 5: 1, 6: 0, 7: 1, 8: 1, 9: 1, 10: 1, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 1, 18: 1, 19: 1, 20: 1, 21: 0, 22: 0, 23: 0, 24: 0, 25: 1, 26: 0, 27: 1, 28: 0, 29: 0, 30: 0, 31: 1}
{0: 1, 1: 1, 2: 1, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 1, 18: 1, 19: 1, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 1, 26: 1, 27: 1, 28: 1, 29: 1, 30: 1, 31: 1}
{0: 4, 1: 4, 2: 4, 3: 3, 4: 3, 5: 3, 6: 3, 7: 4, 8: 4, 9: 4, 10: 4, 11: 3, 12: 3, 13: 3, 14: 3, 15: 3, 16: 3, 17: 4, 18: 4, 19: 4, 20: 3, 21: 3, 22: 3, 23: 3, 24: 3, 25: 4, 26: 5, 27: 5, 28: 5, 29: 5, 30: 5, 31: 4}
{0: 4, 1: 4, 2: 1, 3: 1, 4: 2, 5: 1, 6: 4, 7: 2, 8: 2, 9: 4, 10: 4, 11: 3, 12: 3, 13: 3, 14: 4, 15: 4, 16: 4, 17: 1, 18: 2, 19: 1, 20: 1, 21: 2, 22: 2, 23: 4, 24: 2, 25: 1, 26: 2, 27: 2, 28: 4, 29: 6, 30: 8, 31: 2}

In [126]:
for key, val in dd.items():
    print(key,":::",val)

mpg ::: {0: 21.0, 1: 21.0, 2: 22.8, 3: 21.4, 4: 18.7, 5: 18.1, 6: 14.3, 7: 24.4, 8: 22.8, 9: 19.2, 10: 17.8, 11: 16.4, 12: 17.3, 13: 15.2, 14: 10.4, 15: 10.4, 16: 14.7, 17: 32.4, 18: 30.4, 19: 33.9, 20: 21.5, 21: 15.5, 22: 15.2, 23: 13.3, 24: 19.2, 25: 27.3, 26: 26.0, 27: 30.4, 28: 15.8, 29: 19.7, 30: 15.0, 31: 21.4}
cyl ::: {0: 6, 1: 6, 2: 4, 3: 6, 4: 8, 5: 6, 6: 8, 7: 4, 8: 4, 9: 6, 10: 6, 11: 8, 12: 8, 13: 8, 14: 8, 15: 8, 16: 8, 17: 4, 18: 4, 19: 4, 20: 4, 21: 8, 22: 8, 23: 8, 24: 8, 25: 4, 26: 4, 27: 4, 28: 8, 29: 6, 30: 8, 31: 4}
disp ::: {0: 160.0, 1: 160.0, 2: 108.0, 3: 258.0, 4: 360.0, 5: 225.0, 6: 360.0, 7: 146.7, 8: 140.8, 9: 167.6, 10: 167.6, 11: 275.8, 12: 275.8, 13: 275.8, 14: 472.0, 15: 460.0, 16: 440.0, 17: 78.7, 18: 75.7, 19: 71.1, 20: 120.1, 21: 318.0, 22: 304.0, 23: 350.0, 24: 400.0, 25: 79.0, 26: 120.3, 27: 95.1, 28: 351.0, 29: 145.0, 30: 301.0, 31: 121.0}
hp ::: {0: 110, 1: 110, 2: 93, 3: 110, 4: 175, 5: 105, 6: 245, 7: 62, 8: 95, 9: 123, 10: 123, 11: 180, 12: 180, 13: 180, 14: 205, 15: 215, 16: 230, 17: 66, 18: 52, 19: 65, 20: 97, 21: 150, 22: 150, 23: 245, 24: 175, 25: 66, 26: 91, 27: 113, 28: 264, 29: 175, 30: 335, 31: 109}
drat ::: {0: 3.9, 1: 3.9, 2: 3.85, 3: 3.08, 4: 3.15, 5: 2.76, 6: 3.21, 7: 3.69, 8: 3.92, 9: 3.92, 10: 3.92, 11: 3.07, 12: 3.07, 13: 3.07, 14: 2.93, 15: 3.0, 16: 3.23, 17: 4.08, 18: 4.93, 19: 4.22, 20: 3.7, 21: 2.76, 22: 3.15, 23: 3.73, 24: 3.08, 25: 4.08, 26: 4.43, 27: 3.77, 28: 4.22, 29: 3.62, 30: 3.54, 31: 4.11}
wt ::: {0: 2.62, 1: 2.875, 2: 2.32, 3: 3.215, 4: 3.44, 5: 3.46, 6: 3.57, 7: 3.19, 8: 3.15, 9: 3.44, 10: 3.44, 11: 4.07, 12: 3.73, 13: 3.78, 14: 5.25, 15: 5.424, 16: 5.345, 17: 2.2, 18: 1.615, 19: 1.835, 20: 2.465, 21: 3.52, 22: 3.435, 23: 3.84, 24: 3.845, 25: 1.935, 26: 2.14, 27: 1.513, 28: 3.17, 29: 2.77, 30: 3.57, 31: 2.78}
qsec ::: {0: 16.46, 1: 17.02, 2: 18.61, 3: 19.44, 4: 17.02, 5: 20.22, 6: 15.84, 7: 20.0, 8: 22.9, 9: 18.3, 10: 18.9, 11: 17.4, 12: 17.6, 13: 18.0, 14: 17.98, 15: 17.82, 16: 17.42, 17: 19.47, 18: 18.52, 19: 19.9, 20: 20.01, 21: 16.87, 22: 17.3, 23: 15.41, 24: 17.05, 25: 18.9, 26: 16.7, 27: 16.9, 28: 14.5, 29: 15.5, 30: 14.6, 31: 18.6}
vs ::: {0: 0, 1: 0, 2: 1, 3: 1, 4: 0, 5: 1, 6: 0, 7: 1, 8: 1, 9: 1, 10: 1, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 1, 18: 1, 19: 1, 20: 1, 21: 0, 22: 0, 23: 0, 24: 0, 25: 1, 26: 0, 27: 1, 28: 0, 29: 0, 30: 0, 31: 1}
am ::: {0: 1, 1: 1, 2: 1, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 1, 18: 1, 19: 1, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 1, 26: 1, 27: 1, 28: 1, 29: 1, 30: 1, 31: 1}
gear ::: {0: 4, 1: 4, 2: 4, 3: 3, 4: 3, 5: 3, 6: 3, 7: 4, 8: 4, 9: 4, 10: 4, 11: 3, 12: 3, 13: 3, 14: 3, 15: 3, 16: 3, 17: 4, 18: 4, 19: 4, 20: 3, 21: 3, 22: 3, 23: 3, 24: 3, 25: 4, 26: 5, 27: 5, 28: 5, 29: 5, 30: 5, 31: 4}
carb ::: {0: 4, 1: 4, 2: 1, 3: 1, 4: 2, 5: 1, 6: 4, 7: 2, 8: 2, 9: 4, 10: 4, 11: 3, 12: 3, 13: 3, 14: 4, 15: 4, 16: 4, 17: 1, 18: 2, 19: 1, 20: 1, 21: 2, 22: 2, 23: 4, 24: 2, 25: 1, 26: 2, 27: 2, 28: 4, 29: 6, 30: 8, 31: 2}

In [127]:
# tuples

In [128]:
df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [129]:
tuple(set(df.cyl))

(8, 4, 6)

In [130]:
common_coll = [tuple(set(df.cyl)),tuple(set(df.gear)),tuple(set(df.carb))]
common_coll

[(8, 4, 6), (3, 4, 5), (1, 2, 3, 4, 6, 8)]

In [131]:
for item in common_coll:
    i1 = item[0]
    i2 = item[1]
    i3 = item[2]
    print(i1)
    print(i2)
    print(i3)

8
4
6
3
4
5
1
2
3

In [132]:
# if you have unequal tuple elements then only the matched ones will be returned

In [135]:
# array

In [136]:
my_array = np.array(df.mpg)

In [137]:
my_array

array([21. , 21. , 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17.8,
       16.4, 17.3, 15.2, 10.4, 10.4, 14.7, 32.4, 30.4, 33.9, 21.5, 15.5,
       15.2, 13.3, 19.2, 27.3, 26. , 30.4, 15.8, 19.7, 15. , 21.4])

In [139]:
from numpy import array

In [140]:
my_array[:0] = 120

In [141]:
my_array1 = list(my_array).append(120)

In [142]:
my_array

array([21. , 21. , 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17.8,
       16.4, 17.3, 15.2, 10.4, 10.4, 14.7, 32.4, 30.4, 33.9, 21.5, 15.5,
       15.2, 13.3, 19.2, 27.3, 26. , 30.4, 15.8, 19.7, 15. , 21.4])

In [143]:
my_array1

In [144]:
import array
from array import *

In [146]:
# size, type of data into the array

In [147]:
# b - integer
# B - unsigned integer
# c - character
# u - unicode character
# h - unsigned integer
# f - floating point (4bytes)
# d - floating point (8bytes)

In [150]:
# python 2 vs 3 error

In [151]:
array('u',['r','b','g'])

array('u', 'rbg')

In [153]:
np.array(df[['mpg','cyl','wt']])

array([[21.   ,  6.   ,  2.62 ],
       [21.   ,  6.   ,  2.875],
       [22.8  ,  4.   ,  2.32 ],
       [21.4  ,  6.   ,  3.215],
       [18.7  ,  8.   ,  3.44 ],
       [18.1  ,  6.   ,  3.46 ],
       [14.3  ,  8.   ,  3.57 ],
       [24.4  ,  4.   ,  3.19 ],
       [22.8  ,  4.   ,  3.15 ],
       [19.2  ,  6.   ,  3.44 ],
       [17.8  ,  6.   ,  3.44 ],
       [16.4  ,  8.   ,  4.07 ],
       [17.3  ,  8.   ,  3.73 ],
       [15.2  ,  8.   ,  3.78 ],
       [10.4  ,  8.   ,  5.25 ],
       [10.4  ,  8.   ,  5.424],
       [14.7  ,  8.   ,  5.345],
       [32.4  ,  4.   ,  2.2  ],
       [30.4  ,  4.   ,  1.615],
       [33.9  ,  4.   ,  1.835],
       [21.5  ,  4.   ,  2.465],
       [15.5  ,  8.   ,  3.52 ],
       [15.2  ,  8.   ,  3.435],
       [13.3  ,  8.   ,  3.84 ],
       [19.2  ,  8.   ,  3.845],
       [27.3  ,  4.   ,  1.935],
       [26.   ,  4.   ,  2.14 ],
       [30.4  ,  4.   ,  1.513],
       [15.8  ,  8.   ,  3.17 ],
       [19.7  ,  6.   ,  2.77 ],
       [15.   ,  8.   ,  3.57 ],
       [21.4  ,  4.   ,  2.78 ]])

In [154]:
np.array(df[['mpg']]).ravel()

array([21. , 21. , 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17.8,
       16.4, 17.3, 15.2, 10.4, 10.4, 14.7, 32.4, 30.4, 33.9, 21.5, 15.5,
       15.2, 13.3, 19.2, 27.3, 26. , 30.4, 15.8, 19.7, 15. , 21.4])

In [155]:
np.array(df[['mpg']]).reshape(2,4,2,2)

array([[[[21. , 21. ],
         [22.8, 21.4]],

        [[18.7, 18.1],
         [14.3, 24.4]],

        [[22.8, 19.2],
         [17.8, 16.4]],

        [[17.3, 15.2],
         [10.4, 10.4]]],


       [[[14.7, 32.4],
         [30.4, 33.9]],

        [[21.5, 15.5],
         [15.2, 13.3]],

        [[19.2, 27.3],
         [26. , 30.4]],

        [[15.8, 19.7],
         [15. , 21.4]]]])

In [156]:
np.array(df[['mpg']]).reshape(2,4,2,2)[0][3][1][0:]

array([10.4, 10.4])

In [157]:
np.array(df[['mpg']]).reshape(2,4,2,2)

array([[[[21. , 21. ],
         [22.8, 21.4]],

        [[18.7, 18.1],
         [14.3, 24.4]],

        [[22.8, 19.2],
         [17.8, 16.4]],

        [[17.3, 15.2],
         [10.4, 10.4]]],


       [[[14.7, 32.4],
         [30.4, 33.9]],

        [[21.5, 15.5],
         [15.2, 13.3]],

        [[19.2, 27.3],
         [26. , 30.4]],

        [[15.8, 19.7],
         [15. , 21.4]]]])

In [158]:
# List Comprehension
# Dict Comprehension

In [ ]:
# Exceptions

In [160]:
squares = []

mpg = list(df.mpg)

for i in mpg:
    squares.append(i*i)
print(squares)

[441.0, 441.0, 519.84, 457.9599999999999, 349.69, 327.61000000000007, 204.49, 595.3599999999999, 519.84, 368.64, 316.84000000000003, 268.96, 299.29, 231.04, 108.16000000000001, 108.16000000000001, 216.08999999999997, 1049.76, 924.16, 1149.2099999999998, 462.25, 240.25, 231.04, 176.89000000000001, 368.64, 745.2900000000001, 676.0, 924.16, 249.64000000000001, 388.09, 225.0, 457.9599999999999]

In [161]:
len(squares)

32

In [162]:
len(mpg)

32

In [163]:
squares = [i*i for i in mpg]
squares

[441.0,
 441.0,
 519.84,
 457.9599999999999,
 349.69,
 327.61000000000007,
 204.49,
 595.3599999999999,
 519.84,
 368.64,
 316.84000000000003,
 268.96,
 299.29,
 231.04,
 108.16000000000001,
 108.16000000000001,
 216.08999999999997,
 1049.76,
 924.16,
 1149.2099999999998,
 462.25,
 240.25,
 231.04,
 176.89000000000001,
 368.64,
 745.2900000000001,
 676.0,
 924.16,
 249.64000000000001,
 388.09,
 225.0,
 457.9599999999999]

In [164]:
import timeit

In [165]:
start = timeit.default_timer()

equation = []

for i in range(100000000):
    equation.append(i*i)
print(equation)

end = timeit.default_timer()

diff = end - start
diff

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

53.772742421999965

In [166]:
start = timeit.default_timer()

[i*i for i in range(100000000)]

end = timeit.default_timer()

diff = end - start
diff

30.962919769999985

In [171]:
# credit scoring, run a score formula for each of the million customers in your database
# lead scoring, run score formula for all the ecommerce leads generated by your website
# intent scoring, run a score formula for all active customers those are live on your website

In [167]:
diff

30.962919769999985

In [168]:
timeit.default_timer()

504.593265491

In [170]:
# dictionary comprehesion

In [172]:
{k:v for k, v in [('key','value')]}

{'key': 'value'}

In [173]:
# please create a sample dict comprehension code using some sample data

In [174]:
d = dict()

In [175]:
d

{}

In [176]:
d = dict(key='value')

In [177]:
d

{'key': 'value'}

In [178]:
d = dict([('key','value')])

In [179]:
d

{'key': 'value'}

In [180]:
d['another_key'] = 44444

In [181]:
d

{'key': 'value', 'another_key': 44444}

In [188]:
car2

['Fiat 128',
 'Honda Civic',
 'Toyota Corolla',
 'Toyota Corona',
 'Dodge Challenger',
 'AMC Javelin',
 'Camaro Z28',
 'Pontiac Firebird',
 'Fiat X1-9',
 'Porsche 914-2',
 'Lotus Europa',
 'Ford Pantera L',
 'Ferrari Dino',
 'Maserati Bora',
 'Volvo 142E']

In [193]:
car1

['Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial']

In [195]:
len(car1)

17

In [196]:
len(car2)

15

In [198]:
dict(zip(car1,car2))

{'Mazda RX4': 'Fiat 128',
 'Mazda RX4 Wag': 'Honda Civic',
 'Datsun 710': 'Toyota Corolla',
 'Hornet 4 Drive': 'Toyota Corona',
 'Hornet Sportabout': 'Dodge Challenger',
 'Valiant': 'AMC Javelin',
 'Duster 360': 'Camaro Z28',
 'Merc 240D': 'Pontiac Firebird',
 'Merc 230': 'Fiat X1-9',
 'Merc 280': 'Porsche 914-2',
 'Merc 280C': 'Lotus Europa',
 'Merc 450SE': 'Ford Pantera L',
 'Merc 450SL': 'Ferrari Dino',
 'Merc 450SLC': 'Maserati Bora',
 'Cadillac Fleetwood': 'Volvo 142E'}

In [199]:
df

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [200]:
df = pd.read_csv('https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv')

In [201]:
df

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
23,Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
24,Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
26,Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [214]:
dict1 = dict(df.model[0:21])

In [215]:
dict2 = dict(df.model[17:])

In [216]:
dict1

{0: 'Mazda RX4',
 1: 'Mazda RX4 Wag',
 2: 'Datsun 710',
 3: 'Hornet 4 Drive',
 4: 'Hornet Sportabout',
 5: 'Valiant',
 6: 'Duster 360',
 7: 'Merc 240D',
 8: 'Merc 230',
 9: 'Merc 280',
 10: 'Merc 280C',
 11: 'Merc 450SE',
 12: 'Merc 450SL',
 13: 'Merc 450SLC',
 14: 'Cadillac Fleetwood',
 15: 'Lincoln Continental',
 16: 'Chrysler Imperial',
 17: 'Fiat 128',
 18: 'Honda Civic',
 19: 'Toyota Corolla',
 20: 'Toyota Corona'}

In [217]:
dict2

{17: 'Fiat 128',
 18: 'Honda Civic',
 19: 'Toyota Corolla',
 20: 'Toyota Corona',
 21: 'Dodge Challenger',
 22: 'AMC Javelin',
 23: 'Camaro Z28',
 24: 'Pontiac Firebird',
 25: 'Fiat X1-9',
 26: 'Porsche 914-2',
 27: 'Lotus Europa',
 28: 'Ford Pantera L',
 29: 'Ferrari Dino',
 30: 'Maserati Bora',
 31: 'Volvo 142E'}

In [218]:
comp = {**dict1,**dict2} # 3.5+

In [219]:
comp

{0: 'Mazda RX4',
 1: 'Mazda RX4 Wag',
 2: 'Datsun 710',
 3: 'Hornet 4 Drive',
 4: 'Hornet Sportabout',
 5: 'Valiant',
 6: 'Duster 360',
 7: 'Merc 240D',
 8: 'Merc 230',
 9: 'Merc 280',
 10: 'Merc 280C',
 11: 'Merc 450SE',
 12: 'Merc 450SL',
 13: 'Merc 450SLC',
 14: 'Cadillac Fleetwood',
 15: 'Lincoln Continental',
 16: 'Chrysler Imperial',
 17: 'Fiat 128',
 18: 'Honda Civic',
 19: 'Toyota Corolla',
 20: 'Toyota Corona',
 21: 'Dodge Challenger',
 22: 'AMC Javelin',
 23: 'Camaro Z28',
 24: 'Pontiac Firebird',
 25: 'Fiat X1-9',
 26: 'Porsche 914-2',
 27: 'Lotus Europa',
 28: 'Ford Pantera L',
 29: 'Ferrari Dino',
 30: 'Maserati Bora',
 31: 'Volvo 142E'}

In [212]:
comp.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [213]:
comp.values()

dict_values(['Mazda RX4', 'Mazda RX4 Wag', 'Datsun 710', 'Hornet 4 Drive', 'Hornet Sportabout', 'Valiant', 'Duster 360', 'Merc 240D', 'Merc 230', 'Merc 280', 'Merc 280C', 'Merc 450SE', 'Merc 450SL', 'Merc 450SLC', 'Cadillac Fleetwood', 'Lincoln Continental', 'Chrysler Imperial', 'Fiat 128', 'Honda Civic', 'Toyota Corolla', 'Toyota Corona', 'Dodge Challenger', 'AMC Javelin', 'Camaro Z28', 'Pontiac Firebird', 'Fiat X1-9', 'Porsche 914-2', 'Lotus Europa', 'Ford Pantera L', 'Ferrari Dino', 'Maserati Bora', 'Volvo 142E'])

In [230]:
name1 = {'maruthi': 'Mazda Rx4','merc ' : 'Merc 280'}
name2 = {'maruthi': 'mazda RX4 wag', "Merc": 'Merc 230'}

In [231]:
{**name1,**name2}

{'maruthi': 'mazda RX4 wag', 'merc ': 'Merc 280', 'Merc': 'Merc 230'}

In [232]:
comp.items()

dict_items([(0, 'Mazda RX4'), (1, 'Mazda RX4 Wag'), (2, 'Datsun 710'), (3, 'Hornet 4 Drive'), (4, 'Hornet Sportabout'), (5, 'Valiant'), (6, 'Duster 360'), (7, 'Merc 240D'), (8, 'Merc 230'), (9, 'Merc 280'), (10, 'Merc 280C'), (11, 'Merc 450SE'), (12, 'Merc 450SL'), (13, 'Merc 450SLC'), (14, 'Cadillac Fleetwood'), (15, 'Lincoln Continental'), (16, 'Chrysler Imperial'), (17, 'Fiat 128'), (18, 'Honda Civic'), (19, 'Toyota Corolla'), (20, 'Toyota Corona'), (21, 'Dodge Challenger'), (22, 'AMC Javelin'), (23, 'Camaro Z28'), (24, 'Pontiac Firebird'), (25, 'Fiat X1-9'), (26, 'Porsche 914-2'), (27, 'Lotus Europa'), (28, 'Ford Pantera L'), (29, 'Ferrari Dino'), (30, 'Maserati Bora'), (31, 'Volvo 142E')])

In [238]:
results = {'split0_test_score'  : [0.80, 0.70, 0.80, 0.93],
'split1_test_score'  : [0.82, 0.50, 0.70, 0.78],
'mean_test_score'    : [0.81, 0.60, 0.75, 0.85],
'std_test_score'     : [0.01, 0.10, 0.05, 0.08],
'rank_test_score'    : [2, 4, 3, 1],
'split0_train_score' : [0.80, 0.92, 0.70, 0.93],
'split1_train_score' : [0.82, 0.55, 0.70, 0.87],
'mean_train_score'   : [0.81, 0.74, 0.70, 0.90],
'std_train_score'    : [0.01, 0.19, 0.00, 0.03],
'mean_fit_time'      : [0.73, 0.63, 0.43, 0.49],
'std_fit_time'       : [0.01, 0.02, 0.01, 0.01],
'mean_score_time'    : [0.01, 0.06, 0.04, 0.04],
'std_score_time'     : [0.00, 0.00, 0.00, 0.01]}

In [239]:
results

{'split0_test_score': [0.8, 0.7, 0.8, 0.93],
 'split1_test_score': [0.82, 0.5, 0.7, 0.78],
 'mean_test_score': [0.81, 0.6, 0.75, 0.85],
 'std_test_score': [0.01, 0.1, 0.05, 0.08],
 'rank_test_score': [2, 4, 3, 1],
 'split0_train_score': [0.8, 0.92, 0.7, 0.93],
 'split1_train_score': [0.82, 0.55, 0.7, 0.87],
 'mean_train_score': [0.81, 0.74, 0.7, 0.9],
 'std_train_score': [0.01, 0.19, 0.0, 0.03],
 'mean_fit_time': [0.73, 0.63, 0.43, 0.49],
 'std_fit_time': [0.01, 0.02, 0.01, 0.01],
 'mean_score_time': [0.01, 0.06, 0.04, 0.04],
 'std_score_time': [0.0, 0.0, 0.0, 0.01]}

In [240]:
from operator import itemgetter, attrgetter

In [244]:
type(results)

dict

In [245]:
results.keys()

dict_keys(['split0_test_score', 'split1_test_score', 'mean_test_score', 'std_test_score', 'rank_test_score', 'split0_train_score', 'split1_train_score', 'mean_train_score', 'std_train_score', 'mean_fit_time', 'std_fit_time', 'mean_score_time', 'std_score_time'])

In [248]:
results.get('rank_test_score')

[2, 4, 3, 1]

In [249]:
results = [{'model':'logistic regression', 'acc': 0.89, 'error': 0.02},
          {'model': 'random forest','acc': 0.98,'error': 0.06}]

In [250]:
by_acc = itemgetter('acc')

In [251]:
results.sort(key=by_acc)

In [252]:
results

[{'model': 'logistic regression', 'acc': 0.89, 'error': 0.02},
 {'model': 'random forest', 'acc': 0.98, 'error': 0.06}]

In [256]:
car1*100

['Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 ...]

In [257]:
car2 +car1

['Fiat 128',
 'Honda Civic',
 'Toyota Corolla',
 'Toyota Corona',
 'Dodge Challenger',
 'AMC Javelin',
 'Camaro Z28',
 'Pontiac Firebird',
 'Fiat X1-9',
 'Porsche 914-2',
 'Lotus Europa',
 'Ford Pantera L',
 'Ferrari Dino',
 'Maserati Bora',
 'Volvo 142E',
 'Mazda RX4',
 'Mazda RX4 Wag',
 'Datsun 710',
 'Hornet 4 Drive',
 'Hornet Sportabout',
 'Valiant',
 'Duster 360',
 'Merc 240D',
 'Merc 230',
 'Merc 280',
 'Merc 280C',
 'Merc 450SE',
 'Merc 450SL',
 'Merc 450SLC',
 'Cadillac Fleetwood',
 'Lincoln Continental',
 'Chrysler Imperial']

In [260]:
list(zip(car1,car2))

[('Mazda RX4', 'Fiat 128'),
 ('Mazda RX4 Wag', 'Honda Civic'),
 ('Datsun 710', 'Toyota Corolla'),
 ('Hornet 4 Drive', 'Toyota Corona'),
 ('Hornet Sportabout', 'Dodge Challenger'),
 ('Valiant', 'AMC Javelin'),
 ('Duster 360', 'Camaro Z28'),
 ('Merc 240D', 'Pontiac Firebird'),
 ('Merc 230', 'Fiat X1-9'),
 ('Merc 280', 'Porsche 914-2'),
 ('Merc 280C', 'Lotus Europa'),
 ('Merc 450SE', 'Ford Pantera L'),
 ('Merc 450SL', 'Ferrari Dino'),
 ('Merc 450SLC', 'Maserati Bora'),
 ('Cadillac Fleetwood', 'Volvo 142E')]

In [261]:
pd.DataFrame(zip(car1,car2))

                     0                 1
0            Mazda RX4          Fiat 128
1        Mazda RX4 Wag       Honda Civic
2           Datsun 710    Toyota Corolla
3       Hornet 4 Drive     Toyota Corona
4    Hornet Sportabout  Dodge Challenger
5              Valiant       AMC Javelin
6           Duster 360        Camaro Z28
7            Merc 240D  Pontiac Firebird
8             Merc 230         Fiat X1-9
9             Merc 280     Porsche 914-2
10           Merc 280C      Lotus Europa
11          Merc 450SE    Ford Pantera L
12          Merc 450SL      Ferrari Dino
13         Merc 450SLC     Maserati Bora
14  Cadillac Fleetwood        Volvo 142E

In [262]:
# set comprehensions ?
# tuple comprehesnions ?

In [263]:
list123 = list(df.mpg)

In [265]:
print(list123)

[21.0, 21.0, 22.8, 21.4, 18.7, 18.1, 14.3, 24.4, 22.8, 19.2, 17.8, 16.4, 17.3, 15.2, 10.4, 10.4, 14.7, 32.4, 30.4, 33.9, 21.5, 15.5, 15.2, 13.3, 19.2, 27.3, 26.0, 30.4, 15.8, 19.7, 15.0, 21.4]

In [266]:
print(list123[::-1]) # reverse

[21.4, 15.0, 19.7, 15.8, 30.4, 26.0, 27.3, 19.2, 13.3, 15.2, 15.5, 21.5, 33.9, 30.4, 32.4, 14.7, 10.4, 10.4, 15.2, 17.3, 16.4, 17.8, 19.2, 22.8, 24.4, 14.3, 18.1, 18.7, 21.4, 22.8, 21.0, 21.0]

In [269]:
print(sorted(list123,reverse=True))

[33.9, 32.4, 30.4, 30.4, 27.3, 26.0, 24.4, 22.8, 22.8, 21.5, 21.4, 21.4, 21.0, 21.0, 19.7, 19.2, 19.2, 18.7, 18.1, 17.8, 17.3, 16.4, 15.8, 15.5, 15.2, 15.2, 15.0, 14.7, 14.3, 13.3, 10.4, 10.4]

In [270]:
print(sorted(list123,reverse=False))

[10.4, 10.4, 13.3, 14.3, 14.7, 15.0, 15.2, 15.2, 15.5, 15.8, 16.4, 17.3, 17.8, 18.1, 18.7, 19.2, 19.2, 19.7, 21.0, 21.0, 21.4, 21.4, 21.5, 22.8, 22.8, 24.4, 26.0, 27.3, 30.4, 30.4, 32.4, 33.9]

In [273]:
set(df.cyl)

{4, 6, 8}

In [274]:
# what is the average mpg by cyl ?

In [277]:
# can we use dict, list or linked list to solve this ?

In [279]:
# reading data from external file systems:

In [280]:
import os

In [282]:
os.getcwd()

'/Users/pradmishra/Desktop/Reva University/MTech in AI Course/AI-02 Batch'

In [285]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data',
                header=None)

In [287]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8124 non-null   object
 1   1       8124 non-null   object
 2   2       8124 non-null   object
 3   3       8124 non-null   object
 4   4       8124 non-null   object
 5   5       8124 non-null   object
 6   6       8124 non-null   object
 7   7       8124 non-null   object
 8   8       8124 non-null   object
 9   9       8124 non-null   object
 10  10      8124 non-null   object
 11  11      8124 non-null   object
 12  12      8124 non-null   object
 13  13      8124 non-null   object
 14  14      8124 non-null   object
 15  15      8124 non-null   object
 16  16      8124 non-null   object
 17  17      8124 non-null   object
 18  18      8124 non-null   object
 19  19      8124 non-null   object
 20  20      8124 non-null   object
 21  21      8124 non-null   object
 22  22      8124 non-null   object
dtypes: object(23)
memory usage: 1.4+ MB

In [288]:
df.head()

  0  1  2  3  4  5  6  7  8  9   ... 13 14 15 16 17 18 19 20 21 22
0  p  x  s  n  t  p  f  c  n  k  ...  s  w  w  p  w  o  p  k  s  u
1  e  x  s  y  t  a  f  c  b  k  ...  s  w  w  p  w  o  p  n  n  g
2  e  b  s  w  t  l  f  c  b  n  ...  s  w  w  p  w  o  p  n  n  m
3  p  x  y  w  t  p  f  c  n  n  ...  s  w  w  p  w  o  p  k  s  u
4  e  x  s  g  f  n  f  w  b  k  ...  s  w  w  p  w  o  e  n  a  g

[5 rows x 23 columns]

In [296]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data',
                header=None,nrows=100)

In [297]:
df.head()

       0      1  2  3      4     5      6
0  vhigh  vhigh  2  2  small   low  unacc
1  vhigh  vhigh  2  2  small   med  unacc
2  vhigh  vhigh  2  2  small  high  unacc
3  vhigh  vhigh  2  2    med   low  unacc
4  vhigh  vhigh  2  2    med   med  unacc

In [298]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       100 non-null    object
 1   1       100 non-null    object
 2   2       100 non-null    object
 3   3       100 non-null    object
 4   4       100 non-null    object
 5   5       100 non-null    object
 6   6       100 non-null    object
dtypes: object(7)
memory usage: 5.6+ KB